<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      data-layout-decorate="~{fragments/layout}">
    <head>
        <title>Qualidade de Vida | [[${@projectSettings.getName()}]]</title>
    </head>
    <body>
        <div id="page-wrapper" data-layout-fragment="content">
            <div class="container-fluid">
                <form id="form-manutencao" method="POST" th:action="@{/qualidadeVida/salvar}" th:object="${obj}" style="margin-top: 10px">

                    <div class="panel panel-default" style="margin-top: 10px">

                        <div class="panel-heading">
                            <div class="clearfix">
                                <div class="pull-right">
                                    <a th:href="@{/qualidadeVida/formulario-qualidade-de-vida}" target="_blank" style="margin-right: 5px;" class="btn-link">Formulário</a>
                                    <a th:href="@{/qualidadeVida(idPaciente=${idPaciente},nmPaciente=${nmPaciente})}">Voltar</a>
                                    <!--<button type="submit" class="btn btn-primary">Gravar</button>-->
                                </div>
                                <ol class="breadcrumb" style="margin-bottom: 0px; padding-left: 0px; padding-bottom: 0px;padding-top: 0px; margin-top: 5px;">
                                    <li class="breadcrumb-item active">Qualidade de Vida</li>
                                </ol>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel-body">

                                <div class="alert alert-success" th:text="${mensagem}" 
                                     th:if="${not #strings.isEmpty(mensagem)}"></div>

                                <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                                    <div th:each="detailedError : ${#fields.detailedErrors()}">
                                        <span th:text="${detailedError.message}"></span>
                                    </div>
                                </div>
                                
                                <div  class="alert alert-danger alert-dismissable fade in "
                                    th:if="${not #strings.isEmpty(mensagemErr)}">
                                   <label th:text="${mensagemErr}"/>
                                   <a href="#" class="close" id="closeNotification" data-dismiss="alert" aria-label="close">x</a>
                               </div> 

                                <div class="panel-body">
                                    <input type="hidden" th:field="*{id}"/>
                                    <input type="hidden" th:field="*{paciente.idPaciente}"/>
                                    <input type="hidden" th:field="*{paciente.pessoa.nmPessoa}"/>
                                    
                                    <div class="row">
                                        
                                        <h5 class="col-sm-12 qol">
                                            Por favor, tenha em mente os seus valores, esperanças, prazeres e preocupações. Pedimos que
                                            pense na sua vida <strong>nas duas últimas semanas</strong>.
                                            <br/>
                                            As seguintes questões perguntam sobre o <strong>quanto</strong> você tem tido certos sentimentos nas
                                            últimas duas semanas. 
                                        </h5>
                                        
                                        <p>Q.1 Até que ponto as perdas nos seus sentidos (por exemplo, audição, visão, paladar, olfato, tato), afetam a sua vida diária?</p>
                                        <div class="form-group col-sm-12 qualidade-vida-resposta" th:classappend="${#fields.hasErrors('q1_ivt')} ? has-error">
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q1_ivt}" th:value="5"></input>
                                                Nada (1)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q1_ivt}" th:value="4"></input>
                                                Muito pouco (2)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q1_ivt}" th:value="3"></input>
                                                Mais ou menos (3)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q1_ivt}" th:value="2"></input>
                                                Bastante (4)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q1_ivt}" th:value="1"></input>
                                                Extremamente (5) 
                                            </label>
                                        </div>
                                        
                                        
                                        
                                        
                                        
                                        
                                        <p>Q.2 Até que ponto a perda de, por exemplo, audição, visão, paladar, olfato, tato, afeta a sua capacidade de participar em atividades?</p>
                                        <div class="form-group col-sm-12 qualidade-vida-resposta" th:classappend="${#fields.hasErrors('q2_ivt')} ? has-error">
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q2_ivt}" th:value="5"></input>
                                                Nada (1)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q2_ivt}" th:value="4"></input>
                                                Muito pouco (2)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q2_ivt}" th:value="3"></input>
                                                Mais ou menos (3)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q2_ivt}" th:value="2"></input>
                                                Bastante (4)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q2_ivt}" th:value="1"></input>
                                                Extremamente (5) 
                                            </label>
                                        </div>
                                        
                                        
                                        
                                        

                                        <p>Q.3 Quanta liberdade você tem de tomar as suas próprias decisões?</p>
                                        <div class="form-group col-sm-12 qualidade-vida-resposta" th:classappend="${#fields.hasErrors('q3')} ? has-error">
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q3}" th:value="1"></input>
                                                Nada (1)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q3}" th:value="2"></input>
                                                Muito pouco (2)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q3}" th:value="3"></input>
                                                Mais ou menos (3)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q3}" th:value="4"></input>
                                                Bastante (4)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q3}" th:value="5"></input>
                                                Extremamente (5) 
                                            </label>
                                        </div>
                                        
                                        
                                        
                                        

                                        <p>Q.4 Até que ponto você sente que controla o seu futuro? </p>
                                        <div class="form-group col-sm-12 qualidade-vida-resposta" th:classappend="${#fields.hasErrors('q4')} ? has-error">
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q4}" th:value="1"></input>
                                                Nada (1)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q4}" th:value="2"></input>
                                                Muito pouco (2)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q4}" th:value="3"></input>
                                                Mais ou menos (3)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q4}" th:value="4"></input>
                                                Bastante (4)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q4}" th:value="5"></input>
                                                Extremamente (5) 
                                            </label>
                                        </div>

                                        
                                        
                                        <p>Q.5 O quanto você sente que as pessoas ao seu redor respeitam a sua liberdade?  </p>
                                        <div class="form-group col-sm-12 qualidade-vida-resposta" th:classappend="${#fields.hasErrors('q5')} ? has-error">
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q5}" th:value="1"></input>
                                                Nada (1)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q5}" th:value="2"></input>
                                                Muito pouco (2)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q5}" th:value="3"></input>
                                                Mais ou menos (3)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q5}" th:value="4"></input>
                                                Bastante (4)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q5}" th:value="5"></input>
                                                Extremamente (5) 
                                            </label>
                                        </div>

                                        
                                        
                                        
                                        <p>Q.6 Quão preocupado você está com a maneira pela qual irá morrer? </p>
                                        <div class="form-group col-sm-12 qualidade-vida-resposta" th:classappend="${#fields.hasErrors('q6_ivt')} ? has-error">
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q6_ivt}" th:value="5"></input>
                                                Nada (1)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q6_ivt}" th:value="4"></input>
                                                Muito pouco (2)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q6_ivt}" th:value="3"></input>
                                                Mais ou menos (3)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q6_ivt}" th:value="2"></input>
                                                Bastante (4)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q6_ivt}" th:value="1"></input>
                                                Extremamente (5) 
                                            </label>
                                        </div>

                                        
                                        
                                        
                                        
                                        <p>Q.7 O quanto você tem medo de não poder controlar a sua morte?</p>
                                        <div class="form-group col-sm-12 qualidade-vida-resposta" th:classappend="${#fields.hasErrors('q7_ivt')} ? has-error">
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q7_ivt}" th:value="5"></input>
                                                Nada (1)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q7_ivt}" th:value="4"></input>
                                                Muito pouco (2)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q7_ivt}" th:value="3"></input>
                                                Mais ou menos (3)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q7_ivt}" th:value="2"></input>
                                                Bastante (4)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q7_ivt}" th:value="1"></input>
                                                Extremamente (5) 
                                            </label>
                                        </div>

                                        
                                        
                                        
                                        
                                        <p>Q.8 O quanto você tem medo de morrer?</p>
                                        <div class="form-group col-sm-12 qualidade-vida-resposta" th:classappend="${#fields.hasErrors('q8_ivt')} ? has-error">
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q8_ivt}" th:value="5"></input>
                                                Nada (1)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q8_ivt}" th:value="4"></input>
                                                Muito pouco (2)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q8_ivt}" th:value="3"></input>
                                                Mais ou menos (3)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q8_ivt}" th:value="2"></input>
                                                Bastante (4)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q8_ivt}" th:value="1"></input>
                                                Extremamente (5) 
                                            </label>
                                        </div>

                                        
                                        
                                        <p>Q.9 O quanto você teme sofrer dor antes de morrer?</p>
                                        <div class="form-group col-sm-12 qualidade-vida-resposta" th:classappend="${#fields.hasErrors('q9_ivt')} ? has-error">
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q9_ivt}" th:value="5"></input>
                                                Nada (1)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q9_ivt}" th:value="4"></input>
                                                Muito pouco (2)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q9_ivt}" th:value="3"></input>
                                                Mais ou menos (3)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q9_ivt}" th:value="2"></input>
                                                Bastante (4)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q9_ivt}" th:value="1"></input>
                                                Extremamente (5) 
                                            </label>
                                        </div>

                                        <h5 class="col-sm-12 qol">As seguintes questões perguntam sobre quão completamente você fez ou se sentiu apto a fazer algumas coisas nas duas últimas semanas. </h5>
                                        
                                        
                                        <p>Q.10 Até que ponto o funcionamento dos seus sentidos (por exemplo, audição, visão, paladar, olfato, tato) afeta a sua capacidade de interagir com outras pessoas?</p>
                                        <div class="form-group col-sm-12 qualidade-vida-resposta" th:classappend="${#fields.hasErrors('q10_ivt')} ? has-error">
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q10_ivt}" th:value="5"></input>
                                                Nada (1)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q10_ivt}" th:value="4"></input>
                                                Muito pouco (2)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q10_ivt}" th:value="3"></input>
                                                Mais ou menos (3)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q10_ivt}" th:value="2"></input>
                                                Bastante (4)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q10_ivt}" th:value="1"></input>
                                                Extremamente (5) 
                                            </label>
                                        </div>
                                        
                                        
                                        
                                        
                                        <p>Q.11 Até que ponto você consegue fazer as coisas que gostaria de fazer? </p>
                                        <div class="form-group col-sm-12 qualidade-vida-resposta" th:classappend="${#fields.hasErrors('q11')} ? has-error">
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q11}" th:value="1"></input>
                                                Nada (1)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q11}" th:value="2"></input>
                                                Muito pouco (2)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q11}" th:value="3"></input>
                                                Mais ou menos (3)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q11}" th:value="4"></input>
                                                Bastante (4)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q11}" th:value="5"></input>
                                                Extremamente (5) 
                                            </label>
                                        </div>
                                        
                                        
                                        
                                        <p>Q.12 Até que ponto você está satisfeito com as suas oportunidades para continuar alcançando outras realizações na sua vida? </p>
                                        <div class="form-group col-sm-12 qualidade-vida-resposta" th:classappend="${#fields.hasErrors('q12')} ? has-error">
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q12}" th:value="1"></input>
                                                Nada (1)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q12}" th:value="2"></input>
                                                Muito pouco (2)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q12}" th:value="3"></input>
                                                Mais ou menos (3)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q12}" th:value="4"></input>
                                                Bastante (4)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q12}" th:value="5"></input>
                                                Extremamente (5) 
                                            </label>
                                        </div>

                                        
                                        <p>Q.13 O quanto você sente que recebeu o reconhecimento que merece na sua vida? </p>
                                        <div class="form-group col-sm-12 qualidade-vida-resposta" th:classappend="${#fields.hasErrors('q13')} ? has-error">
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q13}" th:value="1"></input>
                                                Nada (1)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q13}" th:value="2"></input>
                                                Muito pouco (2)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q13}" th:value="3"></input>
                                                Mais ou menos (3)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q13}" th:value="4"></input>
                                                Bastante (4)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q13}" th:value="5"></input>
                                                Extremamente (5) 
                                            </label>
                                        </div>

                                        
                                        <p>Q.14 Até que ponto você sente que tem o suficiente para fazer em cada dia? </p>
                                        <div class="form-group col-sm-12 qualidade-vida-resposta" th:classappend="${#fields.hasErrors('q14')} ? has-error">
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q14}" th:value="1"></input>
                                                Nada (1)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q14}" th:value="2"></input>
                                                Muito pouco (2)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q14}" th:value="3"></input>
                                                Mais ou menos (3)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q14}" th:value="4"></input>
                                                Bastante (4)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q14}" th:value="5"></input>
                                                Extremamente (5) 
                                            </label>
                                        </div>
                                        
                                        
                                        <h5 class="col-sm-12 qol">As seguintes questões pedem a você que diga o quanto você se sentiu satisfeito, feliz ou bem sobre vários aspectos de sua vida nas duas últimas semanas.</h5>

                                        
                                        
                                        <p>Q.15 Quão satisfeito você está com aquilo que alcançou na sua vida? </p>
                                        <div class="form-group col-sm-12 qualidade-vida-resposta" th:classappend="${#fields.hasErrors('q15')} ? has-error">
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q15}" th:value="1"></input>
                                                Muito insatisfeito (1)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q15}" th:value="2"></input>
                                                Insatisfeito (2)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q15}" th:value="3"></input>
                                                Nem satisfeito nem insatisfeito (3)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q15}" th:value="4"></input>
                                                Satisfeito (4)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q15}" th:value="5"></input>
                                                Muito satisfeito (5) 
                                            </label>
                                        </div>

                                        
                                        
                                        <p>Q.16 Quão satisfeito você está com a maneira com a qual você usa o seu tempo? </p>
                                        <div class="form-group col-sm-12 qualidade-vida-resposta" th:classappend="${#fields.hasErrors('q16')} ? has-error">
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q16}" th:value="1"></input>
                                                Muito insatisfeito (1)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q16}" th:value="2"></input>
                                                Insatisfeito (2)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q16}" th:value="3"></input>
                                                Nem satisfeito nem insatisfeito (3)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q16}" th:value="4"></input>
                                                Satisfeito (4)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q16}" th:value="5"></input>
                                                Muito satisfeito (5) 
                                            </label>
                                        </div>

                                        
                                        
                                        <p>Q.17 Quão satisfeito você está com o seu nível de atividade? </p>
                                        <div class="form-group col-sm-12 qualidade-vida-resposta" th:classappend="${#fields.hasErrors('q17')} ? has-error">
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q17}" th:value="1"></input>
                                                Muito insatisfeito (1)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q17}" th:value="2"></input>
                                                Insatisfeito (2)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q17}" th:value="3"></input>
                                                Nem satisfeito nem insatisfeito (3)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q17}" th:value="4"></input>
                                                Satisfeito (4)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q17}" th:value="5"></input>
                                                Muito satisfeito (5) 
                                            </label>
                                        </div>
                                        
                                        

                                        
                                        
                                        <p>Q.18 Quão satisfeito você está com as oportunidades que você tem para participar de atividades da comunidade? </p>
                                        <div class="form-group col-sm-12 qualidade-vida-resposta" th:classappend="${#fields.hasErrors('q18')} ? has-error">
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q18}" th:value="1"></input>
                                                Muito insatisfeito (1)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q18}" th:value="2"></input>
                                                Insatisfeito (2)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q18}" th:value="3"></input>
                                                Nem satisfeito nem insatisfeito (3)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q18}" th:value="4"></input>
                                                Satisfeito (4)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q18}" th:value="5"></input>
                                                Muito satisfeito (5) 
                                            </label>
                                        </div>
                                        
                                        
                                        

                                        
                                        
                                        <p>Q.19 Quão feliz você está com as coisas que você pode esperar daqui para frente? </p>
                                        <div class="form-group col-sm-12 qualidade-vida-resposta" th:classappend="${#fields.hasErrors('q19')} ? has-error">
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q19}" th:value="1"></input>
                                                Muito infeliz (1)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q19}" th:value="2"></input>
                                                Infeliz (2)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q19}" th:value="3"></input>
                                                Nem feliz nem infeliz (3)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q19}" th:value="4"></input>
                                                Feliz (4)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q19}" th:value="5"></input>
                                                Muito feliz (5) 
                                            </label>
                                        </div>
                                        
                                        
                                        

                                        
                                        
                                        <p>Q.20 Como você avaliaria o funcionamento dos seus sentidos (por exemplo, audição, visão, paladar, olfato, tato)?  </p>
                                        <div class="form-group col-sm-12 qualidade-vida-resposta" th:classappend="${#fields.hasErrors('q20')} ? has-error">
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q20}" th:value="1"></input>
                                                Muito ruim (1)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q20}" th:value="2"></input>
                                                Ruim (2)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q20}" th:value="3"></input>
                                                Nem ruim nem boa (3)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q20}" th:value="4"></input>
                                                Boa (4)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q20}" th:value="5"></input>
                                                Muito boa (5) 
                                            </label>
                                        </div>
                                        
                                        
                                        
                                        <h5 class="col-sm-12 qol">As seguintes questões se referem a qualquer relacionamento íntimo que você possa ter. Por
                                        favor, considere estas questões em relação a um companheiro ou uma pessoa próxima com a
                                        qual você pode compartilhar (dividir) sua intimidade mais do que com qualquer outra pessoa
                                        em sua vida. </h5>
                                        
                                        
                                        <p>Q.21 Até que ponto você tem um sentimento de companheirismo em sua vida? </p>
                                        <div class="form-group col-sm-12 qualidade-vida-resposta" th:classappend="${#fields.hasErrors('q21')} ? has-error">
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q21}" th:value="1"></input>
                                                Nada (1)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q21}" th:value="2"></input>
                                                Muito pouco (2)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q21}" th:value="3"></input>
                                                Mais ou menos (3)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q21}" th:value="4"></input>
                                                Bastante (4)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q21}" th:value="5"></input>
                                                Extremamente (5) 
                                            </label>
                                        </div>
                                        
                                        
                                        <p>Q.22 Até que ponto você sente amor em sua vida? </p>
                                        <div class="form-group col-sm-12 qualidade-vida-resposta" th:classappend="${#fields.hasErrors('q22')} ? has-error">
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q22}" th:value="1"></input>
                                                Nada (1)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q22}" th:value="2"></input>
                                                Muito pouco (2)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q22}" th:value="3"></input>
                                                Mais ou menos (3)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q22}" th:value="4"></input>
                                                Bastante (4)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q22}" th:value="5"></input>
                                                Extremamente (5) 
                                            </label>
                                        </div>
                                        
                                        
                                        
                                        <p>Q.23 Até que ponto você tem oportunidades para amar? </p>
                                        <div class="form-group col-sm-12 qualidade-vida-resposta" th:classappend="${#fields.hasErrors('q23')} ? has-error">
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q23}" th:value="1"></input>
                                                Nada (1)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q23}" th:value="2"></input>
                                                Muito pouco (2)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q23}" th:value="3"></input>
                                                Mais ou menos (3)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q23}" th:value="4"></input>
                                                Bastante (4)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q23}" th:value="5"></input>
                                                Extremamente (5) 
                                            </label>
                                        </div>
                                        
                                        
                                        
                                        
                                        
                                        <p>Q.24 Até que ponto você tem oportunidades para ser amado?</p>
                                        <div class="form-group col-sm-12 qualidade-vida-resposta" th:classappend="${#fields.hasErrors('q24')} ? has-error">
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q24}" th:value="1"></input>
                                                Nada (1)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q24}" th:value="2"></input>
                                                Muito pouco (2)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q24}" th:value="3"></input>
                                                Mais ou menos (3)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q24}" th:value="4"></input>
                                                Bastante (4)
                                            </label>
                                            <label class="font-300">
                                                <input type="radio" th:field="*{q24}" th:value="5"></input>
                                                Extremamente (5) 
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                
                                <button type="submit" class="btn btn-primary btn-fixed-botton square" style="margin-top: 5px;">Gravar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
