<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{fragments/layout}">
    <head>
        <title>Qualidade de Vida | [[${@projectSettings.getName()}]]</title>
    </head>
    <body>
        <div id="page-wrapper" class="no-padding" data-layout-fragment="content">
            <input type="hidden" id="base-url" th:value="@{/}"/>
            <div class="container-fluid">
                <div class="panel panel-default" style="margin-top: 10px">

                    <div class="panel-heading">
                        <div class="clearfix">
                            <div class="pull-right">
                                <a th:href="@{/qualidadeVida/formulario-qualidade-de-vida}" target="_blank" class="btn-link">Formulário</a>
                                <button type="button" form="form-relatorio" onclick="exibeRelatorio();" class="btn-link">Relatório</button>
                                <button type="button" form="form-novo" onclick="abreInsercao();" class="btn-link">Novo</button>
                            </div>
                            <h1 class="panel-title aw-titulo-panel">Qualidade de Vida</h1>
                        </div>
                    </div>
                    <div class="panel-body">
                        
                        
                        <div  class="alert alert-success alert-dismissable fade in "
                             th:if="${not #strings.isEmpty(mensagem)}">
                            <label th:text="${mensagem}"/>
                            <a href="#" class="close" id="closeNotification" data-dismiss="alert" aria-label="close">x</a>
                        </div>          
                        
                        <div  class="alert alert-danger alert-dismissable fade in "
                             th:if="${not #strings.isEmpty(mensagemErr)}">
                            <label th:text="${mensagemErr}"/>
                            <a href="#" class="close" id="closeNotification" data-dismiss="alert" aria-label="close">x</a>
                        </div>          
                        
                        <div id="js-replace"></div>
                        

                        <div class="form-horizontal panel-body form-group">
                            <input type="hidden" id="codigo" th:value="${idPaciente}" />
                            <div class="form-group" style="margin: 5px; padding: 0px;">
                                <input id="filter-paciente" class="form-control" placeholder="Qual paciente você está procurando?" autofocus="autofocus" th:value="${nmPaciente}" onkeypress="changePaciente()"/>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-responsive table-bordered" id="table-medicamentos">
                                <thead id="head_table">
                                    <tr>
                                        <th>
                                            <input type="checkbox" id="selectAll"/>
                                        </th>
                                        <th>Data</th>
                                        <th>Tipo</th>
                                        <th>Domínio Habilidades Sensoriais </th>
                                        <th>Domínio Autonomia</th>
                                        <th>Domínio Atividades Passadas, Presente e Futuro</th>
                                        <th>Domínio Participação Social</th>
                                        <th>Domínio Morte e Morrer</th>
                                        <th>Domínio Intimidade</th>
                                        <th>Total</th>
                                       
                                        <th th:if="${session.user_id_admin != null and session.user_id_admin}" id="th_buttons"></th>
                                    </tr>
                                </thead>

                                <tbody id="body_table"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
            <form id="form-novo" th:action="@{/qualidadeVida/formulario}" method="POST">
                <input type="hidden" id="novo-codigo" name="idPaciente" th:value="${idPaciente}"/>
                <input type="hidden" id="novo-nome" name="nmPaciente" th:value="${nmPaciente}"/>
            </form>
            
            <form id="form-edicao" th:action="@{/qualidadeVida/formulario}" method="POST">
                <input type="hidden" id="edicao-codigo" name="idPaciente" th:value="${idPaciente}"/>
                <input type="hidden" id="edicao-nome" name="nmPaciente" th:value="${nmPaciente}"/>
                <input type="hidden" id="edicao-id" name="id"/>
            </form>
            
            <form id="form-relatorio" method="POST" target='_blank' th:action="@{/qualidadeVida/pdf}">
                <input type="hidden" id="rel-codigos" name="codigos[]" />
            </form>
            
            <div th:replace="fragments/dialogoConfirmacaoExclusao :: dialog('/qualidadeVida')"></div>

            <script th:if="${@projectSettings.getProduction() == 'true'}" th:src="@{'/static/js/qualidadeVida.min.js?v=' + ${@projectSettings.getVersion()}}"></script>
            <script th:if="${@projectSettings.getProduction() == 'false'}" th:src="@{'/static/js/qualidadeVida.js?v=' + ${@projectSettings.getVersion()}}"></script>
    </body>
</html>