<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      data-layout-decorate="~{fragments/layout}">
    <head>
        <title>Controle de EPI | [[${@projectSettings.getName()}]]</title>
    </head>
    <body>
        <div id="page-wrapper" class="no-padding" data-layout-fragment="content">
            <div class="container-fluid">
                <form id="form-relatorio" method="GET" class="form-horizontal panel-body form-group" target='_blank' th:action="@{/controleEpi/pdf}" th:object="${filtro}">
                    <input type="hidden" id="rel-codigo" th:field="*{id}" />
                    <input type="hidden" id="rel-descricao" th:field="*{descricao}" />
                    <input type="hidden" id="rel-descricao2" th:field="*{descricao2}" />
                    <input type="hidden" id="rel-date1" th:field="*{date1}" />
                    <input type="hidden" id="rel-date2" th:field="*{date2}" />
                </form>
                <div class="panel panel-default" style="margin-top: 10px">

                    <div class="panel-heading">
                        <div class="clearfix">
                            <div class="pull-right">
                                <button type="button" form="form-relatorio" onclick="validaRelatorio();" class="btn-link">Relatório</button>
                                <button type="button" form="form-novo" onclick="novo();" class="btn-link">Novo</button>
                            </div>
                            <h1 class="panel-title aw-titulo-panel">Controle de EPI</h1>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-success alert-dismissable fade in"
                             th:if="${not #strings.isEmpty(mensagem)}">
                            <label th:text="${mensagem}"/>
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                        </div>
                        <div class="alert alert-danger alert-dismissable fade in"
                             th:if="${not #strings.isEmpty(mensagemError)}">
                            <label th:text="${mensagemError}"/>
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                        </div>
                        <div id="js-replace"></div>

                        <ul class="nav nav-tabs">
                            <li class="active"><a id="link-tab-filtro" href="#tab-filtro" data-toggle="tab">Filtro</a></li>
                            <li><a id="link-tab-manutencao" href="#tab-manutencao" data-toggle="tab">Formulário</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab-filtro">
                                <form id="form-filtro" method="GET" class="form-horizontal panel-body form-group" th:action="@{/controleEpi}" th:object="${filtro}" autocomplete="off">
                                    <div class="form-group col-sm-2" style="margin: 5px; padding: 0px;">
                                        <input id="filter-dsEpi" class="form-control" placeholder="Descrição EPI" autofocus="autofocus" th:field="*{descricao}"/>
                                    </div>
                                    <div class="form-group col-sm-2" style="margin: 5px; padding: 0px;">
                                        <input id="codigo" type="number" class="form-control" placeholder="C.A." th:field="*{id}"/>
                                    </div>
                                    <div class="form-group col-sm-2" style="margin: 5px; padding: 0px;">
                                        <input id="filter-func" class="form-control" placeholder="Responsável" th:field="*{descricao2}"/>
                                    </div>
                                    <div class="form-group col-sm-2" style="margin: 5px; padding: 0px;">
                                        <input type="text" class="form-control"	id="filter-date1" th:field="*{date1}" placeholder="Período Inicial" 
                                               data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-language="pt-BR"
                                               data-date-autoclose="true" data-date-today-highlight="true" data-date-orientation="bottom"/>
                                    </div>
                                    <div class="form-group col-sm-2" style="margin: 5px; padding: 0px;">
                                        <input type="text" class="form-control"	id="filter-date2" th:field="*{date2}" placeholder="Período Final"
                                               data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-language="pt-BR"
                                               data-date-autoclose="true" data-date-today-highlight="true" data-date-orientation="bottom"/>
                                    </div>
                                    <div class="form-group col-sm-1" style="margin: 5px; padding: 0px;">
                                        <input type="submit" value="Buscar" class="btn-primary form-control"></input>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="tab-manutencao">
                                <form id="form-novo" method="POST" th:action="@{/controleEpi}" th:object="${obj}" autocomplete="off">
                                    <div class="panel-body" style="padding-bottom: 0px;padding-top: 10px;padding-right: 0px;padding-left: 0px;">
                                        <input type="hidden" th:field="*{id}"/> 
                                        <div class="form-group col-sm-3" th:classappend="${#fields.hasErrors('dtEntrega')} ? has-error">
                                            <label for="data" class="control-label">Data Retirada</label>
                                            <input required="true" type="text" class="form-control"	id="data" th:field="*{dtEntrega}"
                                                   autocomplete="off"
                                                   data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-language="pt-BR"
                                                   data-date-autoclose="true" data-date-today-highlight="true" data-date-orientation="bottom"/>
                                        </div>
                                        <div class="form-group col-sm-3" th:classappend="${#fields.hasErrors('dtEntrega')} ? has-error">
                                            <label for="data-devolucao" class="control-label">Data Devolução</label>
                                            <input type="text" class="form-control"	id="data-devolucao" th:field="*{dtDevolucao}"
                                                   autocomplete="off"
                                                   data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-language="pt-BR"
                                                   data-date-autoclose="true" data-date-today-highlight="true" data-date-orientation="bottom"/>
                                        </div>
                                        <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('ca')} ? has-error">
                                            <label for="ca" class="control-label">C.A.</label>
                                            <input type="phone" class="form-control" maxlength="50" th:value="*{ca}" name="ca" id="ca" placeholder="c.a." />
                                        </div>
                                        <div class="form-group col-sm-3" th:classappend="${#fields.hasErrors('qtd')} ? has-error">
                                            <label for="qtd" class="control-label">Quantidade</label>
                                            <input type="phone" class="form-control js-int" maxlength="9" th:value="*{qtd}" name="qtd" id="qtd" placeholder="quantidade" />
                                        </div>
                                        <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('dsEpi')} ? has-error">
                                            <label for="nome" class="control-label">Descriçao EPI</label>
                                            <input required="true" type="text" class="form-control" maxlength="250" id="nome" th:field="*{dsEpi}" placeholder="descrição epi" />
                                        </div>

                                        <div class="form-group col-sm-3 text-right" style="padding-left: 0px;padding-right: 0px;">
                                            </br>
                                            <button type="submit" class="btn btn-primary" id="btn-gravar" th:text="*{id} != null ? Editar : Inserir">Gravar</button>
                                            <button type="button" class="btn btn-link" onclick="cancelar()">Cancelar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        
                        <div class="table-responsive">
                            <table class="table table-hover table-striped" id="tab-default">
                                <thead>
                                    <tr>
                                        <th>Data Retirada</th>
                                        <th>Data Devolução</th>
                                        <th>C.A.</th>
                                        <th>QTD</th>
                                        <th>EPI</th>
                                        <th>Responsável</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="obj : ${lista}">
                                        <td th:text="${{obj.dtEntrega}}"></td>
                                        <td th:text="${{obj.dtDevolucao}}"></td>
                                        <td th:text="${obj.ca}"></td>
                                        <td th:text="${obj.qtd}"></td>
                                        <td th:text="${obj.dsEpi}"></td>
                                        <td th:text="${obj.login.pessoa.nmPessoa}"></td>
                                        <td class="col-sm-1 text-right">
                                            <button class="btn btn-link btn-xs" th:onclick="'editar(' + ${obj.id} + ')'" th:href="@{'/controleEpi/' + ${obj.id}}" 
                                               title="Editar" rel="tooltip" data-placement="top">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>
                                            <a lass="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmacaoExclusaoModal"
                                               th:attr="data-codigo=${obj.id}, data-descricao=${obj.dsEpi}"
                                               title="Excluir" rel="tooltip" data-placement="top">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" id="base-url" th:value="@{/controleEpi/}"/>
            <div th:replace="fragments/dialogoConfirmacaoExclusao :: dialog('/controleEpi')"></div>

            <script>

                function cancelar() {
                    window.location = $("#base-url").val();
                }
                
                function editar(id) {
                    getRequest($("#base-url").val() + "getById/" + id)
                            .then(function (data) {
                                $("#id").val(data.id);
                                $("#data").val(data.dtEntrega);
                                $("#data-devolucao").val(data.dtDevolucao);
                                $("#ca").val(data.ca);
                                $("#qtd").val(data.qtd);
                                $("#nome").val(data.dsEpi);
                                $("#btn-gravar").html("Editar")
                                document.getElementById("link-tab-manutencao").click();
                                $("#nome").focus();
                            })
                            .catch(function (err) {
                                console.log("Erro ao tentar editar controle EPI.", err);
                                swal("Erro ao tentar editar controle EPI.");
                            });
                }

                function validaRelatorio() {
                    var codigo = $("#codigo").val();
                    var descricao = $("#filter-dsEpi").val();
                    var descricao2 = $("#filter-func").val();
                    var date1 = $("#filter-date1").val();
                    var date2 = $("#filter-date2").val();

                    $("#rel-codigo").val(codigo);
                    $("#rel-descricao").val(descricao);
                    $("#rel-descricao2").val(descricao2);
                    $("#rel-date1").val(date1);
                    $("#rel-date2").val(date2);

                    $("#form-relatorio").submit();
                }

                $(document).ready(function () {

                    var id = $("#id").val();

                    if (id != null && id.toString().length > 0) {
                        setTimeout(function () {
                            document.getElementById("link-tab-manutencao").click();
                        }, 200);
                    }

                    mascararInteger();
                });
                
                function novo(){
                    $("#id").val(null);
                    $("#data-devolucao").val(data.dtDevolucao);
                    $("#ca").val(null);
                    $("#nome").val(null);
                    $("#qtd").val(null);
                    $("#btn-gravar").html("Inserir")
                    document.getElementById("link-tab-manutencao").click();
                }
            </script>
    </body>
</html>