<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{fragments/layout}">
    <head>
        <title>Relatório de Produto por Paciente | [[${@projectSettings.getName()}]]</title>
    </head>
    <body>
        <div id="page-wrapper" class="no-padding" data-layout-fragment="content">
            <input type="hidden" id="base-url" th:value="@{/pacientes/}"/>
            <div class="container-fluid">
                <form id="form-relatorio" method="POST" class="form-horizontal panel-body form-group" target='_blank' th:action="@{/relatorios/produtosPorPaciente/pdf}" th:object="${filtro}">
                    <input type="hidden" id="rel-codigo" th:field="*{id}" />
                    <input type="hidden" id="rel-descricao" th:field="*{descricao}" />
                    <input type="hidden" id="rel-date1" th:field="*{date1}" />
                    <input type="hidden" id="rel-date2" th:field="*{date2}" />
                    <input type="hidden" id="rel-tipoEstoque" th:field="*{tipoEstoque}" />
                </form>
                <div class="panel panel-default" style="margin-top: 10px">

                    <div class="panel-heading">
                        <div class="clearfix">
                            <div class="pull-right">
                                <button th:if="${session.user_id_admin != null and session.user_id_admin}" type="button" form="form-relatorio" onclick="validaRelatorio();" class="btn-link">Relatório</button>
                            </div>
                            <h1 class="panel-title aw-titulo-panel">Relatório de Produtos por Pacientes</h1>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-success alert-dismissable fade in"
                             th:if="${not #strings.isEmpty(mensagem)}">
                            <label th:text="${mensagem}"/>
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                        </div>
                        <div class="alert alert-danger alert-dismissable fade in"
                             th:if="${not #strings.isEmpty(mensagemError)}">
                            <label th:text="${mensagemError}"/>
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                        </div>
                        <div id="js-replace"></div>

                        <form id="form-filtro" method="GET" class="form-horizontal panel-body form-group" th:action="@{/relatorios/produtosPorPaciente}" th:object="${filtro}">
                            <input type="hidden" id="codigo" th:field="*{id}" />
                            <div class="form-group col-sm-4" style="margin: 5px; padding: 0px;">
                                <input id="filter-paciente" class="form-control" placeholder="Qual paciente você está procurando?" autofocus="autofocus" th:field="*{descricao}" onkeypress="limpaCodigo('codigo');"/>
                            </div>
                            <div class="form-group col-sm-2" style="margin: 5px; padding: 0px;">
                                <select class="form-control" th:field="*{tipoEstoque}" id="filter-tipoEstoque">
                                    <option th:value="T">Tipo Estoque</option>
                                    <option th:value="P">Paciente</option>
                                    <option th:value="G">Geral</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-2" style="margin: 5px; padding: 0px;">
                                <input type="text" 
                                       class="form-control"	
                                       id="filter-date1" 
                                       th:field="*{date1}" 
                                       placeholder="Período Inicial" 
                                       data-provide="datepicker" 
                                       data-date-format="dd/mm/yyyy" 
                                       data-date-language="pt-BR"
                                       data-date-autoclose="true" 
                                       data-date-today-highlight="true" 
                                       data-date-orientation="bottom"
                                       autocomplete="off"
                                       />
                            </div>
                            <div class="form-group col-sm-2" style="margin: 5px; padding: 0px;">
                                <input type="text" 
                                       class="form-control"	
                                       id="filter-date2" 
                                       th:field="*{date2}" 
                                       placeholder="Período Final"
                                       data-provide="datepicker" 
                                       data-date-format="dd/mm/yyyy" 
                                       data-date-language="pt-BR"
                                       data-date-autoclose="true" 
                                       data-date-today-highlight="true" 
                                       data-date-orientation="bottom"
                                       autocomplete="off"/>
                            </div>
                            <div class="form-group col-sm-1" style="margin: 5px; padding: 0px;">
                                <input type="submit" value="Filtrar" class="btn-primary form-control"></input>
                            </div>
                        </form>

                        <div class="table-responsive">
                            <table class="table table-hover table-striped" id="tab-default">
                                <thead>
                                    <tr>
                                        <th>Produto</th>
                                        <th>Tipo Estoque</th>
                                        <th>Quantidade</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="obj : ${lista}">
                                        <td th:text="${obj.dsProduto}"></td>
                                        <td th:text="${obj.tpEstoqueStr}"></td>
                                        <td th:text="${#numbers.formatDecimal(obj.qtd, 1, 'POINT', 2, 'COMMA')}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                var options = {
                    url: function (phrase) {
                        var url = $("#base-url").val();
                        return url + "getPacientes?phrase=" + phrase;
                    },
                    getValue: "descricao",
                    adjustWidth: false,
                    list: {
                        onChooseEvent: function () {
                            var codigo = $("#filter-paciente").getSelectedItemData().codigo;
                            $("#codigo").val(codigo);
                            $("#filter-paciente").focus();
                        }
                    }
                };
                $("#filter-paciente").easyAutocomplete(options);

                function validaRelatorio(){
                    var codigo = $("#codigo").val();
                    var descricao = $("#filter-paciente").val();
                    var date1 = $("#filter-date1").val();
                    var date2 = $("#filter-date2").val();
                    var tipoEstoque = $("#filter-tipoEstoque").val();
                    
                    $("#rel-codigo").val(codigo);
                    $("#rel-descricao").val(descricao);
                    $("#rel-date1").val(date1);
                    $("#rel-date2").val(date2);
                    $("#rel-tipoEstoque").val(tipoEstoque);
                    
                    if (descricao !== null && codigo !== null && descricao.length > 0 && codigo.length > 0) {
                        $("#form-relatorio").submit();
                    } else {
                        $("#js-replace").html('<div id="js-replace" class="alert alert-danger alert-dismissable fade in"> <label>Informe o paciente para continuar.</label><a href="#" class="close" data-dismiss="alert" aria-label="close">x</a></div>');
                    }
                }
            </script>
    </body>
</html>