<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{fragments/layout}">
    <head>
        <title>Prontuário por Pacientes | [[${@projectSettings.getName()}]]</title>
    </head>
    <body>
        <div id="page-wrapper" class="no-padding" data-layout-fragment="content">
            <div class="container-fluid">
                <div class="panel panel-default" style="margin-top: 10px">

                    <div class="panel-heading">
                        <div class="clearfix">
                            <div class="pull-right">
                                <a class="btn btn-link" data-toggle="modal" data-target="#confirmacaoRelatorioProntuario">Relatório</a>
                            </div>
                            <h1 class="panel-title aw-titulo-panel">Prontuário por Pacientes</h1>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-success alert-dismissable fade in"
                             th:if="${not #strings.isEmpty(mensagem)}">
                            <label th:text="${mensagem}"/>
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                        </div>
                        <div class="alert alert-danger alert-dismissable fade in"
                             th:if="${not #strings.isEmpty(mensagemError)}">
                            <label th:text="${mensagemError}"/>
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                        </div>

                        <form method="GET" class="form-horizontal" th:action="@{/relatorios/prontuarioPorPaciente}" th:object="${filtro}">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="form-group col-sm-5" style="margin: 5px; padding: 0px;">
                                        <input type="text" class="form-control"	id="filter-date1" th:field="*{date1}" placeholder="Período Inicial" 
                                               data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-language="pt-BR"
                                               data-date-autoclose="true" data-date-today-highlight="true" data-date-orientation="bottom"/>
                                    </div>
                                    <div class="form-group col-sm-5" style="margin: 5px; padding: 0px;">
                                        <input type="text" class="form-control"	id="filter-date2" th:field="*{date2}" placeholder="Período Final"
                                               data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-language="pt-BR"
                                               data-date-autoclose="true" data-date-today-highlight="true" data-date-orientation="bottom"/>
                                    </div>
                                    <div class="form-group col-sm-1" style="margin: 5px; padding: 0px;">
                                        <input type="button" value="Filtrar" class="btn-primary form-control" onclick="limpaTBody(document.getElementById('body_table')); maisResultados();"></input>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive">
                            <table class="table table-hover table-striped" id="table-paciente">
                                <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox" id="selectAll"/>
                                        </th>
                                        <th>Nome</th>
                                    </tr>
                                </thead>
                                <tbody id="body_table"/>
                            </table>
                            <div class="text-center">
                                <button id="carregar_mais" type="button" class="btn" style="background: lightblue; width: 40%;" onclick="maisResultados()">
                                    <i id="img-carregar" class="fa fa-chevron-down fa-2x" aria-hidden="true"></i>
                                    <div id="loader" class="spinner-loader loader-hidden">
                                        <i class="rect1"></i>
                                        <i class="rect2"></i>
                                        <i class="rect3"></i>
                                        <i class="rect4"></i>
                                        <i class="rect5"></i>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div th:replace="prontuario/dialogRelatorioProntuario :: dialogProntuario('/relatorios/prontuarioPorPaciente/pdf') "></div>
            
            <input type="hidden" id="base-url" th:value="@{'/'}"/>
            <script th:src="@{/static/js/relatorioProntuarioPorPaciente.min.js}"></script>
    </body>
</html>