<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{fragments/layout}">
    <head>
        <title>Arquivos de Pacientes | [[${@projectSettings.getName()}]]</title>
    </head>
    <body>
        <div id="page-wrapper" class="no-padding" data-layout-fragment="content">
            <div class="container-fluid">
                <div class="panel panel-default" style="margin-top: 10px">

                    <div class="panel-heading">
                        <div class="clearfix">
                            <div class="pull-right">
                                <a th:href="@{'/arquivos/' + ${paciente} + '/novo'}">Novo</a>
                            </div>
                            <ol class="breadcrumb" style="margin-bottom: 0px; padding-left: 0px; padding-bottom: 0px;padding-top: 0px;">
                                <li class="breadcrumb-item"><a href="#" th:href="@{/pacientes}">Pacientes</a></li>
                                <li class="breadcrumb-item active" th:text="${nmPaciente}">Nome Paciente</li>
                                <li class="breadcrumb-item active">Arquivos</li>
                            </ol>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-success alert-dismissable fade in"
                             th:if="${not #strings.isEmpty(mensagem)}">
                            <label th:text="${mensagem}"/>
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                        </div>
                        <div class="alert alert-danger alert-dismissable fade in"
                             th:if="${not #strings.isEmpty(mensagemError)}">
                            <label th:text="${mensagemError}"/>
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                        </div>

                        <form method="GET" class="form-horizontal" th:action="@{'/arquivos/' + ${paciente}}" th:object="${filtro}">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="Qual arquivo você está procurando?"
                                               autofocus="autofocus" th:field="*{descricao}"></input>
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn btn-default">
                                                <i class="glyphicon glyphicon-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                        
                        <div class="table-responsive">
                            <table class="table table-hover table-striped" id="tab-default">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Data Modificação</th>
                                        <th>Tamanho</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr th:each="obj : ${lista}">
                                        <td th:text="${obj.nmArquivo}"></td>
                                        <td th:text="${{obj.dtModificacao}}"></td>
                                        <td th:text="${obj.tamanhoStr}"></td>
                                        <td class="text-right">
                                            <a class="btn btn-link btn-xs" th:href="@{/arquivos/baixar/{codigo}(codigo=${obj.idArquivo})}" 
                                               title="Baixar" rel="tooltip" data-placement="top">
                                                <span class="glyphicon glyphicon-download"></span>
                                            </a>
                                            <a class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmacaoExclusaoModal"
                                               th:attr="data-codigo=${obj.idArquivo}, data-descricao=${obj.nmArquivo}"
                                               title="Excluir" rel="tooltip" data-placement="top">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div th:replace="fragments/dialogoConfirmacaoExclusao :: dialog('/arquivos')"></div>
    </body>
</html>