<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      data-layout-decorate="~{fragments/layout}">
    <head>
        <title>Arquivos | [[${@projectSettings.getName()}]]</title>
    </head>
    <body>
        <div id="page-wrapper" data-layout-fragment="content">
            <div class="container-fluid">
                <div class="panel panel-default" style="margin-top: 10px">
                    <div class="panel-heading">
                        <div class="clearfix">
                            <div class="pull-right">
                                <a th:href="@{'/arquivos/' + ${paciente}}">Voltar</a>
                            </div>
                            <ol class="breadcrumb" style="margin-bottom: 0px; padding-left: 0px; padding-bottom: 0px;padding-top: 0px;">
                                <li class="breadcrumb-item"><a href="#" th:href="@{/pacientes}">Pacientes</a></li>
                                <li class="breadcrumb-item active" th:text="${nmPaciente}">Nome Paciente</li>
                                <li class="breadcrumb-item active">Manutençao de Arquivos</li>
                            </ol>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form method="POST"  th:action="@{/arquivos}" enctype="multipart/form-data">
                            <input type="hidden" name="idPaciente" th:value="${paciente}"/>
                            <div class="alert alert-success alert-dismissable fade in"
                                 th:if="${not #strings.isEmpty(mensagem)}">
                                <label th:text="${mensagem}"/>
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                            </div>
                            <div class="alert alert-danger alert-dismissable fade in"
                                 th:if="${not #strings.isEmpty(mensagemError)}">
                                <label th:text="${mensagemError}"/>
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                            </div>
                            <div class="form-group">
                                <label path="file">Adicione o arquivo: </label>
                                <input type="file" max-size="209715200" name="file"/>
                            </div>
                            <input type="submit" class="btn btn-primary" value="Enviar" />
                        </form>
                        
                        <script>
                            $(function(){
                                $('form').submit(function(){
                                    var isOk = true;
                                    $('input[type=file][max-size]').each(function(){
                                        if(typeof this.files[0] !== 'undefined'){
                                            var maxSize = parseInt($(this).attr('max-size'),10),
                                            size = this.files[0].fileSize;
                                            if(typeof size === 'undefined'){
                                                size = this.files[0].size;
                                            }
                                            
                                            isOk = maxSize > size;
                                            return isOk;
                                        }
                                    });
                                    
                                    if(isOk === false){
                                        alert("Tamanho excedido");
                                    }
                                    
                                    return isOk;
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
