<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      data-layout-decorate="~{fragments/layout}">
    <head>
        <title>Prontuario | [[${@projectSettings.getName()}]]</title>
    </head>
    <body>
        <div id="page-wrapper" data-layout-fragment="content">
            <div class="container-fluid">
                <form id="form-prontuario" method="POST" th:action="@{/prontuario}" onsubmit="return validaSubmit()" th:object="${prontuario}" style="margin-top: 10px">
                    <button type="submit" class="btn btn-primary btn-fixed-botton square" style="position: fixed; bottom: 0; z-index: 100">Gravar</button>
                    
                    <div class="panel panel-default" style="margin-top: 10px">

                        <div class="panel-heading">
                            <div class="clearfix">
                                <div class="pull-right">
                                    <a th:href="@{'/prontuario/' + ${paciente}}"
                                       th:if="${nmPaciente != null}">Voltar</a>
                                </div>
                                <ol class="breadcrumb" style="margin-bottom: 0px; padding-left: 0px; padding-bottom: 0px;padding-top: 0px; margin-top: 5px;">
                                    <li class="breadcrumb-item"
                                        th:if="${nmPaciente != null}">
                                        <a href="#" th:href="@{/pacientes}">Pacientes</a>
                                    </li>
                                    <li class="breadcrumb-item active" 
                                        th:if="${nmPaciente != null}"
                                        th:text="${nmPaciente}">Nome Paciente</li>
                                    <li th:if="${nmPaciente != null}"
                                        class="breadcrumb-item active">Manutençao de Prontuario</li>
                                    <li th:if="${nmPaciente == null}"
                                        class="breadcrumb-item active">Inserção Rápida de Prontuario</li>
                                </ol>
                            </div>
                        </div>
                        <div class="panel-body">


                            <div class="alert alert-success alert-dismissable fade in" th:if="${idPacienteSucesso != null}">
                                <a th:href="@{'/prontuario/' + ${idPacienteSucesso}}"
                                   th:text="'Prontuário para ' + ${nmPacienteSucesso} + ' Inserido com Sucesso!'"></a>
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                            </div>

                            <div class="alert alert-success alert-dismissable fade in"
                                 th:if="${not #strings.isEmpty(mensagem)}">
                                <label th:text="${mensagem}"/>
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                            </div>
                            <div id='mensagemError' class="alert alert-danger alert-dismissable fade in"
                                 th:if="${not #strings.isEmpty(mensagemError)}">
                                <label th:text="${mensagemError}"/>
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                            </div>

                            <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                                <div th:each="detailedError : ${#fields.detailedErrors()}">
                                    <span th:text="${detailedError.message}"></span>
                                </div>
                            </div>

                            <input type="hidden" name="nmPaciente" th:value="${nmPaciente}"/>
                            <input type="hidden" id="informa_paciente" name="informa_paciente" th:value="${informa_paciente}"/>
                            <input type="hidden" th:field="*{idProntuario}"/>
                            <input type="hidden" id="idPaciente" th:field="*{paciente.idPaciente}" />
                            <input type="hidden" th:field="*{login.idLogin}" />
                            <input type="hidden" id="tpLogin" th:field="*{login.tpLogin}" />

                            <div class="form-group">

                                <div class="form-group col-sm-12" 
                                     th:classappend="${#fields.hasErrors('paciente.pessoa.nmPessoa')} ? has-error"
                                     th:if="${informa_paciente}">
                                    <div style="display: flex;align-items: baseline;justify-content: space-between;">
                                        <label for="paciente.pessoa.nmPessoa" class="control-label">Paciente*</label>
                                        <button type="button" onclick="visualizarInformacaoPaciante()" class="btn btn-link">Visualizar informações do Paciente</button>
                                    </div>
                                    <input id="filter-paciente" class="form-control" placeholder="Qual paciente você está procurando?" th:field="*{paciente.pessoa.nmPessoa}" onkeypress="limpaCodigo('idPaciente');"/>
                                </div>
                                <div class="row"></div>
                                <div class="panel-group" id="accordion" style="padding-bottom: 15px;">
                                    
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" href="#collapseZero">Prontuário</a>
                                            </h4>
                                        </div>
                                        <div id="collapseZero" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('dtProntuario')} ? has-error">
                                                    <label for="dtProntuario" class="col-sm-6 control-label">Data</label>
                                                    <input type="text" class="form-control"	id="data" th:field="*{dtProntuario}"
                                                           data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-language="pt-BR"
                                                           data-date-autoclose="true" data-date-today-highlight="true" data-date-orientation="bottom"/>
                                                </div>

                                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('turno')} ? has-error">
                                                    <label for="turno" class="control-label">Turno</label>
                                                    <select class="form-control" id="turno" th:field="*{turno}">
                                                        <option th:value="M" th:text="Manha">Manha</option>
                                                        <option th:value="T" th:text="Tarde">Tarde</option>
                                                        <option th:value="N" th:text="Noite">Noite</option>
                                                    </select>
                                                </div>


                                                <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('descricao')} ? has-error">
                                                    <label for="descricao" class="control-label">Descriçao</label>
                                                    <textarea class="form-control" onpaste="return false" ondrop="return false" rows="10" id="descricaoProntuario" maxlength="10000" th:field="*{descricao}" placeholder="descrição do prontuario" />
                                                </div>
                                                
                                                <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('responsavel')} ? has-error">
                                                    <label for="responsavel" class="col-sm-12 control-label">Responsável</label>
                                                    <input type="text" class="form-control" id="reponsavel" th:field="*{responsavel}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" href="#collapseSAE">SAE</a>
                                            </h4>
                                        </div>
                                        <div id="collapseSAE" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <div id="dados">
                                                    
                                                    <div class="panel panel-default diagnostico-card" th:each="sae, iter : *{saes}">      
        
                                                        <div class="panel-heading">
                                                            <div class="diagnostico-row">
                                                                <p class="diagnostico-descricao" th:text="*{saes[__${iter.index}__].descricao}">Diagnostico</p>
                                                                <input type="hidden" th:field="*{saes[__${iter.index}__].id}" />
                                                                <input type="hidden" th:field="*{saes[__${iter.index}__].descricao}" />
                                                                <input type="hidden" th:field="*{saes[__${iter.index}__].diagnosticoPaciente.id}" />
                                                            </div>
                                                        </div>


                                                        <div class="panel-body diagnostico-body">
                                                            <div class="form-group">

                                                                <div class="diagnostico-row" th:each="filho, it : ${sae.filhos}">
                                                                    <label class="checkbox-inline col-xs-6">
                                                                        <input class="js-sae-marcado" type="checkbox" th:field="*{saes[__${iter.index}__].filhos[__${it.index}__].marcado}" th:text="*{saes[__${iter.index}__].filhos[__${it.index}__].descricao}" th:attr="sae-idx=${__${iter.index}__} + '_' + ${__${it.index}__}"/>
                                                                    </label>

                                                                    <input maxlength="255" th:field="*{saes[__${iter.index}__].filhos[__${it.index}__].justificativa}" type="text" class="form-control col-xs-6 js-sae-justificativa" placeholder="se não marcar, justifique." th:attr="sae-idx=${__${iter.index}__} + '_' + ${__${it.index}__}"/>

                                                                    <input type="hidden" th:field="*{saes[__${iter.index}__].filhos[__${it.index}__].id}" />
                                                                    <input type="hidden" th:field="*{saes[__${iter.index}__].filhos[__${it.index}__].descricao}" />
                                                                    <input type="hidden" th:field="*{saes[__${iter.index}__].filhos[__${it.index}__].diagnosticoPaciente.id}" />
                                                                </div>

                                                            </div>
                                                        </div>        
                                                    </div>
                                                    
                                                    
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" href="#collapseMedicamentos">Medicamentos</a>
                                            </h4>
                                        </div>
                                        <div id="collapseMedicamentos" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <div class="table-responsive" style="min-height: 250px">
                                                    <button type="button" class="btn btn-default" style="margin: 10px" onclick="carregaMedicamentosPaciente();">Inserir Medicamentos</button>
                                                    
                                                    <table id="tab-medicamentos" class="table table-hover table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 60%">Medicamento</th>
                                                                <th style="width: 25%">Quantidade</th>
                                                                <th style="width: 5%"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr th:each="item, iter : *{itens}" th:id="${iter.index}">
                                                                <td th:text="${item.estoque.produto.dsProduto}"></td>
                                                                <td>
                                                                    <input type="tel" class="form-control text-right js-double" th:field="*{itens[__${iter.index}__].qtd}" />
                                                                </td>
                                                                
                                                                <td class="text-right">
                                                                    <a class="btn btn-link btn-xs" 
                                                                       onclick="removeMedicamento(this);"
                                                                       title="Excluir" rel="tooltip" data-placement="top">
                                                                        <span class="glyphicon glyphicon-remove"></span>
                                                                    </a>
                                                                    <input type="hidden" th:name="|itens[${iter.index}]|" th:field="*{itens[__${iter.index}__].idItemProntuario}"/>
                                                                    <input type="hidden" th:field="*{{itens[__${iter.index}__].dtMovimentacao}}" />
                                                                    <input type="hidden" th:field="*{itens[__${iter.index}__].valor}" />
                                                                    <input type="hidden" th:field="*{itens[__${iter.index}__].tpOperacao}" />
                                                                    <input type="hidden" th:field="*{itens[__${iter.index}__].estoque.produto.dsProduto}" />
                                                                    <input type="hidden" th:field="*{itens[__${iter.index}__].estoque.idEstoque}" />
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="panel panel-default" th:if="${prontuario.idProntuario == null}">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" href="#collapseSinaisVitais">Sinais Vitais</a>
                                            </h4>
                                        </div>
                                        <div id="collapseSinaisVitais" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <input type="hidden" id="sinalVital_idPaciente" th:field="*{sinalVital.paciente.idPaciente}"/>
                                                <input type="hidden" th:field="*{sinalVital.login.idLogin}"/>

                                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('sinalVital.data')} ? has-error">
                                                    <label for="sinalVital.data" class="col-sm-6 control-label">Data</label>
                                                    <input type="text" class="form-control"	id="datetimepicker" th:field="*{sinalVital.data}"
                                                           data-date-language="pt-BR"
                                                           data-date-autoclose="true" data-date-today-highlight="true" data-date-orientation="bottom"/>
                                                </div>

                                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('sinalVital.pressaoArterial')} ? has-error">
                                                    <label for="sinalVital.pressaoArterial" class="control-label">Pressão Arterial</label>
                                                    <input type="text" class="form-control" maxlength="100" th:field="*{sinalVital.pressaoArterial}"/> 
                                                </div>

                                                <div class="form-group col-sm-4" th:classappend="${#fields.hasErrors('sinalVital.temperatura')} ? has-error">
                                                    <label for="sinalVital.temperatura" class="control-label">Temperatura ºC</label>
                                                    <input type="text" class="form-control" maxlength="100" th:field="*{sinalVital.temperatura}"/> 
                                                </div>

                                                <div class="form-group col-sm-4" th:classappend="${#fields.hasErrors('sinalVital.frequenciaRespiratoria')} ? has-error">
                                                    <label for="sinalVital.frequenciaRespiratoria" class="control-label">Frequência Respiratória</label>
                                                    <input type="text" class="form-control" maxlength="100" th:field="*{sinalVital.frequenciaRespiratoria}"/> 
                                                </div>

                                                <div class="form-group col-sm-4" th:classappend="${#fields.hasErrors('sinalVital.frequenciaCardiaca')} ? has-error">
                                                    <label for="sinalVital.frequenciaCardiaca" class="control-label">Frequência Cardíaca</label>
                                                    <input type="text" class="form-control" maxlength="100" th:field="*{sinalVital.frequenciaCardiaca}"/> 
                                                </div>

                                                <div class="form-group col-sm-4" th:classappend="${#fields.hasErrors('sinalVital.pupilas')} ? has-error">
                                                    <label for="sinalVital.pupilas" class="control-label">Pupila</label>
                                                    <input type="text" class="form-control" maxlength="100" th:field="*{sinalVital.pupilas}"/> 
                                                </div>

                                                <div class="form-group col-sm-4" th:classappend="${#fields.hasErrors('sinalVital.dor')} ? has-error">
                                                    <label for="sinalVital.dor" class="control-label">Dor</label>
                                                    <input type="text" class="form-control" maxlength="100" th:field="*{sinalVital.dor}"/> 
                                                </div>
                                                <div class="form-group col-sm-4" th:classappend="${#fields.hasErrors('sinalVital.saturacao')} ? has-error">
                                                    <label for="sinalVital.saturacao" class="control-label">Saturação</label>
                                                    <input type="text" class="form-control" maxlength="100" th:field="*{sinalVital.saturacao}"/> 
                                                </div>
                                                <div class="row">
                                                    <h4 style="text-align: center;">Liquidos Administrados</h4>
                                                </div>
                                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('sinalVital.liquidoAdministrado_viaOral')} ? has-error">
                                                    <label for="sinalVital.liquidoAdministrado_viaOral" class="control-label">Via Oral</label>
                                                    <input type="text" class="form-control" maxlength="100" th:field="*{sinalVital.liquidoAdministrado_viaOral}"/> 
                                                </div>

                                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('sinalVital.liquidoAdministrado_viaParenteral')} ? has-error">
                                                    <label for="sinalVital.liquidoAdministrado_viaParenteral" class="control-label">Via Enteral</label>
                                                    <input type="text" class="form-control" maxlength="100" th:field="*{sinalVital.liquidoAdministrado_viaParenteral}"/> 
                                                </div>
                                                <div class="row">
                                                    <h4 style="text-align: center;">Liquidos Eliminados</h4>
                                                </div>
                                                <div class="form-group col-sm-4" th:classappend="${#fields.hasErrors('sinalVital.liquidoEliminado_urinaVolume')} ? has-error">
                                                    <label for="sinalVital.liquidoEliminado_urinaVolume" class="control-label">Urina Volume</label>
                                                    <input type="text" class="form-control" maxlength="100" th:field="*{sinalVital.liquidoEliminado_urinaVolume}"/> 
                                                </div>

                                                <div class="form-group col-sm-4" th:classappend="${#fields.hasErrors('sinalVital.liquidoEliminado_fezes')} ? has-error">
                                                    <label for="sinalVital.liquidoEliminado_fezes" class="control-label">Fezes</label>
                                                    <input type="text" class="form-control" maxlength="100" th:field="*{sinalVital.liquidoEliminado_fezes}"/> 
                                                </div>

                                                <div class="form-group col-sm-4" th:classappend="${#fields.hasErrors('sinalVital.liquidoEliminado_vomito')} ? has-error">
                                                    <label for="sinalVital.liquidoEliminado_vomito" class="control-label">Vômito</label>
                                                    <input type="text" class="form-control" maxlength="100" th:field="*{sinalVital.liquidoEliminado_vomito}"/> 
                                                </div>

                                                <div class="form-group col-sm-4" th:classappend="${#fields.hasErrors('sinalVital.hgt')} ? has-error">
                                                    <label for="sinalVital.hgt" class="control-label">HGT</label>
                                                    <input type="text" class="form-control" maxlength="100" th:field="*{sinalVital.hgt}"/> 
                                                </div>

                                                <div class="form-group col-sm-8" th:classappend="${#fields.hasErrors('sinalVital.observacao')} ? has-error">
                                                    <label for="sinalVital.observacao" class="control-label">Observação</label>
                                                    <input type="text" class="form-control" maxlength="1000" th:field="*{sinalVital.observacao}"/> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <input type="hidden" id="base-url" th:value="@{/}"/>
                                
                                <div th:replace="prontuario/dialogMedicamentos :: dialog"></div>
                                
                                
                                
                                <div class="modal fade" id="modalInfoPaciente" tabindex="-1" data-keyboard="false">
                                    <button class="btn btn-default dismiss-modal" data-dismiss="modal">x</button>
                                    <div class="modal-dialog modal-dialog-no-margin">
                                        <div class="modal-content square">
                                            <div class="modal-header">
                                                <h2 class="modal-title">Informações de Albino Mariano</h2>
                                            </div>

                                            <div class="modal-body">                                                
                                                <div class="form-group">
                                                    <h3>Histórico</h3>
                                                    <p id="paciente-historico">etetet  ada adasd etetet  ada adasd etetet  ada adasd etetet  ada adasd etetet  ada adasd etetet  ada adasd etetet  ada adasd etetet  ada adasd etetet  ada adasd etetet  ada adasd etetet  ada adasd etetet  ada adasd etetet  ada adasd etetet  ada adasd etetet  ada adasd etetet  ada adasd etetet  ada adasd etetet  ada adasd etetet  ada adasd etetet  ada adasd etetet  ada adasd etetet  ada adasd etetet  ada adasd etetet  ada adasd etetet  ada adasd etetet  ada adasd etetet  ada adasd etetet  ada adasd etetet  ada adasd etetet  ada adasd etetet  ada adasd etetet  ada adasd </p>
                                                </div>
                                                
                                                <div class="form-group">
                                                    <h3>Necessita Auxílio em:</h3>
                                                    <p id="paciente-is-alimentacao">Alimentação</p>
                                                    <p id="paciente-is-mobilidade">Mobilidade</p>
                                                    <p id="paciente-is-higiene">Higiene</p>
                                                    <p id="paciente-is-vestir">Vestir-se</p>
                                                    <p id="paciente-outro-auxilio">Outroooo</p>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--Current version: v8.0.7-->
                            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
                            
                            
                            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

                            
                            <!--http://www.malot.fr/bootstrap-datetimepicker/demo.php-->
                            <!--http://t4t5.github.io/sweetalert/-->
                            <link rel="stylesheet" type="text/css" th:href="@{/static/vendor/datetimepicker/css/bootstrap-datetimepicker.min.css}" />
                            <script th:src="@{/static/vendor/datetimepicker/js/bootstrap-datetimepicker.min.js}"></script>
                            <script th:src="@{/static/vendor/datetimepicker/js/locales/bootstrap-datetimepicker.pt-BR.js}"></script>
                            
                            <script th:if="${@projectSettings.getProduction() == 'false'}" th:src="@{'/static/js/prontuario.js?v=' + ${@projectSettings.getVersion()}}"></script>
                            <script th:if="${@projectSettings.getProduction() == 'true'}" th:src="@{'/static/js/prontuario.min.js?v=' + ${@projectSettings.getVersion()}}"></script>
                            <!--<script async th:src="@{/static/js/prontuario.min.js}"></script>-->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
