<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{fragments/layout}">
    <head>
        <title>Prontuario | [[${@projectSettings.getName()}]]</title>
    </head>
    <body>
        <div id="page-wrapper" data-layout-fragment="content">
            <div class="container-fluid">
                <div class="panel panel-default" style="margin-top: 10px">
                    <div class="panel-heading">
                        <div class="clearfix">
                            <div class="pull-right">
                                <a class="btn btn-link" data-toggle="modal" data-target="#confirmacaoRelatorioProntuario">
                                     Relatório
                                 </a>
                                <a th:href="@{'/prontuario/' + ${paciente} + '/novo'}">Novo</a>
                            </div>
                            <ol class="breadcrumb" style="margin-bottom: 0px; padding-left: 0px; padding-bottom: 0px;padding-top: 0px;">
                                <li class="breadcrumb-item"><a href="#" th:href="@{/pacientes}">Pacientes</a></li>
                                <li class="breadcrumb-item active" th:text="${nmPaciente}">Nome Paciente</li>
                                <li class="breadcrumb-item active">Prontuario</li>
                            </ol>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-success alert-dismissable fade in"
                            th:if="${not #strings.isEmpty(mensagem)}">
                            <label th:text="${mensagem}"/>
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                        </div>
                        
                        <div class="alert alert-danger alert-dismissable fade in"
                            th:if="${not #strings.isEmpty(mensagemErr)}">
                            <label th:text="${mensagemErr}"/>
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                        </div>
                        
                        <form id="form-filtro" method="GET" class="form-horizontal panel-body form-group" th:action="@{'/prontuario/' + ${paciente}}" th:object="${filtro}">
                            <div class="input-group">
                                <input class="form-control" id="form-descricao" placeholder="Qual prontuario você está procurando?" autofocus="autofocus" th:field="*{descricao}"/>
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                        <div class="table-responsive">
                            <table class="table table-hover table-striped table-responsive" id="table-prontuario" >
                                <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox" id="selectAll"/>
                                        </th>
                                        <th style="cursor: pointer;">Descrição</th>
                                        <th style="cursor: pointer;">Data</th>
                                        <th style="cursor: pointer;">Turno</th>
                                        <th style="cursor: pointer;">Responsável</th>
                                        <th style="min-width: 110px"></th>
                                    </tr>
                                </thead>

                                <tbody id="body_table"/>
                            </table>
                        </div>
                        <div class="text-center">
                            <button id="carregar_mais" type="button" class="btn" style="background: lightblue; width: 40%;" onclick="maisResultados()">
                                <i id="img-carregar" class="fa fa-chevron-down fa-2x" aria-hidden="true"></i>
                                <div id="loader" class="spinner-loader loader-hidden">
                                    <i class="rect1"></i>
                                    <i class="rect2"></i>
                                    <i class="rect3"></i>
                                    <i class="rect4"></i>
                                    <i class="rect5"></i>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div th:replace="fragments/dialogoConfirmacaoExclusao :: dialog('/prontuario')"></div>
            <div th:replace="prontuario/dialogDescricaoProntuario :: dialog"></div>
            <div th:replace="prontuario/dialogRelatorioProntuario :: dialogProntuario('/prontuario/' + ${paciente} + '/pdf') "></div>
            
            <input type="hidden" id="idPaciente" th:value="${paciente}"/>
            <input type="hidden" id="base-url" th:value="@{/}"/>
            
            <script>
                function buscarLista(offset, limit){
                    var _urlBuscaLista = $("#base-url").val() + "prontuario/" + $("#idPaciente").val() + "/getLista";

                    var _descricao = $("#form-descricao").val();
                    var _json = "";

                    //monta json
                    if (_descricao !== null && _descricao.length > 0){
                        _json += " \"descricao\": \"" + _descricao + "\", ";
                    }

                    _json += "\"offset\": " + offset + ", ";
                    _json += "\"limit\": " + limit +" ";
                    _json = "{" + _json + "}";

                    $.ajax({
                        method: "POST",
                        url: _urlBuscaLista,
                        data: {filtro_consulta: _json, base_url: $("#base-url").val() + "prontuario/"},
                        success: function (data) {
                            if (data !== null && data.length > 0){
                                $("#body_table").append(data);
                            }
                            
                            $("#img-carregar").removeClass("loader-hidden");
                            $("#loader").addClass("loader-hidden");
                        }, 
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert("Erro ao obter resultados da lista.");
                            console.log(textStatus, errorThrown);
                            
                            $("#img-carregar").removeClass("loader-hidden");
                            $("#loader").addClass("loader-hidden");
                        }, 
                        beforeSend: function (jqXHR, settings) {
                            $("#loader").removeClass("loader-hidden");
                            $("#img-carregar").addClass("loader-hidden");
                        }
                    });
                }
                
                function maisResultados(){
                    var rowCont = $("#table-prontuario tbody tr").length;
                    buscarLista(rowCont, rowCont + 20);
                }
                
                var dirSorteble = 1;
                function addOrdenacao(){
                    var table = document.getElementById('table-prontuario');
                    var th = table.tHead;
                    
                    th.rows[0].cells[1].addEventListener('click', function () {sortTable(table, 1, (dirSorteble = 1 - dirSorteble));});
                    th.rows[0].cells[2].addEventListener('click', function () {sortTable(table, 2, (dirSorteble = 1 - dirSorteble), true);});
                    th.rows[0].cells[3].addEventListener('click', function () {sortTable(table, 3, (dirSorteble = 1 - dirSorteble));});
                    th.rows[0].cells[4].addEventListener('click', function () {sortTable(table, 4, (dirSorteble = 1 - dirSorteble));});
                }
                
                window.onload = function () {
                    addOrdenacao();
                    buscarLista(0, 10);
                };
                
                $('#confirmacaoRelatorioProntuario').on('show.bs.modal', function (event) {
                    $('#descricao').val($('#form-descricao').val());
                });
            </script>
        <!--</div>-->
    </body>
</html>