<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      data-layout-decorate="~{fragments/layout}">
    <head>
        <title>Medicamentos | [[${@projectSettings.getName()}]]</title>
    </head>
    <body>
        <div id="page-wrapper" data-layout-fragment="content">
            <div class="container-fluid">
                <form id="form-manutencao" method="POST" th:action="@{/medicamentos}" onsubmit="if(validaSubmit()){habilitaPesquisa(); return true;} else return false;" th:object="${medicamento}" style="margin-top: 10px">

                    <div class="panel panel-default" style="margin-top: 10px">

                        <div class="panel-heading">
                            <div class="clearfix">
                                <div class="pull-right">
                                    <a th:href="@{/medicamentos(id=${idPaciente},descricao=${nmPaciente})}">Voltar</a>
                                    <!--<button type="submit" class="btn btn-primary">Gravar</button>-->
                                </div>
                                <ol class="breadcrumb" style="margin-bottom: 0px; padding-left: 0px; padding-bottom: 0px;padding-top: 0px; margin-top: 5px;">
                                    <li class="breadcrumb-item active">Manutençao de Medicamentos</li>
                                </ol>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel-body">

                                <div class="alert alert-success" th:text="${mensagem}" 
                                     th:if="${not #strings.isEmpty(mensagem)}"></div>

                                <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                                    <div th:each="detailedError : ${#fields.detailedErrors()}">
                                        <span th:text="${detailedError.message}"></span>
                                    </div>
                                </div>

                                <div class="panel-body">
                                    <input type="hidden" id="id" th:field="*{idMedicamento}"/>
                                    <input type="hidden" th:field="*{paciente.idPaciente}"/>
                                    <input type="hidden" th:field="*{estoque.idEstoque}"/>
                                    <input type="hidden" th:field="*{estoque.tpEstoque}"/>
                                    <input type="hidden" id="idProduto" th:field="*{estoque.produto.idProduto}" />
                                    <input type="hidden" th:field="*{paciente.pessoa.nmPessoa}"/>
                                    
                                    <div class="row">
                                        <div class="form-group" th:classappend="${#fields.hasErrors('estoque.produto.dsProduto')} ? has-error">
                                            <label for="estoque.produto.dsProduto" class="control-label">Descrição*</label>
                                            <input id="filter-produto" class="form-control" placeholder="Qual produto você está procurando?" autofocus="autofocus" autocomplete="off"  th:field="*{estoque.produto.dsProduto}" onkeypress="limpaCodigo('idProduto');zeraVariavelProduto();"/>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="form-group col-sm-3" th:classappend="${#fields.hasErrors('seNecessario')} ? has-error">
                                            <label class="col-xs-12 control-label">Se necessário</label>
                                            <input type="checkbox" th:field="*{seNecessario}">Sim</input>
                                        </div>

                                        <div class="form-group col-sm-9" th:classappend="${#fields.hasErrors('dias')} ? has-error">
                                            <label for="dias" class="col-xs-12 control-label">Dias (para todos os dias, deixe em branco)</label>
                                            <label class="checkbox-inline no-margin-left">
                                                <input type="checkbox" th:field="*{dias}" th:value="SEG"/>
                                                Segunda
                                            </label>
                                            <label class="checkbox-inline no-margin-left">    
                                                <input type="checkbox" th:field="*{dias}" th:value="TER"/>
                                                Terça
                                            </label>

                                            <label class="checkbox-inline no-margin-left">    
                                                <input type="checkbox" th:field="*{dias}" th:value="QUA"/>
                                                Quarta
                                            </label>

                                            <label class="checkbox-inline no-margin-left">    
                                                <input type="checkbox" th:field="*{dias}" th:value="QUI"/>
                                                Quinta
                                            </label>

                                            <label class="checkbox-inline no-margin-left">    
                                                <input type="checkbox" th:field="*{dias}" th:value="SEX"/>
                                                Sexta
                                            </label>

                                            <label class="checkbox-inline no-margin-left">    
                                                <input type="checkbox" th:field="*{dias}" th:value="SAB"/>
                                                Sábado
                                            </label>

                                            <label class="checkbox-inline no-margin-left">    
                                                <input type="checkbox" th:field="*{dias}" th:value="DOM"/>
                                                Domingo
                                            </label>
                                        </div>
                                    </div>
                                    
                                    <div class="row js-div-aplicacoes">
                                        <!--Aqui ficará as aplicacoes dinamicas-->
                                        
                                        <h3>
                                            Aplicações
                                            <button class="btn btn-link text-right" type="button" onclick="addAplicacao();" style="float: right">Adicionar Aplicação</button>
                                        </h3>

                                        <div class="row js-aplicacoes" th:each="aplicacao, iter : *{aplicacoes}">
                                            <input type="hidden" class="js-aplicacao-id" th:field="*{aplicacoes[__${iter.index}__].id}" />
                                            <div class="form-group col-xs-6">
                                                <label class="control-label">Hora</label>
                                                <input type="tel" class="form-control js-time js-aplicacao-hora" autocomplete="off"  maxlength="5"  th:field="*{aplicacoes[__${iter.index}__].hora}"/> 
                                            </div>
                                            <div class="form-group col-xs-6">
                                                <div>
                                                    <label class="control-label">Aplicação</label>
                                                    <a class="btn btn-link btn-xs pull-right" 
                                                        onclick="removeAplicacao(this);"
                                                        title="Excluir" rel="tooltip" data-placement="top">
                                                         <span class="glyphicon glyphicon-remove"></span>
                                                    </a>
                                                </div>
                                                
                                                <input type="tel" class="form-control js-double  js-aplicacao-aplicacao" autocomplete="off" th:field="*{aplicacoes[__${iter.index}__].aplicacao}" />
                                            </div>
                                            <!--<div class="form-group col-xs-1" style="margin-top: 2%;">-->
                                                
                                            <!--</div>-->

                                        </div>
                                        
                                    </div>
                                    
                                    
                                    
                                    <div class="row">
                                        <div class="form-group" id="div_observacao" th:classappend="${#fields.hasErrors('observacao')} ? has-error">
                                            <label for="observacao" class="control-label">Observação</label>
                                            <textarea class="form-control" rows="5" maxlength="500" th:field="*{observacao}" placeholder="informe a observação" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div th:if="*{idMedicamento == null}" class="form-group" th:classappend="${#fields.hasErrors('estoque.qtd')} ? has-error">
                                            <label for="estoque.qtd" class="control-label">Estoque Disponível</label>
                                            <input type="tel" id="qtdEstoque" class="js-double-negative form-control" autocomplete="off"  th:field="*{estoque.qtd}" /> 
                                        </div>
                                    </div>
                                </div>
                                
                                <button type="submit" class="btn btn-primary btn-fixed-botton square" style="margin-top: 5px;">Gravar</button>
                                <input type="hidden" id="base-url" th:value="@{/produtos/}"/>
                                
                                <script th:inline="javascript" type="text/javascript">
                                    var listaAplicacoes = /*[[${medicamento.aplicacoes}]]*/ [];
                                </script>
                                
                                <script th:if="${@projectSettings.getProduction() == 'false'}" th:src="@{'/static/js/manutencaoMedicamentos.js?v=' + ${@projectSettings.getVersion()}}"></script>
                                <script th:if="${@projectSettings.getProduction() == 'true'}" th:src="@{'/static/js/manutencaoMedicamentos.min.js?v=' + ${@projectSettings.getVersion()}}"></script>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
