<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{fragments/layout}">
    <head>
        <title>Medicamentos | [[${@projectSettings.getName()}]]</title>
    </head>
    <body>
        <div id="page-wrapper" class="no-padding" data-layout-fragment="content">
            <input type="hidden" id="base-url" th:value="@{/}"/>
            <input type="hidden" id="session-is-admin" th:value="${session.user_id_admin}"/>
            
            <div class="container-fluid">
                <form id="form-relatorio" method="GET" class="form-horizontal panel-body form-group" target='_blank' th:action="@{/medicamentos/pdf}" th:object="${filtro}">
                    <input type="hidden" id="rel-codigo" th:field="*{id}" />
                    <input type="hidden" id="rel-descricao" th:field="*{descricao}" />
                </form>
                <form id="form-novo" th:action="@{/medicamentos/novo}" method="POST">
                    <input type="hidden" id="novo-codigo" name="codigo" th:value="${idPaciente}" />
                    <input type="hidden" id="novo-nome" name="nome" th:value="${nmPaciente}" />
                </form>
                <div class="panel panel-default" style="margin-top: 10px">
                    <div class="panel-heading">
                        <div class="clearfix">
                            <div class="pull-right">
                                <button form="form-relatorio" type="button" onclick="validaRelatorio();" class="btn-link">Relatório</button>
                                <button form="form-novo" type="button" onclick="validaInsercao();" class="btn-link">Novo</button>
                            </div>
                            <h1 class="panel-title aw-titulo-panel">Medicamentos</h1>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div id="msgInfo" class="alert alert-success alert-dismissable fade in"
                             th:if="${not #strings.isEmpty(mensagem)}">
                            <label th:text="${mensagem}"/>
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                        </div>
                        <div class="alert alert-danger alert-dismissable fade in"
                             th:if="${not #strings.isEmpty(mensagemError)}">
                            <label th:text="${mensagemError}"/>
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                        </div>
                        <div id="js-replace"></div>

                        <form id="form-filtro" method="GET" class="form-horizontal" th:action="@{/medicamentos}" th:object="${filtro}">
                            <div class="panel-body">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="hidden" id="codigo" th:field="*{id}" />
                                        <input id="filter-paciente" class="form-control" placeholder="Qual paciente você está procurando?" autofocus="autofocus" th:field="*{descricao}" onkeypress="limpaCodigo('codigo');"/>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="table-responsive">
                            <table class="table table-hover table-bordered table-striped" id="table-medicamentos">
                                <thead id="head_table">
                                    <tr>
                                        <th id="th_top_start" colspan="3"></th>
                                        <!--Aqui virá colunas superior de turno: manha tarde e noite-->
                                        <th id="th_top_end" colspan="3"></th>
                                    </tr>
                                    <tr>
                                        <th id="th_medicamento">Medicamento</th>
                                        <th id="th_dias">Dias</th>
                                        <th id="th_senecessario" >Se Necessário</th>
                                        <!--Aplicacoes Dinamicas Listará a hora como coluna, e quantidade como conteudo da coluna.-->
                                        <th id="th_observacao">Observação</th>
                                        <th id="th_estoque">Estoque</th>
                                        <th th:if="${session.user_id_admin != null and session.user_id_admin}" id="th_buttons"></th>
                                    </tr>
                                </thead>

                                <tbody id="body_table">
<!--                                    <tr th:each="medicamento : ${medicamentos}">
                                        <td th:text="${medicamento.estoque.produto.dsProduto}"></td>
                                        <td th:text="${medicamento.posologia}"></td>
                                        <td class="text-right" th:text="${#numbers.formatDecimal(medicamento.aplicacaoManha, 1, 'POINT', 2, 'COMMA')}"></td>
                                        <td class="text-center" th:text="${medicamento.hrManha}"></td>
                                        <td class="text-right" th:text="${#numbers.formatDecimal(medicamento.aplicacaoTarde, 1, 'POINT', 2, 'COMMA')}"></td>
                                        <td class="text-center" th:text="${medicamento.hrTarde}"></td>
                                        <td class="text-right" th:text="${#numbers.formatDecimal(medicamento.aplicacaoNoite, 1, 'POINT', 2, 'COMMA')}"></td>
                                        <td class="text-center" th:text="${medicamento.hrNoite}"></td>
                                        <td th:text="${medicamento.observacao}"></td>
                                        <td class="text-right">
                                            <a th:href="@{'/historicoEstoque?idEstoque=' + ${medicamento.estoque.idEstoque} + '&amp;produto=' + ${medicamento.estoque.produto.dsProduto}}" th:text="${#numbers.formatDecimal(medicamento.estoque.qtd, 1, 'POINT', 2, 'COMMA')}"/>
                                        </td>
                                        <td class="text-right">
                                            <a class="btn btn-link btn-xs" title="Editar" rel="tooltip" data-placement="top" th:href="@{/medicamentos/editar/{codigo}(codigo=${medicamento.idMedicamento})}">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </a>
                                            <a class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmacaoExclusaoModal"
                                               th:attr="data-codigo=${medicamento.idMedicamento}, data-descricao=${medicamento.estoque.produto.dsProduto}"
                                               title="Excluir" rel="tooltip" data-placement="top">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </a>
                                        </td>
                                    </tr>-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
                <div th:replace="fragments/dialogoConfirmacaoExclusao :: dialog('/medicamentos')"></div>

                <script th:if="${@projectSettings.getProduction() == 'false'}" th:src="@{'/static/js/medicamentos.js?v=' + ${@projectSettings.getVersion()}}"></script>
                <script th:if="${@projectSettings.getProduction() == 'true'}" th:src="@{'/static/js/medicamentos.min.js?v=' + ${@projectSettings.getVersion()}}"></script>
            </div>

    </body>
</html>