<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      data-layout-decorate="~{fragments/layout}">
    <head>
        <title>Manutençao de Responsavel</title>
    </head>
    <body>
        <div id="page-wrapper" data-layout-fragment="content">
            <div class="container-fluid">
                <form method="POST" th:action="@{/responsavel}" th:object="${responsavel}" style="margin-top: 10px">
                    <div class="panel panel-default" style="margin-top: 10px">
                        <div class="panel-heading">
                            <div class="clearfix">
                                <div class="pull-right">
                                    <a th:href="@{'/responsavel/' + ${responsavel.paciente.idPaciente}}">Voltar</a>
                                </div>
                                <h1 class="panel-title aw-titulo-panel">Manutençao de Responsavel</h1>
                            </div>
                        </div>
                        <div class="panel-body">

                            <input type="hidden" id="id" th:field="*{idResponsavel}"/>
                            <input type="hidden" th:field="*{paciente.idPaciente}" />
                            <input type="hidden" th:field="*{pessoa.idPessoa}" />
                            <div class="alert alert-success" th:text="${mensagem}" 
                                 th:if="${not #strings.isEmpty(mensagem)}"></div>

                            <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                                <div th:each="detailedError : ${#fields.detailedErrors()}">
                                    <span th:text="${detailedError.message}"></span>
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('principal')} ? has-error">
                                    <label for="principal" class="control-label">
                                        <input type="checkbox" th:field="*{principal}" />
                                        Responsável Principal
                                    </label>
                                </div>
                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('pessoa.nmPessoa')} ? has-error">
                                    <label for="pessoa.nmPessoa" class="col-sm-6 control-label">Nome</label>
                                    <input type="text" class="form-control" maxlength="100" id="nome" th:field="*{pessoa.nmPessoa}" placeholder="nome" /> 
                                </div>

                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('pessoa.sexo')} ? has-error">
                                    <label for="pessoa.sexo" class="col-sm-12 control-label">Sexo</label>
                                    <div class="form-group">
                                        <label class="radio-inline">
                                            <input type="radio" name="pessoa.sexo" th:value="M" th:field="*{pessoa.sexo}" checked />
                                            Masculino
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="pessoa.sexo" th:value="F" th:field="*{pessoa.sexo}" />
                                            Feminino
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('pessoa.dtNascimento')} ? has-error">
                                    <label for="pessoa.dtNascimento" class="col-sm-6 control-label">Nascimento</label>
                                    <input type="text" class="form-control"	id="datepickerPaciente" th:field="*{pessoa.dtNascimento}"
                                           data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-language="pt-BR"
                                           data-date-autoclose="true" data-date-today-highlight="true" data-date-orientation="bottom"/>
                                </div>

                                <div class="form-group  col-sm-6" th:classappend="${#fields.hasErrors('pessoa.idade')} ? has-error">
                                    <label for="pessoa.idade" class="col-sm-6 control-label">Idade</label>
                                    <input type="number" id="idade" class="form-control" maxlength="3" th:field="*{pessoa.idade}" onkeyup="calculaIdade('idade', 'datepickerPaciente');"/> 
                                </div>
                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('pessoa.cpf')} ? has-error">
                                    <label for="pessoa.cpf" class="col-sm-6 control-label">CPF</label>
                                    <input type="text" class="form-control" id="cpf" maxlength="14" th:field="*{pessoa.cpf}" placeholder="cpf" onkeypress="return MascaraCPF(this);" onblur="ValidarCPF(this);" />
                                </div>

                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('pessoa.rg')} ? has-error">
                                    <label for="pessoa.rg" class="col-sm-6 control-label">RG</label>
                                    <input type="text" class="form-control"maxlength="10" th:field="*{pessoa.rg}" placeholder="rg" />
                                </div>

                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('pessoa.cep')} ? has-error">
                                    <label for="pessoa.cep" class="col-sm-6 control-label">CEP</label>
                                    <input type="text" class="form-control" maxlength="9"  id="cep"th:field="*{pessoa.cep}" placeholder="cep" onkeypress="return MascaraCep(this)" onblur="populaInfoCEP(this)" />
                                </div>

                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('pessoa.logradouro')} ? has-error">
                                    <label for="pessoa.logradouro" class="col-sm-6 control-label">Rua</label>
                                    <input type="text" class="form-control" id="logradouro" maxlength="100" th:field="*{pessoa.logradouro}" placeholder="rua"/>
                                </div>

                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('pessoa.numero')} ? has-error">
                                    <label for="pessoa.numero" class="col-sm-6 control-label">Numero</label>
                                    <input type="number" class="form-control" maxlength="14" th:field="*{pessoa.numero}" placeholder="numero"/>
                                </div>

                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('pessoa.bairro')} ? has-error">
                                    <label for="pessoa.bairro" class="col-sm-6 control-label">Bairro</label>
                                    <input type="text" class="form-control" id="bairro" maxlength="30" th:field="*{pessoa.bairro}" placeholder="bairro"/>
                                </div>
                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('pessoa.cidade')} ? has-error">
                                    <label for="pessoa.cidade" class="col-sm-6 control-label">Cidade</label>
                                    <input type="text" class="form-control" id="cidade" maxlength="50" th:field="*{pessoa.cidade}" placeholder="cidade"/>
                                </div>

                                <div class="row"></div>

                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('pessoa.fone')} ? has-error">
                                    <label for="pessoa.fone" class="col-sm-6 control-label">Fone</label>
                                    <input type="tel" class="form-control" maxlength="50" th:field="*{pessoa.fone}" placeholder="fone"/>
                                </div>

                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('pessoa.email')} ? has-error">
                                    <label for="pessoa.email" class="col-sm-6 control-label">E-mail</label>
                                    <input type="email" class="form-control" maxlength="100" th:field="*{pessoa.email}" placeholder="email"/>
                                </div>

                                <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('pessoa.profissao')} ? has-error">
                                    <label for="pessoa.profissao" class="col-sm-6 control-label">Profissão</label>
                                    <input type="text" class="form-control" maxlength="50" th:field="*{pessoa.profissao}" placeholder="profissao"/>
                                </div>

                                <button type="submit" class="btn btn-primary  col-sm-2">Gravar</button>
                            </div>
                        </div>

                        <script async th:src="@{/static/js/date_paciente_responsavel.js}" type="text/javascript"></script>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
