<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{fragments/layout}">
    <head>
        <title>Lista de Responsavel</title>
    </head>
    <body>
        <div id="page-wrapper" data-layout-fragment="content">
            <div class="container-fluid">
                <div class="panel panel-default" style="margin-top: 10px">

                    <div class="panel-heading">
                        <div class="clearfix">
                            <div class="pull-right">
                                <a th:href="@{'/responsavel/' + ${paciente} + '/novo'}">Novo</a>
                            </div>
                            <ol class="breadcrumb" style="margin-bottom: 0px; padding-left: 0px; padding-bottom: 0px;padding-top: 0px;">
                                <li class="breadcrumb-item"><a href="#" th:href="@{/pacientes}">Pacientes</a></li>
                                <li class="breadcrumb-item active">Responsavel</li>
                            </ol>
<!--                            <div class="pull-left">
                                <a th:href="@{'/responsavel/' + ${paciente} + '/novo'}">
                                    Responsavel
                                    <h1 class="panel-title aw-titulo-panel">Responsavel</h1>
                                </a>
                            </div>-->
                            
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-success alert-dismissable fade in"
                            th:if="${not #strings.isEmpty(mensagem)}">
                            <label th:text="${mensagem}"/>
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                        </div>
                        
                        <form method="GET" class="form-horizontal" th:action="@{'/responsavel/' + ${paciente}}" th:object="${filtro}">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="Qual responsavel você está procurando?"
                                               autofocus="autofocus" th:field="*{descricao}"></input>
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn btn-default">
                                                <i class="glyphicon glyphicon-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Nascimento</th>
                                        <th>CPF</th>
                                        <th>Fone</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr th:each="responsavel : ${lista}">
                                        <td th:text="${responsavel.pessoa.nmPessoa}"></td>
                                        <td th:text="${{responsavel.pessoa.dtNascimento}}"></td>
                                        <td th:text="${responsavel.pessoa.cpf}"></td>
                                        <td th:text="${responsavel.pessoa.fone}"></td>
                                        <td class="text-right">
                                            <a class="btn btn-link btn-xs" th:href="@{'/responsavel/' + ${paciente} + '/' + ${responsavel.idResponsavel}}" 
                                               title="Editar" rel="tooltip" data-placement="top">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </a>
                                            <a class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmacaoExclusaoModal"
                                               th:attr="data-codigo=${responsavel.idResponsavel}, data-descricao=${responsavel.pessoa.nmPessoa}"
                                               title="Excluir" rel="tooltip" data-placement="top">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
            <div th:replace="fragments/dialogoConfirmacaoExclusao :: dialog('/responsavel')"></div>
        <!--</div>-->
    </body>
</html>