<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{fragments/layout}">
    <head>
        <title>Diagnóstico e Intervenções de Enfermagem por Paciente | [[${@projectSettings.getName()}]]</title>
    </head>
    <body>
        <div id="page-wrapper" class="no-padding" data-layout-fragment="content">
            <input type="hidden" id="base-url" th:value="@{/}"/>
            <div class="container-fluid">
                <div class="panel panel-default" style="margin-top: 10px">

                    <div class="panel-heading">
                        <div class="clearfix">
                            <div class="pull-right">
                                <button type="button" form="form-relatorio" onclick="exibeRelatorio();" class="btn-link">Relatório</button>
                                <button type="button" form="form-novo" onclick="abreModalInsercao();" class="btn-link">Novo</button>
                            </div>
                            <h1 class="panel-title aw-titulo-panel">Diagnóstico e Intervenções de Enfermagem por Paciente</h1>
                        </div>
                    </div>
                    <div class="panel-body">
                        
                        
                        <div  class="alert alert-success alert-dismissable fade in "
                             th:if="${not #strings.isEmpty(mensagem)}">
                            <label th:text="${mensagem}"/>
                            <a href="#" class="close" id="closeNotification" data-dismiss="alert" aria-label="close">x</a>
                        </div>                      
                        

                        <form id="form-filtro" class="form-horizontal panel-body form-group" th:object="${filtro}">
                            <input type="hidden" id="codigo" th:field="*{id}" />
                            <div class="form-group" style="margin: 5px; padding: 0px;">
                                <input id="filter-paciente" class="form-control" placeholder="Qual paciente você está procurando?" autofocus="autofocus" th:field="*{descricao}" onkeypress="changePaciente()"/>
                            </div>
                        </form>

                        <div id="dados"></div>
                    </div>
                </div>
            </div>
            
            
             <div class="modal fade" id="modalInclusao" tabindex="-1" data-keyboard="false">
                <button class="btn btn-default dismiss-modal" data-dismiss="modal">x</button>
                <div class="modal-dialog modal-dialog-no-margin">
                    <div class="modal-content square">
                        <div class="modal-header">
                            <h2 class="modal-title">Informe o diagnóstico de enfermagem</h2>
                        </div>

                        <div class="modal-body">
                            <input placeholder="Insira o diagnóstico de enfermagem" class="form-control" maxlength="1000" type="text" onkeydown="enterGravarDiagnostico(event)" id="dsDiagnostico"/>
                            <input type="hidden" id="idDiagnostico"/>
                        </div>

                        <div class="modal-footer">
                            <button type="button" onclick="gravarDiagnostico()" class="btn btn-primary btn-inserir-diagnostico">Gravar</button>
                        </div>
                    </div>
                </div>
            </div>

            <script async th:src="@{/static/js/diagnosticoPaciente.js}"></script>
    </body>
</html>