<div class="navbar-default sidebar" role="navigation" data-th-fragment="nav-bar-side-bar-left">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a th:href="@{/index}" href="index" th:classappend="${controller_name != null && controller_name == 'index'} ? active">
                    <i class="fa fa-bar-chart fa-fw"></i> Resumo
                </a>
            </li>
            <li>
                <a th:href="@{/prontuario/novo}" href="prontuario/novo" th:classappend="${controller_name != null && controller_name == 'prontuario'} ? active">
                    <i class="fa fa-list-alt fa-fw"></i> Prontuário
                </a>
            </li>
            <li>
                <a th:href="@{/pacientes}" href="pacientes" th:classappend="${controller_name != null && controller_name == 'pacientes'} ? active">
                    <i class="fa fa-user fa-fw"></i> Pacientes
                </a>
            </li>
            <li>
                <a th:href="@{/anamnese}" href="anamnese" th:classappend="${controller_name != null && controller_name == 'anamnese'} ? active">
                    <i class="fa fa-adn fa-fw"></i> Anamnese
                </a>
            </li>
            <li th:if="${session.user_id_admin != null and session.user_id_admin}">
                <a th:href="@{/diagnosticoPaciente}" href="diagnosticoPaciente" th:classappend="${controller_name != null && controller_name == 'diagnosticoPaciente'} ? active">
                    <i class="fa fa-ambulance fa-fw"></i> Diagnóstico de Pacientes
                </a>
            </li>
            <li>
                <a th:href="@{/sinaisVitais}" href="sinaisVitais" th:classappend="${controller_name != null && controller_name == 'sinaisVitais'} ? active">
                    <i class="fa fa-bullseye fa-fw"></i> Sinais Vitais
                </a>
            </li>
            <li>
                <a th:href="@{/qualidadeVida}" href="qualidadeVida" th:classappend="${controller_name != null && controller_name == 'qualidadeVida'} ? active">
                    <i class="fa fa-bicycle fa-fw"></i> Qualidade de Vida
                </a>
            </li>
            <li>
                <a th:href="@{/medicamentos}" href="medicamentos" th:classappend="${controller_name != null && controller_name == 'medicamentos'} ? active">
                    <i class="fa fa-medkit fa-fw"></i> Medicamentos
                </a>
            </li>
            <li>
                <a th:href="@{/produtos}" href="produtos" th:classappend="${controller_name != null && controller_name == 'produtos'} ? active">
                    <i class="fa fa-barcode fa-fw"></i> Produtos
                </a>
            </li>
            <li>
                <a th:href="@{/historicoEstoque}" href="historicoEstoque" th:classappend="${controller_name != null && controller_name == 'historicoEstoque'} ? active">
                    <i class="fa fa-book fa-fw"></i> Estoques
                </a>
            </li>
            <li th:if="${session.user_id_admin != null and session.user_id_admin}">
                <a th:href="@{/login/lista}" href="login/lista" th:classappend="${controller_name != null && controller_name == 'usuarios'} ? active">
                    <i class="fa fa-user-md fa-fw"></i> Usuários
                </a>
            </li>
            
            
            <li>
                <a th:href="@{/controleEpi}" href="controleEpi" th:classappend="${controller_name != null && controller_name == 'controleEpi'} ? active">
                    <i class="fa fa-arrow-down fa-fw"></i> Controle de EPI's
                </a>
            </li>
            <li th:if="${session.user_id_su != null and session.user_id_su}" >
                <a th:href="@{/estabelecimentos}" href="estabelecimentos" th:classappend="${controller_name != null && controller_name == 'estabelecimentos'} ? active">
                    <i class="fa fa-cog fa-fw"></i> Estabelecimentos
                </a>
            </li>
            <li>
            <a href="#"><i class="fa fa-wrench fa-fw"></i> Relatórios<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a th:href="@{/relatorios/porProdutos}" >Produtos</a>
                </li>
                <li>
                    <a th:href="@{/relatorios/produtosPorPaciente}" >Produtos por Paciente</a>
                </li>
                <li>
                    <a th:href="@{/relatorios/prontuarioPorPaciente}" >Prontuarios por Paciente</a>
                </li>
            </ul>
            <!-- /.nav-second-level -->
    </div>
</div>
