<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0" data-th-fragment="nav-bar">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        
        <ul class="nav navbar-top-links navbar-right hide-responsive show-ocult-responsive pull-right">
            <li class="dropdown" th:if="${session.user_id != null}">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="#">
                            <i class="fa fa-user fa-fw" ></i>
                            <label th:if="${session.user_id != null}" th:text="${session.user_id.pessoa.nmPessoa}"></label>
                        </a>
                    </li>
                    <li>
                        <a href="#" th:href="@{'/login/' + ${session.user_id.idLogin}}"><i class="fa fa-gear fa-fw"></i> Configuraçoes</a>
                    </li>
                    <li>
                        <label style="color: #868688;margin-top: 10px;margin-left: 25px;font-weight: 100;" th:text="'Versão ' + ${@projectSettings.getVersion()}">Versão</label>
                    </li>
                    <li class="divider"/>
                    <li>
                        <a href="login/logout" th:href="@{/login/logout}">
                            <i class="fa fa-sign-out fa-fw"></i> 
                            Sair
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        
        <div>
            <a th:href="@{/index}" data-toggle="tooltip" title="Resumo">
                <img src="/static/images/logo.png" alt="Home" th:src="@{'/static/images/logo.png?v=' + ${@projectSettings.getVersion()}}" height="35" width="120" style="margin-top: 5px;margin-left: 5px;"/>
            </a>
        </div>
        
        <!--<link rel="icon" type="image/png" th:href="@{/static/images/favicon.png}" href="/static/images/favicon.png" />-->
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right hide-ocult-responsive show-responsive">
        <li class="dropdown" th:if="${session.user_id != null}">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu  dropdown-menu-right">
                <li>
                    <a href="#">
                        <i class="fa fa-user fa-fw" ></i>
                        <label th:if="${session.user_id != null}" th:text="${session.user_id.pessoa.nmPessoa}"></label>
                    </a>
                </li>
                <li>
                    <a href="#" th:href="@{'/login/' + ${session.user_id.idLogin}}"><i class="fa fa-gear fa-fw"></i> Configuraçoes</a>
                </li>
                <li>
                    <label style="color: #868688;margin-top: 10px;margin-left: 25px;font-weight: 100;" th:text="'Versão ' + ${@projectSettings.getVersion()}">Versão</label>
                </li>
                <li class="divider"/>
                <li>
                    <a href="login/logout" th:href="@{/login/logout}">
                        <i class="fa fa-sign-out fa-fw"></i> 
                        Sair
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <div data-th-replace="fragments/fragment-nav-bar-side-bar-left :: nav-bar-side-bar-left"/>
</nav>