<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width" />
        <meta name="format-detection" content="telephone=no"/>
            
        <title>Spring MVC</title>
        <link rel="icon" type="image/png" th:href="@{/static/images/favicon.png}" href="/static/images/favicon.png" />
        <link rel="stylesheet" type="text/css" th:href="@{/static/vendor/bootstrap/css/bootstrap.min.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/static/vendor/bootstrap/css/bootstrap-datepicker.standalone.min.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/static/vendor/metisMenu/metisMenu.min.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/static/vendor/font-awesome/css/font-awesome.min.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/static/dist/css/sb-admin-2.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/static/css/easy-autocomplete.min.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/static/css/easy-autocomplete.themes.min.css}" />
        <!--<link rel="stylesheet" type="text/css" th:href="@{/static/vendor/sweetalert/sweetalert.css}"></link>-->
        
        <link th:if="${@projectSettings.getProduction() == 'false'}" rel="stylesheet" type="text/css" th:href="@{'/static/css/projeto.css?v=' + ${@projectSettings.getVersion()}}" />
        <link th:if="${@projectSettings.getProduction() == 'true'}" rel="stylesheet" type="text/css" th:href="@{'/static/css/projeto.min.css?v=' + ${@projectSettings.getVersion()}}" />
        
        <script th:src="@{/static/vendor/jquery/jquery-2.1.4.min.js}" type="text/javascript"></script>
        <script th:src="@{/static/vendor/datatables/js/jquery.dataTables.min.js}" src="../static/vendor/datatables/js/jquery.dataTables.min.js"></script>
        <script th:src="@{/static/js/jquery.easy-autocomplete.js}" type="text/javascript"></script>
    </head>
    <body>


        <div id="wrapper">
            <div data-th-replace="fragments/fragment-nav-bar :: nav-bar"/>
            <div data-layout-fragment="content"/>
        </div>
        
        <script th:src="@{/static/vendor/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
        <script th:src="@{/static/vendor/metisMenu/metisMenu.min.js}" type="text/javascript"></script>
        <script th:src="@{/static/vendor/raphael/raphael.min.js}" type="text/javascript"></script>
        <script th:src="@{/static/dist/js/sb-admin-2.js}" type="text/javascript"></script>
        <script th:src="@{/static/vendor/bootstrap/js/bootstrap-datepicker.min.js}"></script>
	<script th:src="@{/static/vendor/bootstrap/js/bootstrap-datepicker.pt-BR.min.js}"></script>
        <script th:src="@{/static/vendor/datatables-plugins/dataTables.bootstrap.min.js}" src="../static/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
        <script th:src="@{/static/vendor/datatables-responsive/dataTables.responsive.js}" src="../static/vendor/datatables-responsive/dataTables.responsive.js"></script>
        <script th:src="@{/static/js/jquery.mask.min.js}" type="text/javascript"></script>
        
        <script th:if="${@projectSettings.getProduction() == 'false'}" th:src="@{'/static/js/validador.js?v=' + ${@projectSettings.getVersion()}}" type="text/javascript"></script>
        <script th:if="${@projectSettings.getProduction() == 'true'}" th:src="@{'/static/js/validador.min.js?v=' + ${@projectSettings.getVersion()}}" type="text/javascript"></script>
        
        <script th:if="${@projectSettings.getProduction() == 'false'}" th:src="@{'/static/js/projeto.js?v=' + ${@projectSettings.getVersion()}}" type="text/javascript"></script>
        <script th:if="${@projectSettings.getProduction() == 'true'}" th:src="@{'/static/js/projeto.min.js?v=' + ${@projectSettings.getVersion()}}" type="text/javascript"></script>
        
        <!--2.1.2-->
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

        <script type="text/javascript">
            $(function () {
                mascararDouble();
                mascararDoubleNegative();
                mascararTime();
            });
        </script>
        
        <script>
            $(document).ready(function () {
                $('#tab-default').DataTable({
                    "searching": false,
                    "order": [],
                    "language": {
                        "lengthMenu": "Mostrando _MENU_ registros por pagina",
                        "zeroRecords": "Nenhum registro",
                        "info": "Mostrando pagina _PAGE_ de _PAGES_",
                        "infoEmpty": "Nenhum registro disponivel",
                        "infoFiltered": "(filtered from _MAX_ total records)",
                        "paginate": {
                            "first":      "Primeiro",
                            "last":       "Ultimo",
                            "next":       "Proximo",
                            "previous":   "Anterior"
                        },
                    },
                    "dom": "<'top' tr>" + "<'bottom' <'col-sm-6'l><'col-sm-6'p>>"
                });
            });
        </script>
        
    </body>
</html>