<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      data-layout-decorate="~{fragments/layout}">
    <head>
        <title>Produtos | [[${@projectSettings.getName()}]]</title>
    </head>
    <body>
        <div id="page-wrapper" data-layout-fragment="content">
            <div class="container-fluid">
                <form method="POST" th:action="@{/produtos}" th:object="${obj}" style="margin-top: 10px">

                    <div class="panel panel-default" style="margin-top: 10px">
                        
                        <div class="panel-heading">
                            <div class="clearfix">
                                <div class="pull-right">
                                    <a th:href="@{/produtos}">Voltar</a>
                                    <!--<button type="submit" class="btn btn-primary">Gravar</button>-->
                                </div>
                                <ol class="breadcrumb" style="margin-bottom: 0px; padding-left: 0px; padding-bottom: 0px;padding-top: 0px; margin-top: 5px;">
                                    <li class="breadcrumb-item active">Manutençao de Produto</li>
                                    <li class="breadcrumb-item active" 
                                        th:if="${obj.idProduto != null}"
                                        th:text="*{dsProduto}"></li>
                                </ol>
                            </div>
                        </div>

                        <div class="panel-body">
                            <div class="form-group" style="margin-top: 10px">

                                <div class="alert alert-success" th:text="${mensagem}" 
                                     th:if="${not #strings.isEmpty(mensagem)}"></div>

                                <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                                    <div th:each="detailedError : ${#fields.detailedErrors()}">
                                        <span th:text="${detailedError.message}"></span>
                                    </div>
                                </div>


                                <input type="hidden" th:field="*{idProduto}"/>

                                <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('dsProduto')} ? has-error">
                                    <label for="dsProduto" class="col-sm-6 control-label">Nome*</label>
                                    <input type="text" class="form-control" maxlength="100" id="nome" th:field="*{dsProduto}" placeholder="informe o nome" /> 
                                </div>

                                <div th:if="*{idProduto == null}" class="form-group  col-sm-6" th:classappend="${#fields.hasErrors('qtdEstoqueInicial')} ? has-error">
                                    <label for="qtdEstoqueInicial" class="col-sm-6 control-label">Estoque</label>
                                    <input type="tel" id="qtdInicial" class="js-double-negative form-control"  placeholder="0,00" maxlength="10" th:field="*{qtdEstoqueInicial}"/> 
                                </div>

                                <div class="row"></div>

                                <div class="form-group  col-sm-6" th:classappend="${#fields.hasErrors('custo')} ? has-error">
                                    <label for="custo" class="col-sm-6 control-label">Custo</label>
                                    <input type="tel" id="custo" class="js-double-negative form-control"  placeholder="0,00" maxlength="10" th:field="*{custo}"/> 
                                </div>

                                <div class="form-group  col-sm-6" th:classappend="${#fields.hasErrors('preco')} ? has-error">
                                    <label for="preco" class="col-sm-6 control-label">Preço</label>
                                    <input type="tel" id="preco" class="js-double-negative form-control" placeholder="0,00" maxlength="10" th:field="*{preco}"/> 
                                </div>

                                <button type="submit" class="btn btn-primary btn-fixed-botton square" style="margin-top: 5px;">Gravar</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </body>
</html>
