<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{fragments/layout}">
    <head>
        <title>Produtos | [[${@projectSettings.getName()}]]</title>
    </head>
    <body>
        <div id="page-wrapper" class="no-padding" data-layout-fragment="content">
            <div class="container-fluid">
                <div class="panel panel-default" style="margin-top: 10px">

                    <div class="panel-heading">
                        <div class="clearfix">
                            <div class="pull-right">
                                <!--<a target="_blank" th:href="@{/produtos/pdf}" style="margin-right: 5px;">Relatório</a>-->
                                <a th:href="@{/produtos/novo}">Novo</a>
                            </div>
                            <h1 class="panel-title aw-titulo-panel">Produtos</h1>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-success alert-dismissable fade in"
                             th:if="${not #strings.isEmpty(mensagem)}">
                            <label th:text="${mensagem}"/>
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                        </div>
                        <div class="alert alert-danger alert-dismissable fade in"
                             th:if="${not #strings.isEmpty(mensagemError)}">
                            <label th:text="${mensagemError}"/>
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                        </div>

                        <form method="GET" class="form-horizontal" th:action="@{/produtos}" th:object="${filtro}">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <input class="form-control" id="form-descricao" placeholder="Qual produto você está procurando?"
                                               autofocus="autofocus" th:field="*{descricao}"></input>
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn btn-default">
                                                <i class="glyphicon glyphicon-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive">
                            <table class="table table-hover table-striped" id="table-produto">
                                <thead>
                                    <tr>
                                        <th>Produto</th>
                                        <th>Estoque<br>Pacientes</th>
                                        <th>Estoque<br>Clínica</th>
                                        <th th:if="${(session.user_id_su != null and session.user_id_su) or (session.user_id_admin != null and session.user_id_admin)}">Custo</th>
                                        <th th:if="${(session.user_id_su != null and session.user_id_su) or (session.user_id_admin != null and session.user_id_admin)}">Preço</th>
                                        <th th:if="${(session.user_id_su != null and session.user_id_su) or (session.user_id_admin != null and session.user_id_admin)}"></th>
                                    </tr>
                                </thead>
                                <tbody id="body_table"/>
                            </table>
                            <div class="text-center">
                                <button id="carregar_mais" type="button" class="btn" style="background: lightblue; width: 40%;" onclick="maisResultados()">
                                    <i id="img-carregar" class="fa fa-chevron-down fa-2x" aria-hidden="true"></i>
                                    <div id="loader" class="spinner-loader loader-hidden">
                                        <i class="rect1"></i>
                                        <i class="rect2"></i>
                                        <i class="rect3"></i>
                                        <i class="rect4"></i>
                                        <i class="rect5"></i>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div th:replace="fragments/dialogoConfirmacaoExclusao :: dialog('/produtos')"></div>
            
            <input type="hidden" id="base-url" th:value="@{/}"/>
            <script>
                function buscarLista(offset, limit){
                    var _urlBuscaLista = $("#base-url").val() + "produtos/getLista";

                    var _descricao = $("#form-descricao").val();
                    var _json = "";

                    //monta json
                    if (_descricao !== null && _descricao.length > 0){
                        _json += " \"descricao\": \"" + _descricao + "\", ";
                    }

                    _json += "\"offset\": " + offset + ", ";
                    _json += "\"limit\": " + limit +" ";
                    _json = "{" + _json + "}";

                    $.ajax({
                        method: "POST",
                        url: _urlBuscaLista,
                        data: {filtro_consulta: _json, base_url: $("#base-url").val()},
                        success: function (data) {
                            if (data !== null && data.length > 0){
                                $("#body_table").append(data);
                            }
                            
                            $("#img-carregar").removeClass("loader-hidden");
                            $("#loader").addClass("loader-hidden");
                        }, 
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert("Erro ao obter resultados da lista.");
                            console.log(textStatus, errorThrown);
                            
                            $("#img-carregar").removeClass("loader-hidden");
                            $("#loader").addClass("loader-hidden");
                        }, 
                        beforeSend: function (jqXHR, settings) {
                            $("#loader").removeClass("loader-hidden");
                            $("#img-carregar").addClass("loader-hidden");
                        }
                    });
                }
                
                function maisResultados(){
                    var rowCont = $("#table-produto tbody tr").length;
                    buscarLista(rowCont, rowCont + 20);
                }
                
                var dirSorteble = 1;
                function addOrdenacao(){
                    var table = document.getElementById('table-produto');
                    var th = table.tHead;
                    
                    th.rows[0].cells[0].addEventListener('click', function () {sortTable(table, 1, (dirSorteble = 1 - dirSorteble));});
                    th.rows[0].cells[1].addEventListener('click', function () {sortTable(table, 1, (dirSorteble = 1 - dirSorteble));});
                    th.rows[0].cells[2].addEventListener('click', function () {sortTable(table, 2, (dirSorteble = 1 - dirSorteble));});
                    th.rows[0].cells[3].addEventListener('click', function () {sortTable(table, 3, (dirSorteble = 1 - dirSorteble));});
                    th.rows[0].cells[4].addEventListener('click', function () {sortTable(table, 4, (dirSorteble = 1 - dirSorteble));});
                }
                
                window.onload = function () {
                    addOrdenacao();
                    buscarLista(0, 10);
                };
            </script>
    </body>
</html>