/**
        LOADER
*/
.spinner-loader {
    margin: auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.spinner-loader > i {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner-loader .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner-loader .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner-loader .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner-loader .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% { 
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% { 
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

.loader-hidden {
    display: none;
}

@media screen and (max-width: 767px) {
    .container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    }
    
    .panel-body {
        padding: 7px;
    }
    
    .table-responsive {
        border: 0px solid #ddd;
    }
    
    .modal-dialog-no-margin {
        margin: 0;
    }
    
    .hide-ocult-responsive {
        display: none;
    }
    
    .show-ocult-responsive {
        display: block;
    }
}

@media (min-width: 768px){
    .modal-dialog-medicamentos {
        width: 80%;
    }
    
    .hide-responsive {
        display: none;
    }
    .show-responsive {
        display: block;
    }
}

.table>thead>tr>th {
    border-top: 0px solid #ddd;
}

.dismiss-modal {
    position: fixed;
    top: 0;
    right: 0;
    margin: 15px;
    z-index: 9999;
    color: #fdfdfd;
    background: black!important;
    opacity: 0.5;
    font-weight: bold;
    border-color: transparent;
}

.btn-fixed-botton {
    position: fixed;
    bottom: 0px;
    left:0;
    right:0;
    width: 100%;
    font-weight: bold;
    font-size: 1.7rem;
}

.square {
    border-radius: 0;
}

.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}
.padding-right {
    padding-right: 10px;
}
.padding-left {
    padding-left: 10px;
}

.no-margin-left {
    margin-left: 0px!important;
}

.col-medicamento-dias {
    max-width: 90px;
    word-wrap: break-word;
    white-space: inherit!important;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #b0b0b0;
}

.line-row-bottom {
    border-bottom-color: #d6d6d6;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin: 10px 0px;
}

.diagnostico-row {
    display: flex;
    align-items: center;
    padding: 5px;
}

.diagnostico-body {
    padding: 0px 5px;
}

.diagnostico-descricao {
    flex: 7;
    margin: 0;
}

.diagnostico-buttons {
    flex: 3;
    display: flex;
    justify-content: flex-end;
}

.btn-inserir-diagnostico {
    padding: 5px 50px;
}

#modalInclusao .modal-footer {
    text-align: center;
}   

.label-block {
    display: block;
}

.display-table {
    display: table;
}

.subtitle-report-prontuario {
    margin-bottom: 10px
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 785px;
        margin: 30px auto;
    }
}

.font-400 {
    font-weight: 400;
}

.font-300 {
    font-weight: 300;
}

.borderless-top {
    border-top: none!important;
}

.cell-bg-realce {
    background-color: #eae9e9;
}

.qualidade-vida-resposta {
    display: flex;
    justify-content: space-between;
}

h5.qol {
    margin-bottom: 40px;
    font-size: 17px;
    text-align: center;
    font-weight: 300;
}