<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      data-layout-decorate="~{fragments/layout}">

    <head>
        <title>Resumo | [[${@projectSettings.getName()}]]</title>
    </head>

    <body>
        <div id="page-wrapper" data-layout-fragment="content">
            <div class="container-fluid" th:object="${obj}">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Resumo</h1>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-check fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge" th:text="*{qtdDocumetadosHoje}">0</div>
                                        <div>Pacientes em dia</div>
                                    </div>
                                </div>
                            </div>
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseZero">
                                <div class="panel-footer">
                                    <span class="pull-left">Ver detalhes</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-exclamation fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge" th:text="*{qtdNaoDocumetadosHoje}">0</div>
                                        <div>Não documentados hoje!</div>
                                    </div>
                                </div>
                            </div>
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseUm">
                                <div class="panel-footer">
                                    <span class="pull-left">Ver detahes</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                   <div class="col-lg-4 col-md-6">
                        <div class="panel panel-orange">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-barcode fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge" th:text="*{qtdProdutosEstoqueBaixo}">0</div>
                                        <div>Estoque Baixo</div>
                                    </div>
                                </div>
                            </div>
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseDois" onclick="onClickEstoqueBaixo()">
                                <div class="panel-footer">
                                    <span class="pull-left">Ver detalhes</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseZero">Paciente Documentados Hoje</a>
                                </h4>
                            </div>
                            <div id="collapseZero" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <tbody>
                                                <tr th:each="paciente : *{pacientesDocumentados}">
                                                    <td>
                                                        <a th:href="@{'/prontuario/' + ${paciente.idPaciente}}" th:text="${paciente.pessoa.nmPessoa}"/>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseUm">Paciente Não Documentados Hoje</a>
                                </h4>
                            </div>
                            <div id="collapseUm" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <tbody>
                                                <tr th:each="paciente : *{pacientesNaoDocumentados}">
                                                    <td>
                                                        <a th:href="@{'/prontuario/' + ${paciente.idPaciente}}" th:text="${paciente.pessoa.nmPessoa}"/>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseDois">Produtos com Estoque Baixo</a>
                        </h4>
                    </div>
                    <div id="collapseDois" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Paciente/Geral</th>
                                            <th>Produto</th>
                                            <th>Estoque</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr th:each="produto : *{produtoEstoqueBaixo}">
                                            <td th:text="${produto.nmPessoa}"></td>
                                            <td th:text="${produto.dsProduto}"></td>
                                            <td class="text-right">
                                                <a th:href="@{'/historicoEstoque?idEstoque=' + ${produto.idEstoque} + '&amp;produto=' + ${produto.dsProduto}}" th:text="${#numbers.formatDecimal(produto.qtd, 1, 'POINT', 2, 'COMMA')}"/>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                
                <script>
                    function rowClickedPaciente(value) {
                        location.href = "prontuario/" + value;
                    }
                    
                    function onClickEstoqueBaixo(){
                        $('html, body').animate({
                            scrollTop: $('body').height()
                        }, 500);
                    }
                </script>
            </div>
        </div>
    </body>

</html>
