<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>

        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        <title>Controle de Usuario | [[${@projectSettings.getName()}]]</title>
        <link rel="icon" type="image/png" th:href="@{/static/images/favicon.png}" href="/static/images/favicon.png" />
        <link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css" th:href="@{/static/vendor/bootstrap/css/bootstrap.min.css}" />    
        <link rel="stylesheet" type="text/css" href="../vendor/metisMenu/metisMenu.min.css" th:href="@{/static/vendor/metisMenu/metisMenu.min.css}" />    
        <link rel="stylesheet" type="text/css" href="../dist/css/sb-admin-2.css" th:href="@{/static/dist/css/sb-admin-2.css}" />
        <link rel="stylesheet" type="text/css" href="../vendor/font-awesome/css/font-awesome.min.css" th:href="@{/static/vendor/font-awesome/css/font-awesome.min.css}"/>
        
        <style>
            .square {
                border-radius: 0;
            }
            
            .login-panel {
                border-color: transparent;
                box-shadow: 2px 2px 14px -4px rgba(0,0,0,0.29);
            }
        </style>

    </head>

    <body>

        <div class="container">
            <img src="/static/images/logo.png" th:src="@{'/static/images/logo.png?v=' + ${@projectSettings.getVersion()}}" height="35" width="120" style="margin-top: 5px;margin-left: 5px;"/>
            
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="login-panel panel panel-default square">
                        
                        <div class="panel-heading" style="background-color: white; padding: 15px;">
                            <h3 class="panel-title text-center">Informe suas credencias</h3>
                        </div>
                        <div class="panel-body">
                            <form method="POST" th:action="@{/login/validar}" th:object="${login}">
                                <div class="alert alert-danger" th:text="${mensagem}" 
                                    th:if="${not #strings.isEmpty(mensagem)}">
                                </div>
                                <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                                    <div th:each="detailedError : ${#fields.detailedErrors()}">
                                        <span th:text="${detailedError.message}"></span>
                                    </div>
                                </div>
                                
                                <fieldset>
                                    <div class="form-group" th:classappend="${#fields.hasErrors('login')} ? has-error">
                                        <input class="form-control" th:field="*{login}" placeholder="Usuario" name="usuario" type="text" autofocus>
                                    </div>
                                    <div class="form-group" th:classappend="${#fields.hasErrors('senha')} ? has-error">
                                        <input class="form-control" th:field="*{senha}" placeholder="Senha" name="senha" type="password" value="">
                                    </div>
                                    <button type="submit" class="btn btn-lg btn-primary btn-block square">Entrar</button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="../vendor/jquery/jquery.min.js" th:src="@{/static/vendor/jquery/jquery-2.1.4.min.js}" type="text/javascript"></script>
        <script src="../vendor/bootstrap/js/bootstrap.min.js" th:src="@{/static/vendor/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
        <script src="../vendor/metisMenu/metisMenu.min.js" th:src="@{/static/vendor/metisMenu/metisMenu.min.js}" type="text/javascript"></script>
        <script src="../dist/js/sb-admin-2.js" th:src="@{/static/dist/js/sb-admin-2.js}" type="text/javascript"></script>
    </body>

</html>
