<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      data-layout-decorate="~{fragments/layout}">
    <head>
        <title>Usuario | [[${@projectSettings.getName()}]]</title>
    </head>
    <body>
        <div id="page-wrapper" data-layout-fragment="content">
            <div class="container-fluid">
                <div class="panel panel-default" style="margin-top: 10px">
                    <div class="panel-heading">
                        <div class="clearfix">
                            <div class="pull-right">
                                <a th:href="@{/login/lista}">Voltar</a>
                            </div>
                            <h1 class="panel-title aw-titulo-panel">Manutençao de Usuários</h1>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form method="POST" th:action="@{/login}" th:object="${login}" style="margin-top: 10px">
                            
                            <div class="alert alert-success" th:text="${mensagem}" 
                                 th:if="${not #strings.isEmpty(mensagem)}"></div>

                            <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                                <div th:each="detailedError : ${#fields.detailedErrors()}">
                                    <span th:text="${detailedError.message}"></span>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                
                                <input type="hidden" th:field="*{idLogin}"/>
                                <input type="hidden" th:field="*{pessoa.idPessoa}" />
                                <input type="hidden" th:field="*{qtdAcessos}" />

                                
                                <div class="form-group" th:classappend="${#fields.hasErrors('pessoa.nmPessoa')} ? has-error">
                                    <label for="pessoa.nmPessoa" class="col-sm-6 control-label">Nome*</label>
                                    <input type="text" class="form-control" maxlength="100" th:field="*{pessoa.nmPessoa}" placeholder="nome" />
                                </div>
                                
                                <div class="form-group" th:classappend="${#fields.hasErrors('login')} ? has-error">
                                    <label for="login" class="col-sm-6 control-label">Login*</label>
                                    <input type="text" class="form-control" maxlength="200" id="nome" th:field="*{login}" placeholder="login" /> 
                                </div>
                                <div th:if="${(session.user_id_admin != null and session.user_id_admin) 
                                     or session.user_id.idLogin == login.idLogin
                                     or login.idLogin == null}"
                                     class="form-group" th:classappend="${#fields.hasErrors('senha')} ? has-error">
                                    <label for="senha" class="col-sm-6 control-label">Senha*</label>
                                    <input type="password" class="form-control" maxlength="200" th:field="*{senha}" placeholder="senha" />
                                </div>
                                
                                <div th:if="${session.user_id_admin != null and session.user_id_admin}" 
                                     class="form-group col-sm-12" th:classappend="${#fields.hasErrors('admin')} ? has-error">
                                    <label for="admin" class="control-label">
                                        <input type="checkbox" th:field="*{admin}" />
                                        Administrador
                                    </label>
                                </div>
                                
                                <div class="form-group" th:classappend="${#fields.hasErrors('identificador')} ? has-error">
                                    <label for="identificador" class="col-sm-6 control-label">Identificador</label>
                                    <input type="text" class="form-control" maxlength="200" id="identificador" th:field="*{identificador}" placeholder="identificador" /> 
                                </div>
                                
                                <div class="form-group" th:classappend="${#fields.hasErrors('tpLogin')} ? has-error">
                                    <label for="tpLogin" class="col-sm-6 control-label">Tipo</label>
                                    <select class="form-control" th:field="*{tpLogin}">
                                        <option th:value="E">Enfermeiro</option>
                                        <option th:value="T">Tec.Enfermagem</option>
                                        <option th:value="M">Médico</option>
                                        <option th:value="C">Cuidador</option>
                                        <option th:value="A">Assistente Social</option>
                                        <option th:value="F">Fisioterapeuta</option>
                                        <option th:value="N">Nutricionista</option>
                                        <option th:value="O">Outros</option>
                                    </select>
                                </div>
                                
                                
                                <button type="submit" class="btn btn-primary">Gravar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
