<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{fragments/layout}">
    <head>
        <title>Anamnese do Paciente | [[${@projectSettings.getName()}]]</title>
    </head>
    <body>
        <div id="page-wrapper" class="no-padding" data-layout-fragment="content">
            <input type="hidden" id="base-url" th:value="@{/}"/>
            <div class="container-fluid">
                <div class="panel panel-default" style="margin-top: 10px">

                    <div class="panel-heading">
                        <div class="clearfix">
                            <div class="pull-right">
                                <button type="button" form="form-relatorio" onclick="exibeRelatorio();" class="btn-link">Relatório</button>
                                <button type="button" form="form-novo" onclick="abreInsercao();" class="btn-link">Novo</button>
                            </div>
                            <h1 class="panel-title aw-titulo-panel">Anamnese do Paciente</h1>
                        </div>
                    </div>
                    <div class="panel-body">
                        
                        
                        <div  class="alert alert-success alert-dismissable fade in "
                             th:if="${not #strings.isEmpty(mensagem)}">
                            <label th:text="${mensagem}"/>
                            <a href="#" class="close" id="closeNotification" data-dismiss="alert" aria-label="close">x</a>
                        </div>          
                        
                        <div  class="alert alert-danger alert-dismissable fade in "
                             th:if="${not #strings.isEmpty(mensagemErr)}">
                            <label th:text="${mensagemErr}"/>
                            <a href="#" class="close" id="closeNotification" data-dismiss="alert" aria-label="close">x</a>
                        </div>          
                        
                        <div id="js-replace"></div>
                        

                        <form id="form-filtro" class="form-horizontal panel-body form-group" th:object="${filtro}">
                            <input type="hidden" id="codigo" th:field="*{id}" />
                            <div class="form-group" style="margin: 5px; padding: 0px;">
                                <input id="filter-paciente" class="form-control" placeholder="Qual paciente você está procurando?" autofocus="autofocus" th:field="*{descricao}" onkeypress="changePaciente()"/>
                            </div>
                        </form>

                        <div class="table-responsive">
                            <table class="table table-hover table-striped table-responsive table-bordered" id="table-medicamentos">
                                <thead id="head_table">
                                    <tr>
                                        <th colspan="4"></th>
                                        <th colspan=2 class="text-center">Mobilidade Fisica</th>
                                        <th colspan=2 class="text-center">Alimentação</th>
                                        <th colspan=2 class="text-center">Hidratação</th>
                                        <th colspan=2 class="text-center">Ventilação</th>
                                        <th colspan="5" class="text-center">Cabeça</th>
                                        <th colspan="3" class="text-center">Tórax</th>
                                        <th colspan="4" class="text-center">Abdome</th>
                                        <th colspan=2 class="text-center">Membros</th>
                                        <th colspan=1 class="text-center">Genitário Masculino</th>
                                        <th colspan=2 class="text-center">Genitária Feminino</th>
                                        <th colspan=4 class="text-center">Eliminação Fisiológicas</th>
                                        <th colspan=2 class="text-center">Pele</th>
                                        <th colspan=1 class="text-center">Conduta</th>
                                    </tr>
                                    <tr>
                                        <th>
                                            <input type="checkbox" id="selectAll"/>
                                        </th>
                                        <th>Data</th>
                                        <th>Nível de Conciencia</th>
                                        <th>Orientação</th>
                                        
                                        <th>Opção</th>
                                        <th>Observação</th>
                                        
                                        <th>Opção</th>
                                        <th>Observação</th>
                                        
                                        <th>Opção</th>
                                        <th>Observação</th>
                                        
                                        <th>Opção</th>
                                        <th>Observação</th>
                                        
                                        <th>Crânio</th>
                                        <th>Olhos</th>
                                        <th>Ouvidos</th>
                                        <th>Nariz</th>
                                        <th>Cavidade Oral</th>
                                        
                                        <th>Inspeção</th>
                                        <th>Palpação</th>
                                        <th>Ausculta</th>
                                        
                                        <th>Inspeção</th>
                                        <th>Palpação</th>
                                        <th>Ausculta</th>
                                        <th>Ostomia</th>
                                        
                                        <th>Inspeção</th>
                                        <th>Palpação</th>
                                        
                                        <th>Inspeção</th>
                                        
                                        <th >Inspeção</th>
                                        <th>Perianal</th>
                                        
                                        <th>Inconsistencia Urinária</th>
                                        <th>Inconsistencia Intestinal</th>
                                        <th>Evacuação</th>
                                        <th>Diurese</th>
                                        
                                        <th>Inspeção</th>
                                        <th>Ulceras</th>
                                        
                                        <th>Conduta</th>
                                        
                                        <th th:if="${session.user_id_admin != null and session.user_id_admin}" id="th_buttons"></th>
                                    </tr>
                                </thead>

                                <tbody id="body_table"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
            <form id="form-novo" th:action="@{/anamnese/formulario}" method="POST">
                <input type="hidden" id="novo-codigo" name="idPaciente" th:value="${idPaciente}"/>
                <input type="hidden" id="novo-nome" name="nome" th:value="${nmPaciente}"/>
            </form>
            
            <form id="form-edicao" th:action="@{/anamnese/formulario}" method="POST">
                <input type="hidden" id="edicao-codigo" name="idPaciente" th:value="${idPaciente}"/>
                <input type="hidden" id="edicao-nome" name="nome" th:value="${nmPaciente}"/>
                <input type="hidden" id="edicao-id" name="id"/>
            </form>
            
            <form id="form-relatorio" method="POST" target='_blank' th:action="@{/anamnese/pdf}">
                <input type="hidden" id="rel-codigos" name="codigos[]" />
            </form>
            
            <div th:replace="fragments/dialogoConfirmacaoExclusao :: dialog('/anamnese')"></div>

            <script th:if="${@projectSettings.getProduction() == 'true'}" th:src="@{'/static/js/anamnese.min.js?v=' + ${@projectSettings.getVersion()}}"></script>
            <script th:if="${@projectSettings.getProduction() == 'false'}" th:src="@{'/static/js/anamnese.js?v=' + ${@projectSettings.getVersion()}}"></script>
    </body>
</html>