<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      data-layout-decorate="~{fragments/layout}">
    <head>
        <title>Anamese do Paciente | [[${@projectSettings.getName()}]]</title>
    </head>
    <body>
        <div id="page-wrapper" data-layout-fragment="content">
            <div class="container-fluid">
                <form id="form-manutencao" method="POST" th:action="@{/anamnese/salvar}" th:object="${obj}" style="margin-top: 10px">

                    <div class="panel panel-default" style="margin-top: 10px">

                        <div class="panel-heading">
                            <div class="clearfix">
                                <div class="pull-right">
                                    <a th:href="@{/anamnese(id=${idPaciente},descricao=${nmPaciente})}">Voltar</a>
                                    <!--<button type="submit" class="btn btn-primary">Gravar</button>-->
                                </div>
                                <ol class="breadcrumb" style="margin-bottom: 0px; padding-left: 0px; padding-bottom: 0px;padding-top: 0px; margin-top: 5px;">
                                    <li class="breadcrumb-item active">Anamese do Paciente</li>
                                </ol>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel-body">

                                <div class="alert alert-success" th:text="${mensagem}" 
                                     th:if="${not #strings.isEmpty(mensagem)}"></div>

                                <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                                    <div th:each="detailedError : ${#fields.detailedErrors()}">
                                        <span th:text="${detailedError.message}"></span>
                                    </div>
                                </div>

                                <div class="panel-body">
                                    <input type="hidden" th:field="*{id}"/>
                                    <input type="hidden" th:field="*{paciente.idPaciente}"/>
                                    <input type="hidden" th:field="*{paciente.pessoa.nmPessoa}"/>
                                    
                                    <div class="row">
                                        
                                        <h3>Nível de Consciência</h3>
                                        <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('nivelConsciencia')} ? has-error">
                                            <label>
                                                <input type="radio" th:field="*{nivelConsciencia}" th:value="A"></input>
                                                Alerta
                                            </label>
                                            <label>
                                                <input type="radio" th:field="*{nivelConsciencia}" th:value="L"></input>
                                                Letárgicos/sonolento
                                            </label>
                                            <label>
                                                <input type="radio" th:field="*{nivelConsciencia}" th:value="E"></input>
                                                Estupor e semicoma
                                            </label>
                                            <label>
                                                <input type="radio" th:field="*{nivelConsciencia}" th:value="C"></input>
                                                Coma
                                            </label>
                                        </div>

                                        
                                        
                                        
                                        
                                        
                                        <h3>Orientação</h3>
                                        <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('orientacao')} ? has-error">
                                            <label>
                                                <input type="radio" th:field="*{orientacao}" th:value="O"></input>
                                                Orientado
                                            </label>
                                            <label>
                                                <input type="radio" th:field="*{orientacao}" th:value="OP"></input>
                                                Orientado em períodos
                                            </label>
                                            <label>
                                                <input type="radio" th:field="*{orientacao}" th:value="D"></input>
                                                Desorientado
                                            </label>
                                        </div>
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        <h3>Mobilidade Fisica</h3>
                                        <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('peleAnexos_ulcerasPorPressao')} ? has-error">
                                            <label class="font-400 label-block">
                                                <input type="radio" th:field="*{mobilidadeFisica}" th:value="DEAMBULA_SEM_AUXILIO"/>
                                                Deambula sem auxilio
                                            </label>
                                            <label class="font-400 label-block">
                                                <input type="radio" th:field="*{mobilidadeFisica}" th:value="DEAMBULA_COM_AUXILIO"></input>
                                                Deambula com auxilio
                                            </label>
                                            <label class="font-400 label-block">
                                                <input type="radio" th:field="*{mobilidadeFisica}" th:value="CADEIRANTE"/>
                                                Cadeirante
                                            </label>
                                            <label class="font-400 label-block">
                                                <input type="radio" th:field="*{mobilidadeFisica}" th:value="ACAMADO"/>
                                                Acamado
                                            </label>
                                        </div>
                                        <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('mobilidadeFisica_observacao')} ? has-error">
                                            <label>Observação</label>
                                            <textarea class="form-control" rows="2  " maxlength="1000" th:field="*{mobilidadeFisica_observacao}"/>
                                        </div>
                                        
                                        
                                        
                                        
                                        
                                        
                                        <h3>Alimentação</h3>
                                        <div class="form-group col-sm-12">
                                            <label class="font-400 label-block">
                                                <input type="checkbox" th:field="*{alimentacao_voSolido}"/>
                                                VO Sólido
                                            </label>
                                            <label class="font-400 label-block">
                                                <input type="checkbox" th:field="*{alimentacao_voBrando}"/>
                                                VO  Brando
                                            </label>
                                            <label class="font-400 label-block">
                                                <input type="checkbox" th:field="*{alimentacao_voPastoso}"/>
                                                VO Pastoso
                                            </label>
                                            <label class="font-400 label-block">
                                                <input type="checkbox" th:field="*{alimentacao_sng}"/>
                                                SNG
                                            </label>
                                            <label class="font-400 label-block">
                                                <input type="checkbox" th:field="*{alimentacao_gastrostromia}"/>
                                                Gastrostomia
                                            </label>
                                        </div>
                                        <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('alimentacao_observacao')} ? has-error">
                                            <label>Observação</label>
                                            <textarea class="form-control" rows="2" maxlength="1000" th:field="*{alimentacao_observacao}"/>
                                        </div>
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        <h3>Hidratação</h3>
                                        <div class="form-group col-sm-12">
                                            <label class="font-400 label-block">
                                                <input type="checkbox" th:field="*{hidratacao_voLiquido}"/>
                                                VO Líquido
                                            </label>
                                            <label class="font-400 label-block">
                                                <input type="checkbox" th:field="*{hidratacao_voLiquidoEspressado}"/>
                                                VO Líquido Espressado
                                            </label>
                                            <label class="font-400 label-block">
                                                <input type="checkbox" th:field="*{hidratacao_sng}"/>
                                                SNG
                                            </label>
                                            <label class="font-400 label-block">
                                                <input type="checkbox" th:field="*{hidratacao_gastrostomia}"/>
                                                Gastrostomia
                                            </label>
                                        </div>
                                        <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('hidratacao_observacao')} ? has-error">
                                            <label>Observação</label>
                                            <textarea class="form-control" rows="2" maxlength="1000" th:field="*{hidratacao_observacao}"/>
                                        </div>
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        <h3>Ventilação</h3>
                                        <div class="form-group col-sm-12">
                                            <label class="font-400 label-block">
                                                <input type="checkbox" th:field="*{ventilacao_arAmbiente}"/>
                                                Ar Ambiente
                                            </label>
                                            <label class="font-400 label-block">
                                                <input type="checkbox" th:field="*{ventilacao_usoDeConcentrador}"/>
                                                Uso de Concentrador
                                            </label>
                                            <label class="font-400 label-block">
                                                <input type="checkbox" th:field="*{ventilacao_usoDe02EmOculosNasal}"/>
                                                Uso de 02 em Óculos Nasal
                                            </label>
                                            <label class="font-400 label-block">
                                                <input type="checkbox" th:field="*{ventilacao_usoDe02EmMascaraFacial}"/>
                                                Uso de 02 em Mascara Facial
                                            </label>
                                            <label class="font-400 label-block">
                                                <input type="checkbox" th:field="*{ventilacao_traqueostomia}"/>
                                                Traqueostomia
                                            </label>
                                        </div>
                                        <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('ventilacao_observacao')} ? has-error">
                                            <label>Observação</label>
                                            <textarea class="form-control" rows="2" maxlength="1000" th:field="*{ventilacao_observacao}"/>
                                        </div>
                                        
                                        
                                        
                                        
                                        
                                        
                                        <h3>Cabeça e Pescoço</h3>
                                        <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('cabeca_dsCranio')} ? has-error">
                                            <label class="col-sm-12 control-label">Cabeça</label>
                                            <input type="text" class="form-control" maxlength="1000" th:field="*{cabeca_dsCranio}"/>
                                        </div>
                                        
                                        <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('cabeca_dsOlhos')} ? has-error">
                                            <label class="col-sm-12 control-label">Olhos</label>
                                            <input type="text" class="form-control" maxlength="1000" th:field="*{cabeca_dsOlhos}"/>
                                        </div>
                                        
                                        <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('cabeca_dsOuvidos')} ? has-error">
                                            <label class="col-sm-12 control-label">Ouvidos</label>
                                            <input type="text" class="form-control" maxlength="1000" th:field="*{cabeca_dsOuvidos}"/>
                                        </div>
                                        
                                        <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('cabeca_dsNariz')} ? has-error">
                                            <label class="col-sm-12 control-label">Nariz</label>
                                            <input type="text" class="form-control" maxlength="1000" th:field="*{cabeca_dsNariz}"/>
                                        </div>
                                        
                                        <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('cabeca_dsCavidadeOral')} ? has-error">
                                            <label class="col-sm-12 control-label">Cavidade Oral</label>
                                            <input type="text" class="form-control" maxlength="1000" th:field="*{cabeca_dsCavidadeOral}"/>
                                        </div>
                                        
                                        
                                        
                                        
                                        
                                        <h3>Torax - Função Pulmonar</h3>

                                        <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('torax_dsInspecao')} ? has-error">
                                            <label class="col-sm-12 control-label">Inspeção</label>
                                            <input type="text" class="form-control" maxlength="1000" th:field="*{torax_dsInspecao}"/>
                                        </div>
                                        

                                        <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('torax_dsPalpacao')} ? has-error">
                                            <label class="col-sm-12 control-label">Palpação</label>
                                            <input type="text" class="form-control" maxlength="1000" th:field="*{torax_dsPalpacao}"/>
                                        </div>
                                        

                                        <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('torax_dsAusculta')} ? has-error">
                                            <label class="col-sm-12 control-label">Ausculta</label>
                                            <input type="text" class="form-control" maxlength="1000" th:field="*{torax_dsAusculta}"/>
                                        </div>
                                        
                                        
                                        
                                        
                                        
                                        <h3>Abdome</h3>

                                        <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('abdome_dsInspecao')} ? has-error">
                                            <label class="col-sm-12 control-label">Inspeção</label>
                                            <input type="text" class="form-control" maxlength="1000" th:field="*{abdome_dsInspecao}"/>
                                        </div>
                                        

                                        <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('abdome_dsPalpacao')} ? has-error">
                                            <label class="col-sm-12 control-label">Palpação</label>
                                            <input type="text" class="form-control" maxlength="1000" th:field="*{abdome_dsPalpacao}"/>
                                        </div>
                                        
                                        <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('abdome_dsAusculta')} ? has-error">
                                            <label class="col-sm-12 control-label">Ausculta</label>
                                            <input type="text" class="form-control" maxlength="1000" th:field="*{abdome_dsAusculta}"/>
                                        </div>

<!--                                        <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('abdome_dsGastronomia')} ? has-error">
                                            <label class="col-sm-12 control-label">Gastronomia</label>
                                            <input type="text" class="form-control" maxlength="1000" th:field="*{abdome_dsGastronomia}"/>
                                        </div>-->

                                        <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('abdome_dsOstomia')} ? has-error">
                                            <label class="col-sm-12 control-label">Ostomia</label>
                                            <input type="text" class="form-control" maxlength="1000" th:field="*{abdome_dsOstomia}"/>
                                        </div>
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        <h3>Membros Superiores e Inferiores</h3>

                                        <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('membros_dsInspecao')} ? has-error">
                                            <label class="col-sm-12 control-label">Inspeção</label>
                                            <input type="text" class="form-control" maxlength="1000" th:field="*{membros_dsInspecao}"/>
                                        </div>
                                        
                                        <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('membros_dsPalpacao')} ? has-error">
                                            <label class="col-sm-12 control-label">Palpação</label>
                                            <input type="text" class="form-control" maxlength="1000" th:field="*{membros_dsPalpacao}"/>
                                        </div>
                                        
                                        
                                        
                                        
                                        
                                        
                                        <div th:if="*{#strings.equals(paciente.pessoa.sexo, 'M')}">
                                            <h3>Sistema Genitário Masculino</h3>

                                            <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('genitarioMasculino_dsInspecao')} ? has-error">
                                                <label class="col-sm-12 control-label">Inspeção</label>
                                                <input type="text" class="form-control" maxlength="1000" th:field="*{genitarioMasculino_dsInspecao}"/>
                                            </div>
                                        </div>
                                        
                                        
                                        <div th:if="*{#strings.equals(paciente.pessoa.sexo, 'F')}">
                                            <h3>Sistema Genitário Feminino</h3>

                                            <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('genitarioFeminino_dsInspecao')} ? has-error">
                                                <label class="col-sm-12 control-label">Inspeção</label>
                                                <input type="text" class="form-control" maxlength="1000" th:field="*{genitarioFeminino_dsInspecao}"/>
                                            </div>

                                            <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('genitarioFeminino_dsPerianal')} ? has-error">
                                                <label class="col-sm-12 control-label">Perianal</label>
                                                <input type="text" class="form-control" maxlength="1000" th:field="*{genitarioFeminino_dsPerianal}"/>
                                            </div>
                                        </div>
                                        
                                        
                                        
                                        
                                        <h3>Eliminações Fisiologicas</h3>
                                        
                                        <label class="col-sm-12 control-label">Incontinência Urinária</label>
                                        <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('eliminacaoFisiologicas_incontinenciaUrinaria')} ? has-error">
                                        
                                            <label class="font-400 label-block">
                                                <input type="radio" th:field="*{eliminacaoFisiologicas_incontinenciaUrinaria}" th:value="LEVE"/>
                                                Leve
                                            </label>
                                            <label class="font-400 label-block">
                                                <input type="radio" th:field="*{eliminacaoFisiologicas_incontinenciaUrinaria}" th:value="MODERADA"/>
                                                Moderada
                                            </label>
                                            <label class="font-400 label-block">
                                                <input type="radio" th:field="*{eliminacaoFisiologicas_incontinenciaUrinaria}" th:value="GRAVE"/>
                                                Grave
                                            </label>
                                        </div>
                                        
                                        
                                        <label class="col-sm-12 control-label">Incontinência Intestinal</label>
                                        <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('eliminacaoFisiologicas_incontinenciaIntestinal')} ? has-error">
                                        
                                            <label class="font-400 label-block">
                                                <input type="radio" th:field="*{eliminacaoFisiologicas_incontinenciaIntestinal}" th:value="LEVE"/>
                                                Leve
                                            </label>
                                            <label class="font-400 label-block">
                                                <input type="radio" th:field="*{eliminacaoFisiologicas_incontinenciaIntestinal}" th:value="MODERADA"/>
                                                Moderada
                                            </label>
                                            <label class="font-400 label-block">
                                                <input type="radio" th:field="*{eliminacaoFisiologicas_incontinenciaIntestinal}" th:value="GRAVE"/>
                                                Grave
                                            </label>
                                        </div>
                                        
<!--                                        <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('eliminacaoFisiologicas_stInconsistenciaUrinaria')} ? has-error">
                                            <label class="col-sm-12 control-label">
                                                <input type="checkbox" th:field="*{eliminacaoFisiologicas_stInconsistenciaUrinaria}"/>
                                                Inconsistência Urunária
                                            </label>
                                        </div>      -->
                                        
<!--                                        <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('eliminacaoFisiologicas_stInconsistenciaIntestinal')} ? has-error">
                                            <label class="col-sm-12 control-label">
                                                <input type="checkbox" th:field="*{eliminacaoFisiologicas_stInconsistenciaIntestinal}"/>
                                                Incontinência Intestinal
                                            </label>
                                        </div>-->
                                        
                                        <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('eliminacaoFisiologicas_dsEvacuacao')} ? has-error">
                                            <label class="col-sm-12 control-label">Evacuação:</label>
                                            <input type="text" class="form-control" maxlength="1000" th:field="*{eliminacaoFisiologicas_dsEvacuacao}"/>
                                        </div>
                                        
                                        <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('eliminacaoFisiologicas_dsDiurese')} ? has-error">
                                            <label class="col-sm-12 control-label">Diurese:</label>
                                            <input type="text" class="form-control" maxlength="1000" th:field="*{eliminacaoFisiologicas_dsDiurese}"/>
                                        </div>
                                        
                                        
                                        
                                        
                                        
                                        
                                        <h3>Peles e Anexo</h3>
                                        <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('peleAnexos_dsInspecao')} ? has-error">
                                            <label class="col-sm-12 control-label">Inspeção</label>
                                            <input type="text" class="form-control" maxlength="1000" th:field="*{peleAnexos_dsInspecao}"/>
                                        </div>
                                        
                                        
                                        
                                        
                                        
                                        
                                        <h3>Ulceras por Pressão</h3>
                                        <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('peleAnexos_ulcerasPorPressao')} ? has-error">
                                            <label class="font-400 label-block">
                                                <input type="radio" th:field="*{peleAnexos_ulcerasPorPressao}" th:value="E1"/>
                                                <strong>Estágio I:</strong> Hiperemia localizado, não branqueável, com pele íntegra.
                                            </label>
                                            <label class="font-400 label-block">
                                                <input type="radio" th:field="*{peleAnexos_ulcerasPorPressao}" th:value="E2"></input>
                                                <strong>Estágio II:</strong> rompimento de epiderme, exposição da derme, flictena rompida ou íntegra.
                                            </label>
                                            <label class="font-400 label-block">
                                                <input type="radio" th:field="*{peleAnexos_ulcerasPorPressao}" th:value="E3"/>
                                                <strong>Estágio III:</strong> rompimento de epiderme, exposição de tecido subcutâneo ou outras estruturas, dependendo do local.
                                            </label>
                                            <label class="font-400 label-block">
                                                <input type="radio" th:field="*{peleAnexos_ulcerasPorPressao}" th:value="E4"/>
                                                <strong>Estágio IV:</strong> exposição de tecido muscular, ósseo , tendinoso ou outras estruturas mais profundas que tecido adiposo.
                                            </label>
                                            <label class="font-400 label-block">
                                                <input type="radio" th:field="*{peleAnexos_ulcerasPorPressao}" th:value="N_ESTIGAVEL"/>
                                                <strong>Não estagiável:</strong> UP em que não é possível observar a profundidade real, por estar bloqueada por tecido desvitalizado.
                                            </label>
                                            <label class="font-400 label-block"> 
                                                <input type="radio" th:field="*{peleAnexos_ulcerasPorPressao}" th:value="SUSP_LESAO"/>
                                                <strong>Suspeita de lesão tissular profunda:</strong> Área localizada, escurecida, com consciência ou temperatura diferenciada do tecido subjacente, pele íntegra.
                                            </label>
                                        </div>
                                        
                                        
                                        
                                        <h3>Conduta</h3>
                                        <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('dsConduta')} ? has-error">
                                            <textarea class="form-control" rows="4" maxlength="1000" th:field="*{dsConduta}"/>
                                        </div>
                                    </div>
                                </div>
                                
                                <button type="submit" class="btn btn-primary btn-fixed-botton square" style="margin-top: 5px;">Gravar</button>
                                <input type="hidden" id="base-url" th:value="@{/produtos/}"/>                              
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
