<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      data-layout-decorate="~{fragments/layout}">
    <head>
        <title>Paciente | [[${@projectSettings.getName()}]]</title>
    </head>
    <body>
        <div id="page-wrapper" data-layout-fragment="content">
            <input type="hidden" id="base-url" th:value="@{/produtos/}"/>
            <div class="container-fluid">
                <form id="form-manutencao" method="POST" th:action="@{/pacientes}" onsubmit="return validaSubmit()" th:object="${paciente}" style="margin-top: 10px">

                    <div class="panel panel-default" style="margin-top: 10px">

                        <div class="panel-heading">
                            <div class="clearfix">
                                <div class="pull-right">
                                    <a th:href="@{/pacientes}">Voltar</a>
                                    <!--<button type="submit" class="btn btn-primary">Gravar</button>-->
                                </div>
                                <ol class="breadcrumb" style="margin-bottom: 0px; padding-left: 0px; padding-bottom: 0px;padding-top: 0px; margin-top: 5px;">
                                    <li class="breadcrumb-item active">Manutençao de Paciente</li>
                                    <li class="breadcrumb-item active" 
                                        th:if="${paciente.idPaciente != null}"
                                        th:text="*{pessoa.nmPessoa}"></li>
                                </ol>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel-body">

                                <div class="alert alert-success" th:text="${mensagem}" 
                                     th:if="${not #strings.isEmpty(mensagem)}"></div>

                                <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                                    <div th:each="detailedError : ${#fields.detailedErrors()}">
                                        <span th:text="${detailedError.message}"></span>
                                    </div>
                                </div>

                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseZero">Pacientes</a>
                                            </h4>
                                        </div>
                                        <div id="collapseZero" class="panel-collapse collapse in">
                                            <div class="panel-body">

                                                <input type="hidden" id="id" th:field="*{idPaciente}"/>
                                                <input type="hidden" th:field="*{pessoa.idPessoa}" />

                                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('pessoa.nmPessoa')} ? has-error">
                                                    <label for="pessoa.nmPessoa" class="col-sm-6 control-label">Nome*</label>
                                                    <input type="text" class="form-control" maxlength="100" id="nome" th:field="*{pessoa.nmPessoa}" placeholder="informe o nome" /> 
                                                </div>

                                                <div class="form-group col-sm-3" th:classappend="${#fields.hasErrors('pessoa.sexo')} ? has-error">
                                                    <label for="pessoa.sexo" class="col-sm-12 control-label">Sexo</label>
                                                    <div class="form-group">
                                                        <label class="radio-inline">
                                                            <input type="radio" name="pessoa.sexo" th:value="M" th:field="*{pessoa.sexo}" checked />
                                                            Masculino
                                                        </label>
                                                        <label class="radio-inline">
                                                            <input type="radio" name="pessoa.sexo" th:value="F" th:field="*{pessoa.sexo}" />
                                                            Feminino
                                                        </label>
                                                    </div>
                                                </div>
                                                
                                                <div class="form-group col-sm-3" th:classappend="${#fields.hasErrors('stPaciente')} ? has-error">
                                                    <label for="stPaciente" class="col-sm-12 control-label">Situação</label>
                                                    <div class="form-group">
                                                        <label class="radio-inline">
                                                            <input type="radio" name="stPaciente" th:value="A" th:field="*{stPaciente}" checked />
                                                            Ativo
                                                        </label>
                                                        <label class="radio-inline">
                                                            <input type="radio" name="stPaciente" th:value="I" th:field="*{stPaciente}" />
                                                            Inativo
                                                        </label>
                                                    </div>
                                                </div>

                                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('pessoa.dtNascimento')} ? has-error">
                                                    <label for="pessoa.dtNascimento" class="col-sm-6 control-label">Nascimento</label>
                                                    <input type="text" class="form-control"	id="datepickerPaciente" th:field="*{pessoa.dtNascimento}"
                                                           data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-language="pt-BR"
                                                           data-date-autoclose="true" data-date-today-highlight="true" data-date-orientation="bottom"/>
                                                </div>

                                                <div class="form-group  col-sm-6" th:classappend="${#fields.hasErrors('pessoa.idade')} ? has-error">
                                                    <label for="pessoa.idade" class="col-sm-6 control-label">Idade</label>
                                                    <input type="number" id="idade" class="form-control" maxlength="3" th:field="*{pessoa.idade}" onkeyup="calculaIdade('idade', 'datepickerPaciente');"/> 
                                                </div>

                                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('dtInclusaoPaciente')} ? has-error">
                                                    <label for="dtInclusaoPaciente" class="col-sm-12 control-label">Data de Entrada</label>
                                                    <input type="text" class="form-control" th:field="*{dtInclusaoPaciente}"
                                                           data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-language="pt-BR"
                                                           data-date-autoclose="true" data-date-today-highlight="true" data-date-orientation="bottom"/>
                                                </div>

                                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('estadoCivil')} ? has-error">
                                                    <label for="estadoCivil" class="col-sm-12 control-label">Estado Civil</label>
                                                    <select class="form-control" th:field="*{estadoCivil}">
                                                        <option th:value="C">Casado</option>
                                                        <option th:value="D">Divorciado</option>
                                                        <option th:value="S">Solteiro</option>
                                                        <option th:value="V">Viúvo</option>
                                                    </select>
                                                </div>

                                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('escolaridade')} ? has-error">
                                                    <label for="escolaridade" class="col-sm-12 control-label">Escolaridade</label>
                                                    <input type="text" class="form-control" maxlength="50" th:field="*{escolaridade}" placeholder="informe a escolaridade" /> 
                                                </div>

                                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('nrFilhos')} ? has-error">
                                                    <label for="nrFilhos" class="col-sm-12 control-label">Número de Filhos</label>
                                                    <input type="number" class="form-control" maxlength="3" th:field="*{nrFilhos}" placeholder="informe o número de filhos" /> 
                                                </div>

                                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('pessoa.cpf')} ? has-error">
                                                    <label for="pessoa.cpf" class="col-sm-6 control-label">CPF</label>
                                                    <input type="text" class="form-control" id="cpf" maxlength="14" th:field="*{pessoa.cpf}" placeholder="informe o cpf" onkeypress="return MascaraCPF(this);" onkeyup="return MascaraCPF(this);" onblur="ValidarCPF(this);" />
                                                </div>

                                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('pessoa.rg')} ? has-error">
                                                    <label for="pessoa.rg" class="col-sm-6 control-label">RG</label>
                                                    <input type="text" class="form-control" id="cpf" maxlength="10" th:field="*{pessoa.rg}" placeholder="informe o rg" />
                                                </div>
                                                
                                                <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('pessoa.nomePais')} ? has-error">
                                                    <label for="pessoa.nomePais" class="col-sm-6 control-label">Nome do Pai/Mãe</label>
                                                    <input type="text" class="form-control" maxlength="200" th:field="*{pessoa.nomePais}" placeholder="informe o nome do pai ou/e da mãe" />
                                                </div>

                                                <!--                                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('pessoa.cep')} ? has-error">
                                                                                                    <label for="pessoa.cep" class="col-sm-6 control-label">CEP</label>
                                                                                                    <input type="text" class="form-control" id="cpf" maxlength="9" th:field="*{pessoa.cep}" placeholder="cep" onkeypress="return MascaraCep(this)" onblur="ValidaCep(this)" />
                                                                                                </div>
                                                
                                                                                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('pessoa.logradouro')} ? has-error">
                                                                                                    <label for="pessoa.logradouro" class="col-sm-6 control-label">Rua</label>
                                                                                                    <input type="text" class="form-control" id="cpf" maxlength="30" th:field="*{pessoa.logradouro}" placeholder="rua" />
                                                                                                </div>
                                                
                                                                                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('pessoa.numero')} ? has-error">
                                                                                                    <label for="pessoa.numero" class="col-sm-6 control-label">Numero</label>
                                                                                                    <input type="number" class="form-control" id="cpf" maxlength="14" th:field="*{pessoa.numero}" placeholder="numero"/>
                                                                                                </div>
                                                
                                                                                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('pessoa.bairro')} ? has-error">
                                                                                                    <label for="pessoa.bairro" class="col-sm-6 control-label">Bairro</label>
                                                                                                    <input type="text" class="form-control" id="cpf" maxlength="30" th:field="*{pessoa.bairro}" placeholder="bairro"/>
                                                                                                </div>-->

                                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('pessoa.fone')} ? has-error">
                                                    <label for="pessoa.fone" class="col-sm-6 control-label">Telefone</label>
                                                    <input type="tel" class="form-control" id="cpf" maxlength="50" th:field="*{pessoa.fone}" placeholder="informe o telefone"/>
                                                </div>

                                                <div class="row"></div>

                                                <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('motivoInternacao')} ? has-error">
                                                    <label for="motivoInternacao" class="col-sm-12 control-label">Motivo Internação</label>
                                                    <input type="text" class="form-control" maxlength="500" th:field="*{motivoInternacao}" placeholder="informe o motivo pela opção de internação em ILPI" />
                                                </div>

                                                <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('habitosVicios')} ? has-error">
                                                    <label for="habitosVicios" class="col-sm-12 control-label">Habitos e Vícios</label>
                                                    <input type="text" class="form-control" maxlength="500" th:field="*{habitosVicios}" placeholder="informe os habitos e vicios" />
                                                </div>

                                                <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('preferencias')} ? has-error">
                                                    <label for="preferencias" class="col-sm-12 control-label">Preferências</label>
                                                    <input type="text" class="form-control" maxlength="500" th:field="*{preferencias}" placeholder="informe as preferências culturais e de lazer" />
                                                </div>

                                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('tipoSanguineo')} ? has-error">
                                                    <label for="tipoSanguineo" class="col-sm-12 control-label">Tipo Sanguíneo</label>
                                                    <div class="form-group">
                                                        <label class="radio-inline">
                                                            <input type="radio" name="tipoSanguineo" th:value="A" th:field="*{tipoSanguineo}" checked />
                                                            A
                                                        </label>
                                                        <label class="radio-inline">
                                                            <input type="radio" name="tipoSanguineo" th:value="AB" th:field="*{tipoSanguineo}" />
                                                            AB
                                                        </label>
                                                        <label class="radio-inline">
                                                            <input type="radio" name="tipoSanguineo" th:value="B" th:field="*{tipoSanguineo}" />
                                                            B
                                                        </label>
                                                        <label class="radio-inline">
                                                            <input type="radio" name="tipoSanguineo" th:value="O" th:field="*{tipoSanguineo}" />
                                                            O
                                                        </label>
                                                    </div>
                                                    <!--                                                    <select class="form-control" th:field="*{tipoSanguineo}">
                                                                                                            <option th:value="A">A</option>
                                                                                                            <option th:value="AB">AB</option>
                                                                                                            <option th:value="B">B</option>
                                                                                                            <option th:value="O">O</option>
                                                                                                        </select>-->
                                                    <!--<input type="text" class="form-control" maxlength="10" th:field="*{tipoSanguineo}" placeholder="tipo sanguíneo" />-->
                                                </div>

                                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('fatorRH')} ? has-error">
                                                    <label for="fatorRH" class="col-sm-12 control-label">Fator RH</label>

                                                    <div class="form-group">
                                                        <label class="radio-inline">
                                                            <input type="radio" th:value="'+'" th:field="*{fatorRH}" checked/>
                                                            +
                                                        </label>
                                                        <label class="radio-inline">
                                                            <input type="radio" th:value="'-'" th:field="*{fatorRH}" />
                                                            -
                                                        </label>
                                                    </div>
                                                </div>

                                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('convenio')} ? has-error">
                                                    <label for="convenio" class="col-sm-12 control-label">Convênio</label>
                                                    <input type="text" class="form-control" maxlength="50" th:field="*{convenio}" placeholder="informe o convênio" />
                                                </div>

                                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('medicoAcompanhamento')} ? has-error">
                                                    <label for="medicoAcompanhamento" class="col-sm-12 control-label">Médico de Acompanhamento</label>
                                                    <input type="text" class="form-control" maxlength="50" th:field="*{medicoAcompanhamento}" placeholder="informe o médico de acompanhamento" />
                                                </div>
                                                
                                                <div class="form-dadosSus col-sm-6" th:classappend="${#fields.hasErrors('dadosSus')} ? has-error">
                                                    <label for="convenio" class="col-sm-12 control-label">Dados SUS</label>
                                                    <input type="text" class="form-control" maxlength="500" th:field="*{dadosSus}" placeholder="informe os dados do SUS" />
                                                </div>
                                                
                                                <div class="form-dadosSus col-sm-6" th:classappend="${#fields.hasErrors('dadosPlanoSaude')} ? has-error">
                                                    <label for="dadosPlanoSaude" class="col-sm-12 control-label">Informação Plano de Saúde</label>
                                                    <input type="text" class="form-control" maxlength="500" th:field="*{dadosPlanoSaude}" placeholder="informe a informação do plano de saúde (se tiver)" />
                                                </div>

                                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('hda')} ? has-error">
                                                    <label for="hda" class="col-sm-6 control-label">HDA</label>
                                                    <input type="text" class="form-control" maxlength="500" th:field="*{hda}" placeholder="informe o hda" />
                                                </div>

                                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('hdp')} ? has-error">
                                                    <label for="hdp" class="col-sm-6 control-label">HDP</label>
                                                    <input type="text" class="form-control" maxlength="500" th:field="*{hdp}" placeholder="informe o hdp" />
                                                </div>

                                                <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('observacoes')} ? has-error">
                                                    <label for="observacoes" class="col-sm-12 control-label">Outras Informações</label>
                                                    <input type="text" class="form-control" maxlength="500" th:field="*{observacoes}" placeholder="informe outras informações" />
                                                </div>

                                                <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('historico')} ? has-error">
                                                    <label for="historico" class="col-sm-12 control-label">Histórico</label>
                                                    <textarea rows="4" class="form-control" maxlength="4000" th:field="*{historico}" placeholder="informe o histórico do paciente"/>
                                                    <!--<input type="text"  />-->
                                                </div>

                                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('hospitalPreferencia')} ? has-error">
                                                    <label for="hospitalPreferencia" class="col-sm-12 control-label">Hospital de Preferência</label>
                                                    <input type="text" class="form-control" maxlength="50" th:field="*{hospitalPreferencia}" placeholder="informe o hospital de preferência" />
                                                </div>

                                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('grauDependencia')} ? has-error">
                                                    <label for="grauDependencia" class="col-sm-12 control-label">Grau de Dependencia</label>
                                                    <div class="form-group">
                                                        <label class="radio-inline">
                                                            <input type="radio" name="grauDependencia" th:value="1" th:field="*{grauDependencia}" checked />
                                                            1º Grau
                                                        </label>
                                                        <label class="radio-inline">
                                                            <input type="radio" name="grauDependencia" th:value="2" th:field="*{grauDependencia}" />
                                                            2º Grau
                                                        </label>
                                                        <label class="radio-inline">
                                                            <input type="radio" name="grauDependencia" th:value="3" th:field="*{grauDependencia}" />
                                                            3º Grau
                                                        </label>
                                                    </div>
                                                </div>

                                                <div class="row"></div>


                                                <div class="form-group col-sm-6">
                                                    <label for="grauDependencia" class="col-sm-12 control-label">Em Qual atividades necessíta auxilio</label>
                                                    <div class="form-group">
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" id="auxilioMedicoA" th:field="*{auxilioMedicoA}" th:text="Alimentação" />
                                                        </label>
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" id="auxilioMedicoM" th:field="*{auxilioMedicoM}" th:text="Mobilidade" />
                                                        </label>
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" id="auxilioMedicoH" th:field="*{auxilioMedicoH}" th:text="Higiene" />
                                                        </label>
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" id="auxilioMedicoV" th:field="*{auxilioMedicoV}" th:text="Vestir-se" />
                                                        </label>
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" id="auxilioMedicoO" th:field="*{auxilioMedicoO}" th:text="Outro" onclick="habilitaOutro(this);"/>
                                                        </label>
                                                    </div>
                                                </div>


                                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('dsAuxilioMedicoOutro')} ? has-error">
                                                    <label for="dsAuxilioMedicoOutro" class="col-sm-6 control-label">Outro</label>
                                                    <input type="text" id="dsAuxilioMedicoOutro" class="form-control" maxlength="50" th:field="*{dsAuxilioMedicoOutro}" placeholder="informe qual outra atividade" th:disabled="!*{auxilioMedicoO}"  />
                                                </div>

                                                <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('stComprometimentoCognitivo')} ? has-error">
                                                    <label for="stComprometimentoCognitivo" class="col-sm-12 control-label">Grau de Dependência</label>
                                                    <div class="form-group">
                                                        <label class="radio-inline">
                                                            <input type="radio" name="stComprometimentoCognitivo" th:value="C" th:field="*{stComprometimentoCognitivo}" checked/>
                                                            Com comprometimento cognitivo
                                                        </label>
                                                        <label class="radio-inline">
                                                            <input type="radio" name="stComprometimentoCognitivo" th:value="S" th:field="*{stComprometimentoCognitivo}" />
                                                            Sem comprometimento cognitivo
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

<!--                                    <div class="panel panel-default" th:if="${permissaoMedicamentos == true}">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseMedicamentos">Medicamentos</a>
                                            </h4>
                                        </div>
                                        <div id="collapseMedicamentos" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <div class="table-responsive" style="min-height: 250px">
                                                    <table id="tab-medicamentos" class="table table-hover table-striped" style="overflow-x: hidden;" >
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 30%">Medicamento</th>
                                                                <th style="width: 15%">Posologia</th>
                                                                <th style="width: 5%">Manha</th>
                                                                <th style="width: 5%">Tarde</th>
                                                                <th style="width: 5%">Noite</th>
                                                                <th style="width: 18%">Observacao</th>
                                                                <th style="width: 12%">Estoque</th>
                                                                <th style="width: 10%"></th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <input id="med-idProduto" type="hidden" form="form-medicamento" />
                                                                    <input id="med-idEstoque" type="hidden" form="form-medicamento" />
                                                                    <input id="med-tpEstoque" type="hidden" form="form-medicamento" />
                                                                    <input id="med-idMedicamento" type="hidden" form="form-medicamento" />
                                                                    <input id="med-indexRow" type="hidden" form="form-medicamento" />
                                                                    <input id="filter-produto" form="form-medicamento" class="form-control" maxlength="100" placeholder="Qual produto você está procurando?" onkeypress="limpaCodigo('med-idProduto');insereMedicamento();" onkeyup="cancelaInsercao();"/>
                                                                </td>
                                                                <td>
                                                                    <input id="med-posologia" form="form-medicamento" onkeyup="insereMedicamento();" type="text" class="form-control" maxlength="100" placeholder="informe a posologia" /> 
                                                                </td>
                                                                <td>
                                                                    <input id="med-hrManha" form="form-medicamento" onkeyup="insereMedicamento();" type="time" class="form-control" maxlength="5" /> 
                                                                </td>
                                                                <td>
                                                                    <input id="med-hrTarde" form="form-medicamento" onkeyup="insereMedicamento();" type="time" class="form-control" maxlength="5" /> 
                                                                </td>
                                                                <td>
                                                                    <input id="med-hrNoite" form="form-medicamento" onkeyup="insereMedicamento();" type="time" class="form-control" maxlength="5" /> 
                                                                </td>
                                                                <td>
                                                                    <input id="med-observacao" form="form-medicamento" onkeyup="insereMedicamento();" type="text" class="form-control" maxlength="500" placeholder="informe a observação" />
                                                                </td>
                                                                <td colspan="2">
                                                                    <input id="med-qtdEstoque" form="form-medicamento" onkeyup="insereMedicamento();" type="tel" class="js-double-negative form-control"  /> 
                                                                </td>
                                                            </tr>
                                                            <tr th:each="medicamento, iter : *{listaMedicamento}" th:id="${iter.index}">
                                                                <td th:text="${medicamento.estoque.produto.dsProduto}"></td>
                                                                <td th:text="${medicamento.posologia}"></td>
                                                                <td th:text="${medicamento.hrManha}"></td>
                                                                <td th:text="${medicamento.hrTarde}"></td>
                                                                <td th:text="${medicamento.hrNoite}"></td>
                                                                <td th:text="${medicamento.observacao}"></td>
                                                                <td th:text="${#numbers.formatDecimal(medicamento.estoque.qtd, 1, 'POINT', 2, 'COMMA')}"></td>
                                                                <td class="text-right">
                                                                    <a class="btn btn-link btn-xs" 
                                                                       title="Editar" rel="tooltip" data-placement="top" 
                                                                       onclick="editarMedicamento(this)">
                                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                                    </a>
                                                                    <a class="btn btn-link btn-xs" 
                                                                       onclick="removeMedicamento(this);"
                                                                       title="Excluir" rel="tooltip" data-placement="top">
                                                                        <span class="glyphicon glyphicon-remove"></span>
                                                                    </a>
                                                                    <input type="hidden" th:name="|listaMedicamento[${iter.index}]|" th:field="*{listaMedicamento[__${iter.index}__].idMedicamento}"/>
                                                                    <input type="hidden" th:field="*{listaMedicamento[__${iter.index}__].hrManha}" />
                                                                    <input type="hidden" th:field="*{listaMedicamento[__${iter.index}__].hrTarde}" />
                                                                    <input type="hidden" th:field="*{listaMedicamento[__${iter.index}__].hrNoite}" />
                                                                    <input type="hidden" th:field="*{listaMedicamento[__${iter.index}__].posologia}" />
                                                                    <input type="hidden" th:field="*{listaMedicamento[__${iter.index}__].observacao}" />
                                                                    <input type="hidden" th:field="*{listaMedicamento[__${iter.index}__].estoque.idEstoque}" />
                                                                    <input type="hidden" th:field="*{listaMedicamento[__${iter.index}__].estoque.qtd}" />
                                                                    <input type="hidden" th:field="*{listaMedicamento[__${iter.index}__].estoque.tpEstoque}" />
                                                                    <input type="hidden" th:field="*{listaMedicamento[__${iter.index}__].estoque.produto.idProduto}" />
                                                                    <input type="hidden" th:field="*{listaMedicamento[__${iter.index}__].estoque.produto.dsProduto}" />
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>-->


                                    <div class="panel panel-default" th:if="${isInsert == true}">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Responsável Principal*</a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <input type="hidden" th:field="*{responsavelPrincipal.principal}"/>
                                                <input type="hidden" th:field="*{responsavelPrincipal.pessoa.idPessoa}"/>

                                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('responsavelPrincipal.pessoa.nmPessoa')} ? has-error">
                                                    <label for="responsavelPrincipal.pessoa.nmPessoa" class="col-sm-6 control-label">Nome*</label>
                                                    <input type="text" class="form-control" maxlength="100" id="nome" th:field="*{responsavelPrincipal.pessoa.nmPessoa}" placeholder="informe o nome do responsável" /> 
                                                </div>

                                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('responsavelPrincipal.pessoa.sexo')} ? has-error">
                                                    <label for="responsavelPrincipal.pessoa.sexo" class="col-sm-12 control-label">Sexo</label>
                                                    <div class="form-group">
                                                        <label class="radio-inline">
                                                            <input type="radio" name="responsavelPrincipal.pessoa.sexo" th:value="M" th:field="*{responsavelPrincipal.pessoa.sexo}" checked />
                                                            Masculino
                                                        </label>
                                                        <label class="radio-inline">
                                                            <input type="radio" name="responsavelPrincipal.pessoa.sexo" th:value="F" th:field="*{responsavelPrincipal.pessoa.sexo}" />
                                                            Feminino
                                                        </label>
                                                    </div>
                                                </div>

                                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('responsavelPrincipal.pessoa.cpf')} ? has-error">
                                                    <label for="responsavelPrincipal.pessoa.cpf" class="col-sm-6 control-label">CPF</label>
                                                    <input type="text" class="form-control" id="cpf" maxlength="14" th:field="*{responsavelPrincipal.pessoa.cpf}" placeholder="informe o cpf do responsável" onkeypress="return MascaraCPF(this);" onkeyup="return MascaraCPF(this);" onblur="ValidarCPF(this);" />
                                                </div>

                                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('responsavelPrincipal.pessoa.rg')} ? has-error">
                                                    <label for="responsavelPrincipal.pessoa.rg" class="col-sm-6 control-label">RG</label>
                                                    <input type="text" class="form-control" maxlength="10" th:field="*{responsavelPrincipal.pessoa.rg}" placeholder="informe o rg do responsável" />
                                                </div>

                                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('responsavelPrincipal.pessoa.cep')} ? has-error">
                                                    <label for="responsavelPrincipal.pessoa.cep" class="col-sm-6 control-label">CEP</label>
                                                    <input type="text" class="form-control" id="cep" maxlength="9" th:field="*{responsavelPrincipal.pessoa.cep}" placeholder="informe o cep do responsável" onkeypress="return MascaraCep(this)" onkeyup="return MascaraCep(this)" onblur="populaInfoCEP(this);" />
                                                </div>

                                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('responsavelPrincipal.pessoa.logradouro')} ? has-error">
                                                    <label for="responsavelPrincipal.pessoa.logradouro" class="col-sm-6 control-label">Rua</label>
                                                    <input type="text" class="form-control" maxlength="100" id="logradouro" th:field="*{responsavelPrincipal.pessoa.logradouro}" placeholder="informe a rua do responsável" />
                                                </div>

                                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('responsavelPrincipal.pessoa.numero')} ? has-error">
                                                    <label for="responsavelPrincipal.pessoa.numero" class="col-sm-6 control-label">Numero</label>
                                                    <input type="number" class="form-control" maxlength="14" th:field="*{responsavelPrincipal.pessoa.numero}" placeholder="informe o numero do responsável"/>
                                                </div>

                                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('responsavelPrincipal.pessoa.bairro')} ? has-error">
                                                    <label for="responsavelPrincipal.pessoa.bairro" class="col-sm-6 control-label">Bairro</label>
                                                    <input type="text" class="form-control" maxlength="30" id="bairro" th:field="*{responsavelPrincipal.pessoa.bairro}" placeholder="informe o bairro do responsável"/>
                                                </div>

                                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('responsavelPrincipal.pessoa.cidade')} ? has-error">
                                                    <label for="responsavelPrincipal.pessoa.cidade" class="col-sm-6 control-label">Cidade</label>
                                                    <input type="text" class="form-control" maxlength="50" id="cidade" th:field="*{responsavelPrincipal.pessoa.cidade}" placeholder="informe a cidade do responsável"/>
                                                </div>

                                                <div class="row"></div>

                                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('responsavelPrincipal.pessoa.fone')} ? has-error">
                                                    <label for="responsavelPrincipal.pessoa.fone" class="col-sm-6 control-label">Telefone</label>
                                                    <input type="text" class="form-control" maxlength="50" th:field="*{responsavelPrincipal.pessoa.fone}" placeholder="informe o telefone do responsável"/>
                                                </div>

                                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('responsavelPrincipal.pessoa.email')} ? has-error">
                                                    <label for="responsavelPrincipal.pessoa.email" class="col-sm-6 control-label">E-mail</label>
                                                    <input type="email" class="form-control" maxlength="100" th:field="*{responsavelPrincipal.pessoa.email}" placeholder="informe o email do responsável"/>
                                                </div>

                                                <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('responsavelPrincipal.pessoa.profissao')} ? has-error">
                                                    <label for="responsavelPrincipal.pessoa.profissao" class="col-sm-6 control-label">Profissao</label>
                                                    <input type="text" class="form-control" maxlength="50" th:field="*{responsavelPrincipal.pessoa.profissao}" placeholder="informe a profissao do responsável"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-default" th:if="${isInsert == true}">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseWwo">Responsável</a>
                                            </h4>
                                        </div>
                                        <div id="collapseWwo" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <input type="hidden" th:field="*{responsavel.principal}"/>
                                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('responsavel.pessoa.nmPessoa')} ? has-error">
                                                    <label for="responsavel.pessoa.nmPessoa" class="col-sm-6 control-label">Nome*</label>
                                                    <input type="text" class="form-control" maxlength="30" id="nome" th:field="*{responsavel.pessoa.nmPessoa}" placeholder="informe o nome do responsável" /> 
                                                </div>

                                                <div class="form-group col-sm-4" th:classappend="${#fields.hasErrors('responsavel.pessoa.cpf')} ? has-error">
                                                    <label for="responsavel.pessoa.cpf" class="col-sm-6 control-label">CPF</label>
                                                    <input type="text" class="form-control" id="cpf" maxlength="14" th:field="*{responsavel.pessoa.cpf}" placeholder="informe o cpf do responsável" onkeyup="return MascaraCPF(this);" onkeypress="return MascaraCPF(this);" onblur="ValidarCPF(this);" />
                                                </div>
                                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('responsavel.pessoa.fone')} ? has-error">
                                                    <label for="responsavel.pessoa.fone" class="col-sm-6 control-label">Telefone</label>
                                                    <input type="tel" class="form-control" maxlength="50" th:field="*{responsavel.pessoa.fone}" placeholder="informe o telefone do responsável"/>
                                                </div>

                                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('responsavel.pessoa.email')} ? has-error">
                                                    <label for="responsavel.pessoa.email" class="col-sm-6 control-label">E-mail</label>
                                                    <input type="email" class="form-control" maxlength="100" th:field="*{responsavel.pessoa.email}" placeholder="informe o email do responsável"/>
                                                </div>
                                                <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('responsavel.pessoa.profissao')} ? has-error">
                                                    <label for="responsavel.pessoa.profissao" class="col-sm-6 control-label">Profissao</label>
                                                    <input type="text" class="form-control" maxlength="50" th:field="*{responsavel.pessoa.profissao}" placeholder="informe a profissao do responsável"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary btn-fixed-botton square" style="margin-top: 5px;">Gravar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <script async th:src="@{/static/js/date_paciente_responsavel.min.js}" type="text/javascript"></script>
            <script async th:src="@{/static/js/paciente.min.js}" type="text/javascript"></script>
        </div>
    </body>
</html>
