<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{fragments/layout}">
    <head>
        <title>Pacientes | [[${@projectSettings.getName()}]]</title>
    </head>
    <body>
        <div id="page-wrapper" class="no-padding" data-layout-fragment="content">
            <div class="container-fluid">
                <div class="panel panel-default" style="margin-top: 10px">

                    <div class="panel-heading">
                        <div class="clearfix">
                            <div class="pull-right">
                                <a class="btn btn-link" data-toggle="modal" data-target="#confirmacaoRelatorioPaciente">Relatório</a>
                                <a th:href="@{/pacientes/novo}">Novo</a>
                            </div>
                            <h1 class="panel-title aw-titulo-panel">Pacientes</h1>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-success alert-dismissable fade in"
                             th:if="${not #strings.isEmpty(mensagem)}">
                            <label th:text="${mensagem}"/>
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                        </div>
                        <div class="alert alert-danger alert-dismissable fade in"
                             th:if="${not #strings.isEmpty(mensagemError)}">
                            <label th:text="${mensagemError}"/>
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                        </div>

                        <form method="GET" class="form-inline" th:action="@{/pacientes}" th:object="${filtro}">
                            <div class="row">
                                <div class="col-xs-4 no-padding padding-left">
                                    <select class="form-control" style="margin-right: 20px;width: 100%;" th:field="*{situacao}" id="filter-situacao" onchange="this.form.submit()">
                                        <option th:value="A">Ativo</option>
                                        <option th:value="I">Inativo</option>
                                    </select>
                                </div>
                                
                                <div class="col-xs-8 no-padding padding-right">
                                    <div class="input-group">
                                        <input class="form-control" style="width: 100%;" id="form-descricao" placeholder="Qual paciente você está procurando?" autofocus="autofocus" th:field="*{descricao}"></input>
                                        <span class="input-group-btn" style="width: 1%;">
                                            <button type="submit" class="btn btn-default">
                                                <i class="glyphicon glyphicon-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive">
                            <table class="table table-hover table-striped" id="table-paciente">
                                <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox" id="selectAll"/>
                                        </th>
                                        <th>Nome</th>
                                        <th>Nascimento</th>
                                        <th>CPF</th>
                                        <th>Fone</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody id="body_table"/>
                            </table>
                        </div>
                        <div class="text-center">
                            <button id="carregar_mais" type="button" class="btn" style="background: lightblue; width: 40%;" onclick="maisResultados()">
                                <i id="img-carregar" class="fa fa-chevron-down fa-2x" aria-hidden="true"></i>
                                <div id="loader" class="spinner-loader loader-hidden">
                                    <i class="rect1"></i>
                                    <i class="rect2"></i>
                                    <i class="rect3"></i>
                                    <i class="rect4"></i>
                                    <i class="rect5"></i>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div th:replace="fragments/dialogoConfirmacaoExclusao :: dialog('/pacientes')"></div>
            <div th:replace="pacientes/dialogRelatorioPacientes :: dialog"></div>
            
            <input type="hidden" id="base-url" th:value="@{'/'}"/>
            <script>
                function buscarLista(offset, limit){
                    var _urlBuscaLista = $("#base-url").val() + "pacientes/getLista";

                    var _descricao = $("#form-descricao").val();
                    var _situacao = $("#filter-situacao").val();
                    var _json = "";

                    //monta json
                    if (_descricao !== null && typeof(_descricao) != "undefined" && _descricao.length > 0){
                        _json += " \"descricao\": \"" + _descricao + "\", ";
                    }
                    
                    if (_situacao !== null && typeof(_situacao) != "undefined" && _situacao.length > 0){
                        _json += " \"situacao\": \"" + _situacao + "\", ";
                    }

                    _json += "\"offset\": " + offset + ", ";
                    _json += "\"limit\": " + limit +" ";
                    _json = "{" + _json + "}";

                    $.ajax({
                        method: "POST",
                        url: _urlBuscaLista,
                        data: {filtro_consulta: _json, base_url: $("#base-url").val()},
                        success: function (data) {
                            if (data !== null && data.length > 0){
                                $("#body_table").append(data);
                            }
                            
                            $("#img-carregar").removeClass("loader-hidden");
                            $("#loader").addClass("loader-hidden");
                        }, 
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert("Erro ao obter resultados da lista.");
                            console.log(textStatus, errorThrown);
                            
                            $("#img-carregar").removeClass("loader-hidden");
                            $("#loader").addClass("loader-hidden");
                        }, 
                        beforeSend: function (jqXHR, settings) {
                            $("#loader").removeClass("loader-hidden");
                            $("#img-carregar").addClass("loader-hidden");
                        }
                    });
                }
                
                function maisResultados(){
                    var rowCont = $("#table-paciente tbody tr").length;
                    buscarLista(rowCont, rowCont + 20);
                }
                
                var dirSorteble = 1;
                function addOrdenacao(){
                    var table = document.getElementById('table-paciente');
                    var th = table.tHead;
                    
                    th.rows[0].cells[1].addEventListener('click', function () {sortTable(table, 1, (dirSorteble = 1 - dirSorteble));});
                    th.rows[0].cells[2].addEventListener('click', function () {sortTable(table, 2, (dirSorteble = 1 - dirSorteble), true);});
                    th.rows[0].cells[3].addEventListener('click', function () {sortTable(table, 3, (dirSorteble = 1 - dirSorteble));});
                    th.rows[0].cells[4].addEventListener('click', function () {sortTable(table, 4, (dirSorteble = 1 - dirSorteble));});
                }
                
                window.onload = function () {
                    addOrdenacao();
                    buscarLista(0, 20);
                };
                
                 $('#selectAll').click(function(e){
                    var table= $(e.target).closest('table');
                    $('td input:checkbox',table).prop('checked',this.checked);
                });
                
                function rowClicked(value) {
                    location.href = "prontuario/" + value;
                }
            </script>
    </body>
</html>