<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{fragments/layout}">
    <head>
        <title>Histórico de Estoque | [[${@projectSettings.getName()}]]</title>
    </head>
    <body>
        <div id="page-wrapper" class="no-padding" data-layout-fragment="content">
            <input type="hidden" id="session-is-admin" th:value="${session.user_id_admin}"/>
            <input type="hidden" id="base-url" th:value="@{/}"/>
            <div class="container-fluid">
<!--                <form id="form-relatorio" method="GET" class="form-horizontal panel-body form-group" target='_blank' th:action="@{/sinaisVitais/pdf}" th:object="${filtro}">
                    <input type="hidden" id="rel-codigo" th:field="*{id}" />
                    <input type="hidden" id="rel-descricao" th:field="*{descricao}" />
                    <input type="hidden" id="rel-date1" th:field="*{date1}" />
                    <input type="hidden" id="rel-date2" th:field="*{date2}" />
                </form>-->
                <form id="form-novo" th:action="@{/historicoEstoque/novo}" method="POST">
                    <input type="hidden" id="novo-produto" name="produto" th:value="${produto}" />
                    <input type="hidden" id="novo-idEstoque" name="idEstoque" th:value="${idEstoque}" />
                </form>
                <div class="panel panel-default" style="margin-top: 10px">
                    <div class="panel-heading">
                        <div class="clearfix">
                            <div class="pull-right">
                                <!--<button type="button" form="form-relatorio" onclick="validaRelatorio();" class="btn-link">Relatório</button>-->
                                <a id="link_medicamentos" th:href="@{/medicamentos(id=${idPaciente},descricao=${paciente})}" class="btn-link">Medicamentos</a>
                                <button type="button" form="form-novo" onclick="validaInsercao();" class="btn-link">Novo</button>
                            </div>
                            <h1 class="panel-title aw-titulo-panel">Histórico do Estoque</h1>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-success alert-dismissable fade in"
                             th:if="${not #strings.isEmpty(mensagem)}">
                            <label th:text="${mensagem}"/>
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                        </div>
                        <div class="alert alert-danger alert-dismissable fade in"
                             th:if="${not #strings.isEmpty(mensagemError)}">
                            <label th:text="${mensagemError}"/>
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                        </div>
                        <div id="js-replace"></div>

                        <form id="form-filtro" class="form-horizontal panel-body form-group" th:object="${filtro}">
                            <input type="hidden" id="idPaciente" th:field="*{idPaciente}" />
                            <input type="hidden" id="idEstoque" th:field="*{idEstoque}" />
                            <div class="col-xs-6 no-padding padding-right" style="">
                                <input id="filter-paciente" class="form-control" placeholder="Qual paciente você está procurando?" autofocus="autofocus" th:field="*{paciente}" onkeypress="limpaCodigo('idPaciente')"/>
                            </div>
                            <div class="col-xs-6 no-padding padding-left" style="">
                                <input id="filter-produto" class="form-control" placeholder="Qual produto você está procurando?" th:field="*{produto}" onkeypress="limpaCodigo('idProduto')"/>
                            </div>
                        </form>

                        <h4 class="text-right"> Quantidade em Estoque: <label id="qtdEstoque" th:text="${#numbers.formatDecimal(qtdEstoque, 1, 'POINT', 2, 'COMMA')}"></label></h4>
                        <div class="table-responsive">
                            <table class="table table-hover table-striped" id="table-historicoestoque">
                                <thead>
                                    <tr>
                                        <th style="">Data</th>
                                        <th style="">Quantidade</th>
                                        <th style="">Saldo</th>
                                        <th style="">Responsável</th>
                                        <th style="">Tipo</th>
                                        <th style="">Observação</th>
                                        <th style="min-width: 70px"></th>
                                    </tr>
                                </thead>

                                <tbody id="body_table">
                                    <tr>
                                        <td colspan="7">Informe o paciente e/ou o produto para listar o histórico de estoque.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center">
                            <button id="carregar_mais" type="button" class="btn hidden" style="background: lightblue; width: 40%;" onclick="maisResultados()">
                                <i id="img-carregar" class="fa fa-chevron-down fa-2x" aria-hidden="true"></i>
                                <div id="loader" class="spinner-loader loader-hidden">
                                    <i class="rect1"></i>
                                    <i class="rect2"></i>
                                    <i class="rect3"></i>
                                    <i class="rect4"></i>
                                    <i class="rect5"></i>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div th:replace="fragments/dialogoConfirmacaoExclusao :: dialog('/historicoEstoque')"></div>
            <script th:if="${@projectSettings.getProduction() == 'false'}" th:src="@{'/static/js/historicoEstoque.js?v=' + ${@projectSettings.getVersion()}}"></script>
            <script th:if="${@projectSettings.getProduction() == 'true'}" th:src="@{'/static/js/historicoEstoque.min.js?v=' + ${@projectSettings.getVersion()}}"></script>
    </body>
</html>
