<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      data-layout-decorate="~{fragments/layout}">
    <head>
        <title>Histórico Estoque | [[${@projectSettings.getName()}]]</title>
    </head>
    <body>
        <div id="page-wrapper" data-layout-fragment="content">
            <div class="container-fluid">
                <form method="POST" th:action="@{/historicoEstoque}" th:object="${obj}" style="margin-top: 10px">

                    <div class="panel panel-default" style="margin-top: 10px">
                        
                        <div class="panel-heading">
                            <div class="clearfix">
                                <div class="pull-right">
                                    <a th:href="@{'/historicoEstoque?idEstoque=' + ${idEstoque} + '&amp;produto=' + ${produto}}">Voltar</a>
                                </div>
                                <ol class="breadcrumb" style="margin-bottom: 0px; padding-left: 0px; padding-bottom: 0px;padding-top: 0px; margin-top: 5px;">
                                    <li class="breadcrumb-item active">Manutençao de Histórico Estoque</li>
                                    <li class="breadcrumb-item active" 
                                        th:if="${obj.estoque.idEstoque != null}"
                                        th:text="${produto}"></li>
                                </ol>
                            </div>
                        </div>

                        <div class="panel-body">
                            <div class="form-group" style="margin-top: 10px">

                                <div class="alert alert-success" th:text="${mensagem}" 
                                     th:if="${not #strings.isEmpty(mensagem)}"></div>

                                <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                                    <div th:each="detailedError : ${#fields.detailedErrors()}">
                                        <span th:text="${detailedError.message}"></span>
                                    </div>
                                </div>


                                <input type="hidden" th:field="*{id}"/>
                                <input type="hidden" th:field="*{estoque.idEstoque}"/>
                                <input type="hidden" th:field="*{login.idLogin}"/>
                                <input type="hidden" th:field="*{estoque.produto.dsProduto}"/>

                                <div class="row">
                                    
                                    <div class="form-group col-sm-4" th:classappend="${#fields.hasErrors('data')} ? has-error">
                                        <label for="data" class="control-label">Data</label>
                                        <input type="text" class="form-control"	id="data" th:field="*{data}"
                                               data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-language="pt-BR"
                                               data-date-autoclose="true" data-date-today-highlight="true" data-date-orientation="bottom" autocomplete="off"/>
                                    </div>
                                    
                                    <div class="form-group  col-sm-2">
                                        <label for="hora" class="control-label">Hora</label>
                                        <input id="hora" type="tel" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" class="form-control" th:field="*{hora}" autocomplete="off"/> 
                                    </div>
                                    
                                    <div class="form-group  col-sm-6" th:classappend="${#fields.hasErrors('qtd')} ? has-error">
                                        <label for="qtd" class="control-label">Quantidade</label>
                                        <input type="tel" id="qtd" class="js-double-negative form-control" maxlength="10" th:field="*{qtd}" autocomplete="off" onkeyup="calculaEstoque();"/> 
                                    </div>
                                </div>
                                
                                <div class="row">
                                    
                                    <div class="form-group  col-sm-6">
                                        <label for="estoque_qtd" class="control-label">Estoque Atual</label>
                                        <input type="tel" id="estoque_qtd" class="js-double-negative form-control" readonly="true" th:field="*{estoque.qtd}" autocomplete="off"/> 
                                    </div>
                                    
                                    <div class="form-group  col-sm-6">
                                        <label for="qtdPosAlteracao" class="control-label">Estoque pós alteração</label>
                                        <input type="tel" id="qtdPosAlteracao" class="js-double-negative form-control" autocomplete="off" onkeyup="calculaEstoqueReverso();"/> 
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('observacao')} ? has-error">
                                        <label for="observacao" class="control-label">Observação</label>
                                        <textarea class="form-control" maxlength="100" id="observacao" th:field="*{observacao}" placeholder="insira uma observação (se necessário)" /> 
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary btn-fixed-botton square" style="margin-top: 5px;">Gravar</button>
                            </div>
                        </div>
                    </div>

                </form>
                
                <link rel="stylesheet" type="text/css" th:href="@{/static/vendor/datetimepicker/css/bootstrap-datetimepicker.min.css}" />
                <script th:src="@{/static/vendor/datetimepicker/js/bootstrap-datetimepicker.min.js}"></script>
                <script th:src="@{/static/vendor/datetimepicker/js/locales/bootstrap-datetimepicker.pt-BR.js}"></script>
                <script>
function calculaEstoque() {

    var qtd = $("#qtd").val();
    var estoque_qtd = $("#estoque_qtd").val();

    qtd = convertMonetary2Double(qtd);
    estoque_qtd = convertMonetary2Double(estoque_qtd);

    var soma = qtd + estoque_qtd;
    $("#qtdPosAlteracao").val(soma.formatMoney(2, "", ".", ","));
}

function calculaEstoqueReverso() {

    var qtd = $("#qtdPosAlteracao").val();
    var estoque_qtd = $("#estoque_qtd").val();

    qtd = convertMonetary2Double(qtd);
    estoque_qtd = convertMonetary2Double(estoque_qtd);

    var soma = qtd - estoque_qtd;
    $("#qtd").val(soma.formatMoney(2, "", ".", ","));
}

window.onload = function () {
    calculaEstoque();
    $("#hora").mask('00:00');
};

                </script>
            </div>
        </div>

    </body>
</html>
