    <html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      data-layout-decorate="~{fragments/layout}">
    <head>
        <title>Sinais Vitais | [[${@projectSettings.getName()}]]</title>
    </head>
    <body>
        <div id="page-wrapper" data-layout-fragment="content">
            <div class="container-fluid">
                <div class="panel panel-default" style="margin-top: 10px">
                    <div class="panel-heading">
                        <div class="clearfix">
                            <div class="pull-right">
                                <a th:href="@{/sinaisVitais(id=${idPaciente},descricao=${nmPaciente})}">Voltar</a>
                                <!--<button form="form-fields" type="submit" class="btn btn-primary">Gravar</button>-->
                            </div>
                            <ol class="breadcrumb" style="margin-bottom: 0px; padding-left: 0px; padding-bottom: 0px;padding-top: 0px; margin-top: 5px;">
                                <li class="breadcrumb-item active">Sinais Vitais</li>
                            </ol>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-body">
                            <form id="form-fields" method="POST" th:action="@{/sinaisVitais}" th:object="${obj}" style="margin-top: 10px">
                                <div class="alert alert-success" th:text="${mensagem}" 
                                     th:if="${not #strings.isEmpty(mensagem)}"></div>
                                <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                                    <div th:each="detailedError : ${#fields.detailedErrors()}">
                                        <span th:text="${detailedError.message}"></span>
                                    </div>
                                </div>
                                <div class="alert alert-danger alert-dismissable fade in"
                                    th:if="${not #strings.isEmpty(mensagemError)}">
                                   <label th:text="${mensagemError}"/>
                                   <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                               </div>
                                <div class="panel-body">
                                    <input type="hidden" id="id" th:field="*{idSinalVital}"/>
                                    <input type="hidden" th:field="*{paciente.idPaciente}"/>
                                    <input type="hidden" th:field="*{paciente.pessoa.nmPessoa}"/>
                                    <input type="hidden" th:field="*{login.idLogin}"/>

                                    <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('data')} ? has-error">
                                        <label for="data" class="col-sm-6 control-label">Data</label>
                                        <input type="text" class="form-control"	id="datetimepicker" th:field="*{data}"
                                               data-date-language="pt-BR"
                                               data-date-autoclose="true" data-date-today-highlight="true" data-date-orientation="bottom"/>
                                    </div>

                                    <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('pressaoArterial')} ? has-error">
                                        <label for="pressaoArterial" class="control-label">Pressão Arterial</label>
                                        <input type="text" class="form-control" maxlength="100" th:field="*{pressaoArterial}"/> 
                                    </div>

                                    <div class="form-group col-sm-4" th:classappend="${#fields.hasErrors('temperatura')} ? has-error">
                                        <label for="temperatura" class="control-label">Temperatura ºC</label>
                                        <input type="text" class="form-control" maxlength="100" th:field="*{temperatura}"/> 
                                    </div>

                                    <div class="form-group col-sm-4" th:classappend="${#fields.hasErrors('frequenciaRespiratoria')} ? has-error">
                                        <label for="frequenciaRespiratoria" class="control-label">Frequência Respiratória</label>
                                        <input type="text" class="form-control" maxlength="100" th:field="*{frequenciaRespiratoria}"/> 
                                    </div>
                                    
                                    <div class="form-group col-sm-4" th:classappend="${#fields.hasErrors('frequenciaCardiaca')} ? has-error">
                                        <label for="frequenciaCardiaca" class="control-label">Frequência Cardíaca</label>
                                        <input type="text" class="form-control" maxlength="100" th:field="*{frequenciaCardiaca}"/> 
                                    </div>

                                    <div class="form-group col-sm-4" th:classappend="${#fields.hasErrors('pupilas')} ? has-error">
                                        <label for="pupilas" class="control-label">Pupila</label>
                                        <input type="text" class="form-control" maxlength="100" th:field="*{pupilas}"/> 
                                    </div>

                                    <div class="form-group col-sm-4" th:classappend="${#fields.hasErrors('dor')} ? has-error">
                                        <label for="dor" class="control-label">Dor</label>
                                        <input type="text" class="form-control" maxlength="100" th:field="*{dor}"/> 
                                    </div>

                                    <div class="form-group col-sm-4" th:classappend="${#fields.hasErrors('saturacao')} ? has-error">
                                        <label for="saturacao" class="control-label">Saturação</label>
                                        <input type="text" class="form-control" maxlength="100" th:field="*{saturacao}"/> 
                                    </div>

                                    <div class="row">
                                        <h4 style="text-align: center;">Líquidos Administrados</h4>
                                    </div>
                                    
                                    <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('liquidoAdministrado_viaOral')} ? has-error">
                                        <label for="liquidoAdministrado_viaOral" class="control-label">Via Oral</label>
                                        <input type="text" class="form-control" maxlength="100" th:field="*{liquidoAdministrado_viaOral}"/> 
                                    </div>

                                    <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('liquidoAdministrado_viaParenteral')} ? has-error">
                                        <label for="liquidoAdministrado_viaParenteral" class="control-label">Via Enteral</label>
                                        <input type="text" class="form-control" maxlength="100" th:field="*{liquidoAdministrado_viaParenteral}"/> 
                                    </div>
                                    <div class="row">
                                        <h4 style="text-align: center;">Líquidos Eliminados</h4>
                                    </div>
                                    <div class="form-group col-sm-4" th:classappend="${#fields.hasErrors('liquidoEliminado_urinaVolume')} ? has-error">
                                        <label for="liquidoEliminado_urinaVolume" class="control-label">Urina Volume</label>
                                        <input type="text" class="form-control" maxlength="100" th:field="*{liquidoEliminado_urinaVolume}"/> 
                                    </div>

                                    <div class="form-group col-sm-4" th:classappend="${#fields.hasErrors('liquidoEliminado_fezes')} ? has-error">
                                        <label for="liquidoEliminado_fezes" class="control-label">Fezes</label>
                                        <input type="text" class="form-control" maxlength="100" th:field="*{liquidoEliminado_fezes}"/> 
                                    </div>

                                    <div class="form-group col-sm-4" th:classappend="${#fields.hasErrors('liquidoEliminado_vomito')} ? has-error">
                                        <label for="liquidoEliminado_vomito" class="control-label">Vômito</label>
                                        <input type="text" class="form-control" maxlength="100" th:field="*{liquidoEliminado_vomito}"/> 
                                    </div>
                                    <div class="form-group col-sm-4" th:classappend="${#fields.hasErrors('hgt')} ? has-error">
                                        <label for="hgt" class="control-label">HGT</label>
                                        <input type="text" class="form-control" maxlength="100" th:field="*{hgt}"/> 
                                    </div>

                                    <div class="form-group col-sm-8" th:classappend="${#fields.hasErrors('observacao')} ? has-error">
                                        <label for="observacao" class="control-label">Observação</label>
                                        <input type="text" class="form-control" maxlength="1000" th:field="*{observacao}"/> 
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-fixed-botton square" style="margin-top: 5px;">Gravar</button>
                                </div>
                            </form>
                        </div>

                        <!--http://www.malot.fr/bootstrap-datetimepicker/demo.php-->
                        <link rel="stylesheet" type="text/css" th:href="@{/static/vendor/datetimepicker/css/bootstrap-datetimepicker.min.css}" />
                        <script th:src="@{/static/vendor/datetimepicker/js/bootstrap-datetimepicker.min.js}"></script>
                        <script th:src="@{/static/vendor/datetimepicker/js/locales/bootstrap-datetimepicker.pt-BR.js}"></script>
                        <script type="text/javascript">
                            $(function () {
                                $('#datetimepicker').datetimepicker({format: 'dd/mm/yyyy hh:ii', language: 'pt-BR', todayBtn: true});
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
