<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{fragments/layout}">
    <head>
        <title>Sinais Vitais | [[${@projectSettings.getName()}]]</title>
    </head>
    <body>
        <div id="page-wrapper" class="no-padding" data-layout-fragment="content">
            <input type="hidden" id="base-url" th:value="@{/}"/>
            <div class="container-fluid">
                <form id="form-relatorio" method="GET" class="form-horizontal panel-body form-group" target='_blank' th:action="@{/sinaisVitais/pdf}" th:object="${filtro}">
                    <input type="hidden" id="rel-codigo" th:field="*{id}" />
                    <input type="hidden" id="rel-descricao" th:field="*{descricao}" />
                    <input type="hidden" id="rel-date1" th:field="*{date1}" />
                    <input type="hidden" id="rel-date2" th:field="*{date2}" />
                </form>
                <form id="form-novo" th:action="@{/sinaisVitais/novo}" method="POST">
                    <input type="hidden" id="novo-codigo" name="codigo" th:value="${idPaciente}" />
                    <input type="hidden" id="novo-nome" name="nome" th:value="${nmPaciente}" />

                </form>
                <div class="panel panel-default" style="margin-top: 10px">

                    <div class="panel-heading">
                        <div class="clearfix">
                            <div class="pull-right">
                                <button type="button" form="form-relatorio" onclick="validaRelatorio();" class="btn-link">Relatório</button>
                                <button type="button" form="form-novo" onclick="validaInsercao();" class="btn-link">Novo</button>
                            </div>
                            <h1 class="panel-title aw-titulo-panel">Sinais Vitais</h1>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-success alert-dismissable fade in"
                             th:if="${not #strings.isEmpty(mensagem)}">
                            <label th:text="${mensagem}"/>
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                        </div>
                        <div class="alert alert-danger alert-dismissable fade in"
                             th:if="${not #strings.isEmpty(mensagemError)}">
                            <label th:text="${mensagemError}"/>
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                        </div>
                        <div id="js-replace"></div>

                        <form id="form-filtro" class="form-horizontal panel-body form-group" th:object="${filtro}">
                            <input type="hidden" id="codigo" th:field="*{id}" />
                            <div class="form-group col-sm-6" style="margin: 5px; padding: 0px;">
                                <input id="filter-paciente" class="form-control" placeholder="Qual paciente você está procurando?" autofocus="autofocus" th:field="*{descricao}" onkeypress="changePaciente()"/>
                            </div>
                            <div class="form-group col-sm-2" style="margin: 5px; padding: 0px;">
                                <input type="text" class="form-control"	id="filter-date1" th:field="*{date1}" placeholder="Período Inicial" 
                                       data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-language="pt-BR"
                                       data-date-autoclose="true" data-date-today-highlight="true" data-date-orientation="bottom"/>
                            </div>
                            <div class="form-group col-sm-2" style="margin: 5px; padding: 0px;">
                                <input type="text" class="form-control"	id="filter-date2" th:field="*{date2}" placeholder="Período Final"
                                       data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-language="pt-BR"
                                       data-date-autoclose="true" data-date-today-highlight="true" data-date-orientation="bottom"/>
                            </div>
                            <div class="form-group col-sm-1" style="margin: 5px; padding: 0px;">
                                <input type="button" value="Filtrar" class="btn-primary form-control" onclick="limpaTBody(document.getElementById('body_table')); maisResultados();"></input>
                            </div>
                        </form>

                        <div class="table-responsive">
                            <table class="table table-hover table-striped" id="table-sinaisvitais">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th colspan="2">Liquido Administrado</th>
                                        <th colspan="3">Liquido Eliminado</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <th style="min-width: 150px">Data e Hora</th>
                                        <th style="min-width: 60px" data-toggle="tooltip" title="Pressão Arterial">P.A.</th>
                                        <th style="min-width: 60px" data-toggle="tooltip" title="Temperatura">T.</th>
                                        <th style="min-width: 60px" data-toggle="tooltip" title="Frequência Cardiaca">F.C.</th>
                                        <th style="min-width: 60px" data-toggle="tooltip" title="Frequência Respiratória">F.R</th>
                                        <th style="min-width: 80px" data-toggle="tooltip" title="Pupílas">Pup.</th>
                                        <th style="min-width: 60px">Dor</th>
                                        <th style="min-width: 60px" data-toggle="tooltip" title="Saturação">Sat.</th>
                                        <th style="min-width: 120px">Via<br>Oral</th>
                                        <th style="min-width: 130px">Via<br>Enteral</th>
                                        <th style="min-width: 120px">Urina<br>Voluma</th>
                                        <th style="min-width: 100px">Fezes</th>
                                        <th style="min-width: 100px">Vômito</th>
                                        <th style="min-width: 150px">Observações</th>
                                        <th style="min-width: 70px" data-toggle="tooltip" title="Hemoglicoteste">HGT</th>
                                        <th style="min-width: 150px">Responsável</th>
                                        <th style="min-width: 70px"></th>
                                    </tr>
                                </thead>

                                <tbody id="body_table">
                                    <tr th:each="obj : ${lista}">
                                        <td th:text="${{obj.data}}"></td>
                                        <td th:text="${obj.pressaoArterial}"></td>
                                        <td th:text="${obj.temperatura}"></td>
                                        <td th:text="${obj.frequenciaCardiaca}"></td>
                                        <td th:text="${obj.frequenciaRespiratoria}"></td>
                                        <td th:text="${obj.pupilas}"></td>
                                        <td th:text="${obj.dor}"></td>
                                        <td th:text="${obj.saturacao}"></td>
                                        <td th:text="${obj.liquidoAdministrado_viaOral}"></td>
                                        <td th:text="${obj.liquidoAdministrado_viaParenteral}"></td>
                                        <td th:text="${obj.liquidoEliminado_urinaVolume}"></td>
                                        <td th:text="${obj.liquidoEliminado_fezes}"></td>
                                        <td th:text="${obj.liquidoEliminado_vomito}"></td>
                                        <td th:text="${obj.observacao}"></td>
                                        <td th:text="${obj.hgt}"></td>
                                        <td th:text="${obj.login.pessoa.nmPessoa}"></td>
                                        <td class="text-right">
                                            <a class="btn btn-link btn-xs" title="Editar" rel="tooltip" data-placement="top" th:href="@{/sinaisVitais/editar/{codigo}(codigo=${obj.idSinalVital})}">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </a>
                                            <a class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmacaoExclusaoModal"
                                               th:attr="data-codigo=${obj.idSinalVital}, data-descricao='o registro selecionado'"
                                               title="Excluir" rel="tooltip" data-placement="top">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center">
                            <button id="carregar_mais" type="button" class="btn hidden" style="background: lightblue; width: 40%;" onclick="maisResultados()">
                                <i id="img-carregar" class="fa fa-chevron-down fa-2x" aria-hidden="true"></i>
                                <div id="loader" class="spinner-loader loader-hidden">
                                    <i class="rect1"></i>
                                    <i class="rect2"></i>
                                    <i class="rect3"></i>
                                    <i class="rect4"></i>
                                    <i class="rect5"></i>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div th:replace="fragments/dialogoConfirmacaoExclusao :: dialog('/sinaisVitais')"></div>
            <script async th:src="@{/static/js/sinalVital.min.js}"></script>
    </body>
</html>