<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{fragments/layout}">
    <head>
        <title>Estabelecimento | [[${@projectSettings.getName()}]]</title>
    </head>
    <body>
        <div id="page-wrapper" data-layout-fragment="content">
            <div class="container-fluid">
                <div class="panel panel-default" style="margin-top: 10px">

                    <div class="panel-heading">
                        <div class="clearfix">
                            <div class="pull-right">
                                <a th:href="@{/estabelecimentos/novo}">Novo</a>
                            </div>
                            <h1 class="panel-title aw-titulo-panel">Estabelecimento</h1>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-success alert-dismissable fade in"
                            th:if="${not #strings.isEmpty(mensagem)}">
                            <label th:text="${mensagem}"/>
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                        </div>
                        
                        <form method="GET" class="form-horizontal" th:action="@{/estabelecimentos}" th:object="${filtro}">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="Qual estabelecimento você está procurando?"
                                               autofocus="autofocus" th:field="*{descricao}"></input>
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn btn-default">
                                                <i class="glyphicon glyphicon-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nome</th>
                                        <th>CNPJ</th>
                                        <th>Fone</th>
                                        <th>Validade</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr th:each="estabelecimento : ${estabelecimentos}">
                                        <td th:text="${estabelecimento.idEstabelecimento}"></td>
                                        <td th:text="${estabelecimento.pessoa.nmPessoa}"></td>
                                        <td th:text="${estabelecimento.pessoa.cnpj}"></td>
                                        <td th:text="${estabelecimento.pessoa.fone}"></td>
                                        <td th:text="${{estabelecimento.dtLicenca}}"></td>
                                        <td class="text-right">
                                            <a class="btn btn-link btn-xs" th:href="@{/estabelecimentos/{codigo}(codigo=${estabelecimento.idEstabelecimento})}" 
                                               title="Editar" rel="tooltip" data-placement="top">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </a>
                                            <a class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmacaoExclusaoModal"
                                               th:attr="data-codigo=${estabelecimento.idEstabelecimento}, data-descricao=${estabelecimento.pessoa.nmPessoa}"
                                               title="Excluir" rel="tooltip" data-placement="top">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
            <div th:replace="fragments/dialogoConfirmacaoExclusao :: dialog('/estabelecimentos')"></div>
        <!--</div>-->
    </body>
</html>