<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      data-layout-decorate="~{fragments/layout}">
    <head>
        <title>Estabelecimento | [[${@projectSettings.getName()}]]</title>
    </head>
    <body>
        <div id="page-wrapper" data-layout-fragment="content">
            <div class="container-fluid">
                <div class="panel panel-default" style="margin-top: 10px">
                    <div class="panel-heading">
                        <div class="clearfix">
                            <div class="pull-right">
                                <a th:href="@{/estabelecimentos}">Voltar</a>
                            </div>
                            <h1 class="panel-title aw-titulo-panel">Manutençao de Estabelecimento</h1>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form method="POST" th:action="@{/estabelecimentos}" th:object="${estabelecimento}" style="margin-top: 10px">
                            
                            <div class="alert alert-success" th:text="${mensagem}" 
                                 th:if="${not #strings.isEmpty(mensagem)}"></div>

                            <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                                <div th:each="detailedError : ${#fields.detailedErrors()}">
                                    <span th:text="${detailedError.message}"></span>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                
                                <input type="hidden" id="id" th:field="*{idEstabelecimento}"/>
                                <input type="hidden" th:field="*{pessoa.idPessoa}" />
                                
                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('pessoa.nmPessoa')} ? has-error">
                                    <label for="pessoa.nmPessoa" class="col-sm-6 control-label">Nome</label>
                                    <input type="text" class="form-control" maxlength="100" id="nome" th:field="*{pessoa.nmPessoa}" placeholder="nome" /> 
                                </div>
                                
                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('pessoa.dsFantasia')} ? has-error">
                                    <label for="pessoa.dsFantasia" class="col-sm-6 control-label">Apelido</label>
                                    <input type="text" class="form-control" maxlength="50" th:field="*{pessoa.dsFantasia}" placeholder="apelido"/>
                                </div>
                                
                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('pessoa.cnpj')} ? has-error">
                                    <label for="pessoa.cnpj" class="col-sm-6 control-label">CNPJ</label>
                                    <input type="text" class="form-control" maxlength="18" th:field="*{pessoa.cnpj}" placeholder="cnpj" onkeypress="return MascaraCNPJ(this);" onblur="ValidarCNPJ(this);" />
                                </div>
                                
                                
                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('pessoa.cep')} ? has-error">
                                    <label for="pessoa.cep" class="col-sm-6 control-label">CEP</label>
                                    <input type="text" class="form-control" id="cep" maxlength="9" th:field="*{pessoa.cep}" placeholder="cep" onkeypress="return MascaraCep(this)" onblur="populaInfoCEP(this);" />
                                </div>
                                
                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('pessoa.logradouro')} ? has-error">
                                    <label for="pessoa.logradouro" class="col-sm-6 control-label">Rua</label>
                                    <input type="text" class="form-control" id="logradouro" maxlength="30" th:field="*{pessoa.logradouro}" placeholder="rua" />
                                </div>
                                
                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('pessoa.numero')} ? has-error">
                                    <label for="pessoa.numero" class="col-sm-6 control-label">Numero</label>
                                    <input type="number" class="form-control" maxlength="14" th:field="*{pessoa.numero}" placeholder="numero"/>
                                </div>
                                
                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('pessoa.bairro')} ? has-error">
                                    <label for="pessoa.bairro" class="col-sm-6 control-label">Bairro</label>
                                    <input type="text" class="form-control" id="bairro" maxlength="30" th:field="*{pessoa.bairro}" placeholder="bairro"/>
                                </div>
                                
                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('pessoa.cidade')} ? has-error">
                                    <label for="pessoa.cidade" class="col-sm-6 control-label">Cidade</label>
                                    <input type="text" class="form-control" maxlength="50" th:field="*{pessoa.cidade}" placeholder="cidade"/>
                                </div>
                                
                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('pessoa.fone')} ? has-error">
                                    <label for="pessoa.fone" class="col-sm-6 control-label">Fone</label>
                                    <input type="text" class="form-control" maxlength="50" th:field="*{pessoa.fone}" placeholder="fone"/>
                                </div>
                                
                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('pessoa.email')} ? has-error">
                                    <label for="pessoa.email" class="col-sm-6 control-label">E-mail</label>
                                    <input type="email" class="form-control" maxlength="100" th:field="*{pessoa.email}" placeholder="email"/>
                                </div>
                                
                                <div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('dtLicenca')} ? has-error">
					<label for="dtLicenca" class="col-sm-2 control-label">Validade</label>
                                        <input type="text" class="form-control"	id="dtLicenca" th:field="*{dtLicenca}"
                                                data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-language="pt-BR"
                                                data-date-autoclose="true" data-date-today-highlight="true" data-date-orientation="bottom"/>
				</div>
                                
                                <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('localArquivos')} ? has-error">
                                    <label for="localArquivos" class="col-sm-12 control-label">Localização dos Arquivos</label>
                                    <input type="text" class="form-control"	id="localArquivos" th:field="*{localArquivos}"/>
				</div>

                                <button type="submit" class="btn btn-primary  col-sm-2">Gravar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
